[2018-10-06 12:32] justinmk opened #40 "ncat not needed since Nvim 0.2.2"
Nvim now has a `sockconnect()` function, so `ncat` should not be needed.

If you need to support older versions of Nvim, you can use `has('nvim-0.2.2')` to check the version (or `exists('*sockconnect')`).

[2018-10-06 12:44] liquidz commented on #40
Thank you for the information! I did not know that!

[2018-10-09 11:56] liquidz commented on #40
fixed #41

[2018-10-09 11:56] #40 closed

[2018-10-18 00:58] liquidz opened #46 ""Argument to in-ns must be a symbol" error by IcedInReplNs command"
Run `:IcedInReplNs` command in ClojureScript session

[2018-10-18 01:27] liquidz opened #47 "Skeleton does not work?"
https://github.com/liquidz/iced-nrepl/blob/6402b8203240a754a28fea17b395bbe2aa12c291/src/iced/nrepl.clj#L104
Failed here, and `iced#nrepl#system#info` returns nothing

[2018-10-18 23:50] liquidz commented on #47
closed #48

[2018-10-18 23:50] #47 closed

[2018-10-18 23:50] liquidz commented on #46
closed #48

[2018-10-18 23:50] #46 closed

[2018-10-19 02:07] liquidz opened #49 "Blank lines are removed too much in code formatting"

[2018-10-19 14:10] liquidz commented on #49
close #50

[2018-10-19 14:10] #49 closed

[2018-11-02 08:02] liquidz opened #55 "IcedThreadFirst/Last expands lambda"
Needs to fix [iced.nrepl.refactor.thread](https://github.com/liquidz/iced-nrepl/blob/52d835d3c1a932ad24d5c478bd72647e566dda22/src/iced/nrepl/refactor/thread.clj)

* before
  * `(map #(+ % 2) (range 10))`
* after
  * `(->> 10 range (map (fn* [p1__27653#] (+ p1__27653# 2))))`
* expected
  * `(->> 10 range (map #(+ % 2)))`

[2018-11-14 23:51] liquidz commented on #55
Fixed by e517d98bd5dfaa9da0cdb30029634b145f1fd84a via [iced-nrepl](https://github.com/liquidz/iced-nrepl/commit/de329da8c0f7cffb8fdbd20b6baec581ba15ae76)

[2018-11-14 23:51] #55 closed

[2018-11-20 02:44] liquidz opened #60 "Could not reference grimoire for symbol ending with "?""
Bug of iced-nrepl

Ex) Try to reference for `empty?`, `empty` grimoire is shown.

[2018-12-12 05:04] liquidz opened #64 "auto indent don't work with EDN file"

[2018-12-13 20:28] daveyarwood opened #65 "Redrawing glitches when an exception is thrown"
# Details of my setup

* Ubuntu 16.04
* Neovim v0.3.2-dev
* tmux v2.9

# Steps to reproduce

1. Start `iced repl` in another window.
2. Connect to it via `:IcedConnect`.
3. Evaluate a form that throws an exception, like `(throw (ex-info "oops" {}))`

# Expected behavior

The exception message is displayed.

# Actual behavior

The exception message is displayed, but the lines in the buffer also red

[2018-12-13 22:08] liquidz commented on #65
@daveyarwood Thanks for your reporting!
I tested the behaivior with nvim 0.3.2-dev, and it is reproduced.
But no problem with nvim 0.3.1 (current stable).

Perhaps it might be a bug in 0.3.2-dev, so could you test it with 0.3.1?

[2018-12-13 22:42] liquidz commented on #65
I will test with 0.3.2-dev more.

[2018-12-14 00:42] liquidz commented on #65
The problem occurs at here:
https://github.com/liquidz/vim-iced/blob/0.8.6/autoload/iced/nrepl.vim#L150

And this calls `nvim_buf_set_lines` finally.
https://github.com/liquidz/vim-iced/blob/0.8.6/autoload/iced/compat.vim#L18

[2018-12-14 01:02] liquidz opened #66 "Auto indent don't work with strings"
Ex
[code]

Expected
[code]

Actual
[code]

`|` means cursur position

[2018-12-17 10:43] liquidz commented on #65
@daveyarwood Thanks!
Probably nvim's this bug is the cause.
https://github.com/neovim/neovim/issues/7756

I can confirm that restoring cursor position after `nvim_buf_set_lines` prevent the problem. (this is workaround)

I will push the code after some testing!

[2018-12-18 07:48] liquidz commented on #65
@daveyarwood I pushed codes to `dev` branch.
Could you try `dev` branch with nvim 0.3.2-dev?

[2018-12-19 15:16] daveyarwood commented on #65
@liquidz I tried the dev branch of vim-iced with nvim 0.3.2-dev. The issue is fixed! :tada:

[2018-12-20 09:19] liquidz commented on #65
Fixed by #68

[2018-12-20 09:19] #65 closed

[2018-12-20 09:20] liquidz commented on #64
Fixed by #68

[2018-12-20 09:20] #64 closed

[2018-12-20 09:20] liquidz commented on #66
Fixed by #68

[2018-12-20 09:20] #66 closed

[2018-12-20 12:15] daveyarwood commented on #65
Awesome, thanks!

[2018-12-21 05:31] liquidz opened #69 "Auto indent for defrecord"
`|` means cursor position
[code]

expected
[code]

actual
[code]

[2018-12-27 11:04] liquidz commented on #69
Fixed by #70

[2018-12-27 11:04] #69 closed

[2019-01-02 21:29] matthias-margush opened #73 "Unable to resolve var: cider.piggieback/wrap-cljs-repl"
I'm hitting this error on some of my projects (but not others). I haven't looked into it any further, but if I discover anything, I'll let you know. I worked around it locally by removing the piggieback plugin (https://github.com/matthias-margush/vim-iced/pull/1/files), since I don't need the plugin at the moment.

[code]

[2019-01-03 22:41] devth commented on #73
I have this problem too. Not sure if it's related but I just upgraded to java 11 and nrepl 0.5.3 and leiningen 2.8.3. It's my first time trying vim-iced though, so I didn't have it working on previous versions.

[2019-01-04 01:13] liquidz commented on #73
@matthias-margush @devth Thank you for your reporting!
I confirmed the problem with following steps.

* Java 11
* Leiningen 2.8.3
* `lein new foo && cd foo && iced repl`

[2019-01-04 01:56] liquidz commented on #73
piggieback `0.3.10` depends on clojurescript `1.9.946`.
https://github.com/nrepl/piggieback/blob/0.3.10/project.clj#L10

And clojurescript `1.9.946` has a problem with deprecated modules on Java9.
https://dev.clojure.org/jira/browse/CLJS-2377

This problem is fixed by clojurescript `1.10.238`.
https://github.com/clojure/clojurescript/blob/master/changes.md#110238

[2019-01-04 02:08] liquidz commented on #73
@matthias-margush @devth We should change piggieback to be optional like CIDER.
https://docs.cider.mx/en/latest/clojurescript/#piggieback

I'll fix `iced` command, and `iced#nrepl#cljs` codes.

[2019-01-04 03:19] devth commented on #73
Sounds good thanks 😄

[2019-01-04 04:22] liquidz opened #75 "E158: Invalid buffer name with IcedTestAll"
Steps to reproduce:
[code]

[2019-01-04 09:00] liquidz commented on #73
@matthias-margush @devth I'm working in `dev` branch, and I added `--with-cljs` option to `iced` command.
`iced` command will detect use of CLJS automatically, so we won't need to specify this option basically.

Could you test `dev` branch?

[2019-01-04 16:36] devth commented on #73
@liquidz verified the fix on `dev` branch. Thanks!

[2019-01-04 17:08] devth opened #77 "Not Found error when testing namespace"
I'm trying out vim-iced on my project, using https://github.com/yetibot/yetibot.core/blob/master/test/yetibot/core/test/commands/render.clj as an example test.

I'm using the default key mappings.

1. I try `<Leader>tn` and it givevs me `Not found.`
1. I try `<Leader>tt` on line 10 (or any line) and it gives me `No test vars.`
1. I try `<Leader>rcn` to clean and unexpectedly it removes my `[yetibo

[2019-01-05 00:49] liquidz commented on #77
@devth Thank you for reporting!
vim-iced expects test files that namespace named "*-test" currently.
So I'll fix to work tests without "-test" namespaces.

[2019-01-05 17:51] matthias-margush commented on #73
@liquidz Works here too!

[2019-01-06 21:06] aceful opened #80 "Disabling paredit"
Apologies if I overlooked something obvious, but is there a way to disable paredit mode? If not, would you consider adding an option for that?

[2019-01-07 01:15] liquidz commented on #80
@aceful paredit mode is provided by [vim-sexp](https://github.com/guns/vim-sexp) which vim-iced depends on.
So how about to set `g:sexp_filetypes` like following?
https://github.com/guns/vim-sexp/blob/12292941903d9ac8151513189d2007e1ccfc95f0/doc/vim-sexp.txt#L655-L656

[2019-01-07 08:09] liquidz commented on #77
@devth I fixed behaviors for `<Leader>tn` and `<Leader>tt` in `dev` branch.
Could you test it?

This is the problem of [refactor-nrepl](https://github.com/clojure-emacs/refactor-nrepl).
vim-iced is just using refactor-nrepl's `clean-ns` operation.
Probably it is the cause that `yetibot.core.commands.render/render-cmd` is not called from `yetibot.core.test.commands.render` directly.

I can confirm

[2019-01-07 09:02] liquidz opened #81 "Update to use nREPL's built-in pprint"
Currently vim-iced uses cider-nrepl's one.

c.f.
* https://github.com/clojure-emacs/cider/issues/2496
* https://nrepl.org/nrepl/design/middleware.html#_pretty_printing

[2019-01-07 13:18] devth commented on #77
I verified it works! Thanks for the quick fix!

I noticed when I first run `<leader>tt` there is a slight delay that locks up my neovim for a few seconds. After the initial run the delay is gone.

[2019-01-08 00:00] liquidz commented on #77
@devth Thank you for the verification!
`<Leader>tt` evaluates `ns` form internally, so it seems to take times for requiring the current namespace.
Is the delay gone by running `<Leader>eb` (`:IcedRequire`) before `<Leader>tt`?

[2019-01-08 00:02] devth commented on #77
Yes. But when I run `<Leader>eb` the delay is quite long, about 10 seconds. During this time NeoVim is completely locked up. Since nvim is async I would expect this to happen in the background instead of locking up.

[2019-01-08 00:30] liquidz commented on #77
@devth Hmm.. `<Leader>eb` works asynchronously.
It may be another problem.
Could you open another issue?

[2019-01-08 00:43] devth commented on #77
Certainly

[2019-01-08 00:58] devth opened #82 "First require locks up neovim for ~10 seconds"
After `:IcedConnect` the first `:IcedRequire` locks up neovim for about 10 seconds. During this time I can't move the cursor or do anything inside neovim. After that subsequent `:IcedRequire`s run nearly instantly.

[code]
Ref https://github.com/liquidz/vim-iced/issues/77

[2019-01-08 01:09] aceful commented on #80
Perfect, thanks!

[2019-01-08 01:09] #80 closed

[2019-01-08 01:59] devth opened #83 "Newline in a clj file in neovim results in several-second hang"
Only when `let g:iced_enable_auto_indent` is enabled, every newline results in a several-second hang in neovim.

[2019-01-08 18:45] devth commented on #82
I tried it in my [yetibot project](https://github.com/yetibot/yetibot). It seems to repro on any file I try requiring after initial `:IcedRequire`.

Fresh project:

[code]

In neovim:

[code]

So it doesn't appear to happen on a fresh project. I'll keep playing with it.

[2019-01-08 23:34] devth commented on #82
Noticed a large error after connecting and trying to `:IcedEval` a simple expression:

[code]

After that when I try to `:IcedEval` anything it just says `Still reading...`.

[2019-01-09 01:30] liquidz commented on #82
@devth I couldn't reproduce the problem with following steps...

* git clone https://github.com/yetibot/yetibot
* cd yetibot
* iced repl
* nvim src/yetibot/api/catchpoint.clj
  * run `:IcedConnect`
  * run `:IcedRequire`
  * run `:IcedEval (+ 1 2 3)`

I uses nvim 0.3.2.
https://github.com/neovim/neovim/releases/tag/v0.3.2
[code]

It seems to me you use nvim 0.3.2(nightly), so could you update nvim

[2019-01-09 17:58] devth commented on #82
Upgraded to `NVIM v0.4.0-1183-g8510d5ff8`.
Also upgraded to latest commit on `vim-iced` dev branch.

1. Opened new neovim instance
1. Ran `iced repl` in a terminal inside vim
1. Opened [slack.clj](https://github.com/yetibot/yetibot.core/blob/664b3d8ae95cfb290ab7f9342fc0c457470547aa/src/yetibot/core/adapters/slack.clj)
1. `:IcedConnect`
1. `<Leader>eb` - immediately says `Required` in the statuslin

[2019-01-10 23:55] liquidz commented on #82
@devth Thanks!
But I cannot reproduce yet..
I'll keep testing with yetibot.core

[2019-01-11 15:36] devth commented on #82
Strange. I will also keep testing on my side and see if I can narrow down what's going on!

[2019-01-15 04:56] liquidz commented on #82
@devth

The fact that "Required" is output means `IcedRequire` should have finished.
So something else should be running afterwards. (It may be other configurations or other plugins)

I made a minimal configuration for vim-iced for breaking down this problem.
https://scrapbox.io/vim-iced/Minimal_configuration
Could you launch `nvim` with this minimal configuration and test again?

[2019-01-15 08:49] liquidz commented on #73
closed by #84

[2019-01-15 08:49] #73 closed

[2019-01-15 08:49] #75 closed, assigned to nobody

[2019-01-15 08:49] liquidz commented on #77
closed by #84

[2019-01-15 08:49] #77 closed

[2019-01-15 08:50] liquidz commented on #81
closed by #84

[2019-01-15 08:50] #81 closed

[2019-01-17 23:30] devth commented on #82
Sorry for the delay. I was able to repro the same issue in the paired down `nvim` with minimal config.

[2019-01-20 02:54] matthias-margush opened #85 "#dbg error"
I was trying the debugging feature, but wasn't able to get it to work. This is the error:

[code]

I am trying the example in the docs:
[code]

[2019-01-21 04:07] liquidz commented on #82
@devth
I can reproduce the problem finally!!
Do you have `:plugins [[cider/cider-nrepl "..."]]` in your `~/.lein/profiles.clj`?

cider-nrepl plugin injects all cider-nrepl middlewares containing `track-state`.
https://github.com/clojure-emacs/cider-nrepl/blob/v0.20.0/src/cider/nrepl.clj#L511
track-state middleware will send a huge data after requiring namespace, and it take times.

`iced` command

[2019-01-21 23:46] liquidz commented on #82
@devth Other plugins may require `cider-nrepl` while `iced` command injects dependencies automatically.
https://github.com/liquidz/vim-iced/blob/0.9.2/deps.edn#L5

I'll fix to work with `track-state` middleware in the future.

[2019-01-22 08:15] liquidz commented on #85
@matthias-margush Sorry for late reply.
I could reproduce the problem.

Following codes works well, so it may be a problem of `cider-nrepl`.
[code]

I'll test more.

[2019-01-23 00:44] matthias-margush commented on #85
Interesting. You're right. I tried placing `#dbg` in various places and it works fine. When I think about it more, it makes sense I think... `recur` must be in tail position by definition in clojure, and capturing the result there would make it not so.

This works, for example, as does placing it anywhere else that makes sense:

[code]

Maybe just worth updating the example to something else?

[2019-01-23 01:53] liquidz commented on #85
@matthias-margush Thanks for your confirmation!

I'm also thinking that it is suspicion, but I have no idea to fix it..

Yes, I'll update!

[2019-01-23 02:19] liquidz commented on #85
I'll update to the following.
[code]

[2019-01-23 05:33] matthias-margush opened #87 "Eval visual selection"
When I'm demoing code, I like to visually select what I'm eval-ing, so it's clearer on the screen. I didn't see anything like that yet in `vim-iced` (or if it's there, let me know.) I added this to my config based on the example in `:help :map-operator`. Would this be useful to have in `vim-iced`?

[code]

[2019-01-24 00:05] liquidz commented on #87
@matthias-margush Sounds good!

We have 2 function to evaluate codes.
* [iced#nrepl#eval#code](https://github.com/liquidz/vim-iced/blob/0.9.2/autoload/iced/nrepl/eval.vim#L75)
  * Evaluate codes in main(clj/cljs) session
* [iced#nrepl#eval#repl](https://github.com/liquidz/vim-iced/blob/0.9.2/autoload/iced/nrepl/eval.vim#L94)
  * Evaluate codes in REPL session

So we need 2 functions to evaluate vi

[2019-02-10 08:32] hasufell opened #89 "Doesn't work"
[code]

[2019-02-10 08:46] jahson commented on #89
Try to remove `wrap-pprint` and `wrap-pprint-fn` from the `:nrepl-middleware` vector.
[code]
The reason is they are deprecated
https://github.com/clojure-emacs/cider-nrepl/blob/7bfb2a4a5ec5f517b054b45e1bc805f6df09eda6/README.md#supplied-nrepl-middleware

[2019-02-10 08:50] hasufell commented on #89
That seems to work, but it isn't documented anywhere here.

[2019-02-10 09:20] liquidz commented on #89
@hasufell Oh, I forgot to remove these lines from document.
https://github.com/liquidz/vim-iced/blob/0.9.3/doc/vim-iced.txt#L107
https://github.com/liquidz/vim-iced/commit/85ee9722663ad5660c2f0172a9892960e35d5d80#diff-7d0896ed5ea1c6fc26e5cbcf9d08cf4c
I'll fix documents!

@jahson Thanks for your helping!

[2019-02-10 09:45] hasufell commented on #89
Even after this, basically nothing works.

Evaluating namespace does something like: `Session error. You should be in cljs session`.

[2019-02-10 11:28] liquidz commented on #89
@hasufell You need to start cljs repl if you are editing *.cljs file.

Could you try to start cljs repl?
https://github.com/liquidz/vim-iced/blob/0.9.3/doc/vim-iced.txt#L200

[2019-02-10 16:39] hasufell commented on #89
And next error...

![screenshot_2019-02-11_00-38-17](https://user-images.githubusercontent.com/1241845/52536435-72264b00-2d95-11e9-9663-2f7c77cb693b.png)

[2019-02-10 19:00] liquidz commented on #89
@hasufell What cljs environment do you use?
If figwheel, figwheel requires websocket communication between figwheel and browser.

So you need to access a page which includes figwheel generated JS via browser.
This is a behavior of figwheel, not vim-iced.

[2019-02-11 03:37] hasufell commented on #89
I already have. But changing source files does nothing.

In addition I get this error in iced repl when I do `:IcedDisconnect`:

[code]

Running `:IcedStartCljsRepl` I get:

[code]

and the above error in vim.

[2019-02-11 03:59] hasufell commented on #89
Yes, the project uses figwheel.

[2019-02-11 04:53] hasufell commented on #89
I also tried Clojure CLI, doesn't work either with clojurescript:

[code]

[2019-02-11 06:10] liquidz commented on #89
@hasufell It seems that your nrepl version is outdate.
Latest leiningen does not use clojure.tools.nrepl.
Could you upgrade leiningen?

https://github.com/technomancy/leiningen/blob/master/NEWS.md#282--2018-12-11

Could you provide your deps.edn?

[2019-02-11 06:45] hasufell commented on #89
[code]

[2019-02-11 07:36] hasufell commented on #89
Did that. Just get different errors:

[code]

Clojure tooling is seriously an entire mess. I already had these kind of things when trying other tools. It's pretty much all the same, which is sad.

[2019-02-11 08:15] liquidz commented on #89
@hasufell I had not test with figwheel.main yet.
I'll test it.

Did you launch repl with --with-cljs option?
https://github.com/liquidz/vim-iced/blob/0.9.3/doc/vim-iced.txt#L226

To improve clojure tooling, pull requests welcome!!

[2019-02-11 08:16] hasufell commented on #89
Yes I did.

[2019-02-11 08:20] hasufell commented on #89
https://github.com/liquidz/vim-iced/blob/master/bin/iced#L133 so this is missing figwheel-sidecar

[2019-02-11 08:31] hasufell commented on #89
Fixing that it *seems* to start, but then fails at evaluating anything:

[code]

I give up lol.

[2019-02-11 08:32] #89 closed

[2019-02-11 08:33] liquidz commented on #89
@hasufell Hmm, I have no idea about this error excepting --with-cljs option.
I'll test it more.
If you have minimal step to reproduce this error, please provide it.

figwheel-sidecar is not always necessary such as nashorn or graaljs environment.
So I did not add it on purpose.

[2019-02-11 08:37] hasufell commented on #89
I don't. The codebase is 18k LOC and not open source. I tried many other different editor plugins, basically none of them work, only some emacs ones.

Thanks for the help though.

[2019-02-11 08:55] liquidz opened #90 "Support figwheel-main"

[2019-02-12 00:38] liquidz opened #91 "Support cider-nrepl 0.21.0"
https://github.com/clojure-emacs/cider-nrepl/blob/master/CHANGELOG.md#0210-2019-02-11

[2019-02-13 05:56] liquidz opened #92 "calculating coverage is breaking"
`covimerage` fails

[code]

[2019-02-13 08:36] liquidz commented on #92
This commit is the cause.. hmm..
https://github.com/liquidz/vim-iced/commit/9732676d3e95367a0e2ae9cb939d89f8cf9b0b04#diff-64adfd57e1afcad7ba284a841c910fe4

[2019-02-14 04:41] liquidz commented on #91
Failed to call iced-nrepl op in CLJS session.

Leiningen: 2.9.0
cider-nrepl: 0.21.0

[code]

[2019-02-15 08:25] liquidz commented on #91
`iced-lint-file` and `iced-refactor-thread-first` op works fine.
`iced-format-code-with-indens` and `iced-calculate-indent-level` op does not work...

[2019-02-17 01:36] matthias-margush opened #94 "Unable to resolve var: cider.nrepl/wrap-undef"
Hi. I'm currently getting this error running `iced repl` in a fresh `lein new hello-world`. I don't have any `~/.lein/profiles.clj`.

[code]

[2019-02-17 12:37] liquidz commented on #94
@matthias-margush Are you sure that  you are using Leiningen 2.9.0?
Leiningen 2.9.0 is using nrepl 0.6.0, and cider-nrepl 0.20.0 is not supporting nrepl 0.6.0.

I'm working to support cider-nrepl 0.21.0 on #91, so could you use Leiningen 2.8.3 until fix it?

[2019-02-17 20:55] matthias-margush commented on #94
Ah okay: yes my lein updated itself. Thanks!

[2019-02-18 08:38] liquidz commented on #91
I found the cause. iced-nrepl did not matter.

If an evaluation error occurs in the [**cloned**](https://nrepl.org/nrepl/0.6.0/ops.html#_clone) cljs session, this exception occurs.
I have no idea the root cause, but no exception occurs with **original** cljs session.

So I adjust the order of session cloning when switching to cljs session as a workaround.

[2019-02-19 11:21] liquidz commented on #90
Fixed by #93

[2019-02-19 11:21] #90 closed

[2019-02-19 11:21] liquidz commented on #91
Fixed by #93

[2019-02-19 11:21] #91 closed

[2019-02-19 11:21] liquidz commented on #92
Fixed by #93

[2019-02-19 11:21] #92 closed

[2019-02-19 11:23] liquidz commented on #94
@matthias-margush I released vim-iced 0.10.0 (#93)

[2019-02-22 22:48] matthias-margush commented on #94
Works great!

[2019-02-22 22:48] #94 closed

[2019-02-27 02:38] matthias-margush opened #95 "See stacktrace when test throws exception?"
Running:
[code]

Results in a test summary (as expected):
[code]

Is there a way to inspect the exception and see the stack trace?

[2019-02-27 04:05] liquidz commented on #95
@matthias-margush As a simple way, evaluating `(testing "FIXME, I fail." (is (foo))` will show stack trace in stdout buffer.
https://github.com/liquidz/vim-iced/blob/0.10.0/doc/vim-iced.txt#L252

With `:IcedTest...` commands, cider-nrepl will summarize the test results, so vim-iced cannot receive stack trace.

[2019-02-27 18:04] matthias-margush commented on #95
👍 That works great, thanks!

[2019-02-27 23:49] #95 closed

[2019-02-27 23:51] liquidz opened #96 "Floating window support for neovim"
Just an idea
https://github.com/neovim/neovim/pull/6619

[2019-02-28 00:24] liquidz commented on #96
[code]
It seems useful to display evaluation result near cursor like (spac)emacs.

[2019-02-28 12:11] liquidz commented on #96
Draft PR: #97
https://twitter.com/uochan/status/1101091700888367105

[2019-03-04 13:50] geraldodev opened #99 "--with-clj option to force clojure cli when there is a projec.clj"
Hi,

I'm evaluating the project. I'm favoring tools.dep for dependencies and avoiding lein as much as I can. The fulcro template (lein new fulcro app) creates project.clj but it's meant to be used just as a uberjar.
So I'm asking if you could create an option like --with-cljs but for tools-dep, this way the project.clj would be ignored and a n-repl server started (like when there is no project.clj

[2019-03-04 14:05] geraldodev commented on #99
After opening this I realized that iced repl would not be the best way to use clj cli, because thre isn't a way to pass the aliases I want to load. -A:dev for example. Please delete the issue

[2019-03-04 14:05] #99 closed

[2019-03-04 14:36] liquidz commented on #99
@geraldodev You can pass aliases like follows.
[code]
c.f. https://github.com/liquidz/vim-iced/blob/0.10.0/bin/iced#L131

Sorry for less documents.
I'll add documents and update `iced repl --help` outputs.

[2019-03-04 16:27] geraldodev commented on #99
@liquidz Thank you for this tool !

I envy emacs for cider debugger since forever but cannot stand the complexity.

I've been wondering why vim has not produced good (updated) plugins for clojure.
I've tried to switch to code, but I'm kovisoft/slimv paredit addicted.

Now you bring vim-iced to the light.

Thank you !

[2019-03-05 11:53] liquidz commented on #87
@matthias-margush I added `:IcedEvalVisual` and `:IcedEvalReplVisual` command.
https://github.com/liquidz/vim-iced/blob/0.10.1/doc/vim-iced.txt#L492-L500
https://github.com/liquidz/vim-iced/blob/0.10.1/doc/vim-iced.txt#L1369-L1370

[2019-03-05 11:53] #87 closed

[2019-03-05 11:54] liquidz commented on #99
@geraldodev I added `--force-boot` and `--force-clojure-cli` options.
https://github.com/liquidz/vim-iced/blob/0.10.1/CHANGELOG.adoc#0101-2019-03-05

[2019-03-06 00:54] liquidz opened #100 "Form may become strange in case of line breaks"
I don't know how to reproduce for now

[2019-03-07 01:34] liquidz opened #101 "Too many `in-ns` evaluation when running tests with stdout buffer"
These are the cause:
* https://github.com/liquidz/vim-iced/blob/0.10.1/autoload/iced/nrepl/auto.vim#L26
* https://github.com/liquidz/vim-iced/blob/0.10.1/autoload/iced/buffer.vim#L102-L107

[2019-03-10 09:10] liquidz commented on #101
Closed by #102

[2019-03-10 09:10] #101 closed

[2019-03-10 09:10] liquidz commented on #96
Closed by #102

[2019-03-10 09:10] #96 closed

[2019-03-18 01:40] liquidz opened #103 "Use `User` autocmd instead of hook feature"
autocmd is more suitable for hooking.
https://vim-jp.org/vimdoc-en/autocmd.html#User
https://vim-jp.org/vimdoc-en/eval.html#v:event

[2019-03-19 17:22] knubie commented on #82
I'm having a similar issue with my shadow-cljs project.

It seems that shadow-cljs includes the `cider-nrepl` plugin (which includes all the middleware) when `cider/cider-nrepl` is detected in your dependencies.

At the moment there's no way to turn this feature off.

[2019-03-20 04:33] liquidz commented on #82
FYI
https://github.com/thheller/shadow-cljs/blob/2.8.19/src/main/shadow/cljs/devtools/server/nrepl.clj#L303-L311

[2019-03-20 07:20] liquidz opened #104 "Support Tonsky's formatting rule"
* http://tonsky.me/blog/clojurefmt/
* https://github.com/weavejester/cljfmt/issues/154

[2019-03-21 20:00] knubie opened #105 "Steps to work with shadow-cljs"
Hi, first of all, thanks for creating `vim-iced`, it's a fantastic plugin.

I just want to document my experience getting it set up and working with `shadow-cljs`, because it wasn't very straightforward, and this post might help other people in the future.

The following incantation worked for my project:
1. `:IcedConnect`
1. `:IcedEvalRepl (shadow/repl {build-id})`
1. `:IcedEval` and `:IcedEvalVi

[2019-03-22 00:59] liquidz commented on #105
@knubie Thank you for opening this issue.
It is very welcome to improve documents about `shadow-cljs`!

Could you tell me the minimal steps to reproduce the problem?
I could confirm to work with following steps.

1. Generate a test project
   * https://github.com/thheller/shadow-cljs#quick-start
2. Set up shadow-cljs.edn
   * https://liquidz.github.io/vim-iced/vim-iced.html#vim-iced-manual-shadow-

[2019-03-22 02:55] knubie commented on #105
@liquidz Thank you for helping me troubleshoot! I can confirm that everything works as expected with the shadow-cljs test project, and I also discovered why it wasn't working for my project. 😁

I was running
[code]
Instead of
[code]

Passing `:my-build` would then become `::my-build` (`:shadow.user/my-build`).

I will let you decide if the docs should be amended.

またありがとうございました！

[2019-03-22 02:59] #105 closed

[2019-03-22 03:08] liquidz commented on #105
@knubie Great!

Oh, it is confusing. Sorry!
I'll fix to trim the beggining colon.

[2019-03-23 00:12] knubie commented on #82
@liquidz After speaking to the maintainer of shadow-cljs on slack, you can now disable the automatic inclusion of cider middleware as of [2.8.20](https://github.com/thheller/shadow-cljs/releases/tag/2.8.20)!

I just tried it out and the delay is gone now.

[2019-03-23 00:54] liquidz commented on #82
@knubie Wow! That's awesome!!
Thanks for your reporting!

[2019-03-23 16:18] devth opened #107 "Color codes don't render correctly in my terminal (zsh)"
[code]

Screenshot:

![image](https://user-images.githubusercontent.com/86107/54868702-fedd0500-4d54-11e9-9708-83c151947d48.png)

[2019-03-23 16:26] devth opened #108 "Support for running midje tests"
https://github.com/marick/Midje

[2019-03-23 16:44] devth opened #109 "Couldn't find definition / Not found"
Trying iced out on https://github.com/yetibot/yetibot/blob/edfbdc52c6095b6a6affb8f15fe6c63f68042e47/src/yetibot/commands/weather.clj#L59

If i use `<C-d>` on any symbol in this ns it just says `Couldn't find definition`. If I run `:IcedSourceShow` when my cursor is on a symbol like `c-to-f` it says `Not found.`.

[2019-03-23 16:51] devth opened #110 "Repeating <S-K> moves docs window after the first execution"
First time I use `<S-K>` it shows a help window below:

![image](https://user-images.githubusercontent.com/86107/54869080-5f6e4100-4d59-11e9-815b-51c97002b90e.png)

If I run it again, it moves the help window to the rightmost pane in vim which is disruptive and messes up my layout:

![image](https://user-images.githubusercontent.com/86107/54869094-80cf2d00-4d59-11e9-83c4-7ad19962765a.png)

[2019-03-23 16:54] devth opened #111 "NullPointerException attempting to load test namespace that uses Midje"
Running `:IcedRequire` on  https://github.com/yetibot/yetibot/blob/master/test/yetibot/test/commands/weather.clj

Results in `null` and in the stdout_buffer it prints:

[code]

Related: https://github.com/liquidz/vim-iced/issues/108

[2019-03-24 00:28] liquidz commented on #107
@devth Thanks you for reporting!
This may be the cause.
https://stackoverflow.com/questions/28782394/how-to-get-osx-shell-script-to-show-colors-in-echo

Could you try `feature/iced-command-color` branch? (73ac3817f8f90acd094cca8a6441edc9c52fe328)

[2019-03-24 00:48] liquidz commented on #111
@devth I couldn't reproduce the problem with following steps.
1. git clone https://github.com/yetibot/yetibot
2. cd yetibot
3. iced repl
4. nvim test/yetibot/test/commands/weather.clj
5. `:IcedConnect`
6. `:IcedRequire`

![2019-03-24 9 45 42](https://user-images.githubusercontent.com/6941/54873443-ac195100-4e19-11e9-870d-924b192cb741.png)

My environment:
* Leiningen 2.9.1 on Java 11.0.2
* NVIM v0

[2019-03-24 01:32] liquidz commented on #108
@devth Thank you for your proposal!

vim-iced uses `cider-nrepl` for testing, and cider-test requires `clojure.test` protocol.
Unless midje does not provide this protocol, it is difficult to support midle unfortunately.
c.f. https://github.com/marick/Midje/issues/356

BTW you can run midje tests by simply evaluating `facts` or `fact` form with `<Leader>et` or `<Leader>ee`.

[2019-03-24 02:19] liquidz commented on #109
@devth

`Couldn't find definition` may not be vim-iced's error message.
https://github.com/liquidz/vim-iced/blob/master/message/iced/en.txt
What is `<C-d>` mapped to?

`clojure.repl/source` could not read the source from evaluated vars.
This is a clojure specification.

* https://clojure.github.io/clojure/clojure.repl-api.html#clojure.repl/source
* https://stackoverflow.com/questions/41247416/repl

[2019-03-24 03:07] liquidz commented on #110
@devth Thanks for your reporting!

Hmm, this is strange behavior.
vim-iced only move window focus, if document buffer is already opened.
https://github.com/liquidz/vim-iced/blob/0.10.2/autoload/iced/buffer.vim#L81
In my environment, it is not reproduced.

Is there a possibility that other plugins are affecting it?

[2019-03-24 18:15] devth commented on #107
Looks good on `feature/iced-command-color`!!

![image](https://user-images.githubusercontent.com/86107/54883740-834f8680-4e2e-11e9-99dd-4152252383f0.png)

[2019-03-24 18:20] devth commented on #111
I confirmed it was some nrepl middleware causing the issue. Sorry for the false alarm and thanks for the help figuring it out!

[2019-03-24 18:20] #111 closed

[2019-03-24 18:25] devth commented on #110
I'm not sure 😞
I have [quite a few](https://github.com/devth/dotfiles/blob/522175dde05c8512b15ecd8e977319182a4a479c/config/nvim/init.vim#L25-L133). I'll see if I can narrow it down.

[2019-03-24 18:31] devth opened #113 "Feature request: eval motion"
`IcedEvalVisual` and friends are nice but would be really nice if I could eval a motion. I'm basically trying to replicate some of fireplace's `cp..` mappings since that's what I've used for years, so e.g. `cpaw` would eval around word, or `cpab` would eval around parens.

[2019-03-24 18:34] devth commented on #108
Wow, https://github.com/marick/Midje/issues/356 is a sad state of affairs! Thank you for linking that. Instead I will use something like:

[code]

to run my Midje tests. 💥

[2019-03-24 22:04] liquidz commented on #113
@devth vim-iced has a `<Plug>(iced_eval)` action already.
https://liquidz.github.io/vim-iced/vim-iced.html#vim-iced-evaluating

So could you try the following mapping?
[code]

[2019-03-25 01:33] liquidz commented on #110
@devth I found! Following `autocmd` is the cause.
https://github.com/devth/dotfiles/blob/522175dde05c8512b15ecd8e977319182a4a479c/config/nvim/init.vim#L252-L253
[code]

vim-iced uses `help` file type for document buffer.
https://github.com/liquidz/vim-iced/blob/0.10.2/autoload/iced/nrepl/document.vim#L99

So.. shoud we have a way to specify document buffer position like stdout buffer?
https://liqu

[2019-03-25 03:10] devth commented on #113
Amazing! Thank you!!

[2019-03-25 03:13] devth commented on #110
Wow thanks so much for tracking that down!

I'm fine just removing that line for now. The default positioning works for me. I did notice one other inconsistency between the first time I run `K` and the second:

- the first time I run `K` my cursor stays positioned in the source code window
- the second (or any subsequent) time I run `K` my cursor jumps to to the help doc window

Do you see the sam

[2019-03-25 03:21] devth commented on #109
Oops I meant `]d`. It isn't mapped to anything. Looks like it's a built in vim thing. When I used fireplace I think it overrode `]d` to show source. So nevermind about the `Couldn't find definition` error.

Not sure why I see`Not found` when I try `:IcedSourceShow` since I am trying to get the source of a function in a namespace that is stored on disk 🤔 .

[2019-03-25 12:11] liquidz commented on #110
@devth

Yes, it is the correct behavior.
https://github.com/liquidz/vim-iced/blob/0.10.2/autoload/iced/buffer.vim#L80-L83
But... you are right. I have never benefited from this behavior.
I'll fix it.

[2019-03-25 12:59] liquidz commented on #107
Closed by #115

[2019-03-25 12:59] #107 closed

[2019-03-25 12:59] liquidz commented on #110
Fixed by #115

[2019-03-26 23:46] #110 closed

[2019-03-29 00:16] liquidz commented on #108
Oh.. Emidje is cool.
https://github.com/clojure-emacs/cider/commit/030847dae2b90ec540d978087c3e32a3b0b69f9e
https://github.com/nubank/emidje

[2019-03-29 15:14] devth opened #117 "Error detected while processing function iced#nrepl#auto#winenter"
Sometimes I need to restart my repl. If I move my cursor to clojure files while I'm restarting my repl I sometimes get this obscure error:

![image](https://user-images.githubusercontent.com/86107/55242436-d8124900-5202-11e9-97e0-051a469d2d0c.png)

[code]

Not sure if it's related but I almost always see an error when `:IcedReconnect`ing after restarting my `iced repl`:

[code]

If I run it again

[2019-03-30 00:56] liquidz commented on #117
@devth Thank you for your reporting!

The cause is same here.
https://github.com/liquidz/vim-iced/pull/86#issuecomment-457020395

If you restart your repl, neovim's channel is disconnected, but vim-iced does not have a chance to detect it.
So vim-iced tries to evaluate code, and timed out.

I'll research if there is a way to detect channel disconnection on neovim...

[2019-03-30 01:20] liquidz commented on #117
@devth Maybe I found it!
I oversighted `EOF` description in neovim document.
https://neovim.io/doc/user/channel.html

I tried to fix it, so could you try `bugfix/neovim-detect-disconnection` branch?

[2019-04-01 15:27] devth opened #118 "How to use tracing?"
I found `IcedToggleTraceVar` / `IcedToggleTraceNs` in the docs but I'm not sure how to use them. I turned on tracing for the current namespace then evaluated some functions but I'm not seeing any trace output. Where should I expect to see it?

Thanks!

[2019-04-01 15:28] devth commented on #117
@liquidz I tried out the branch and everything looks good! No more delays or error messages when switching focus after killing the `iced repl`. 👍

[2019-04-01 21:13] liquidz commented on #117
@devth Thanks!
I'll merge the branch, but it may be late because I can not take time.. :baby:

[2019-04-10 01:36] devth opened #119 "How is skeleton intended to work?"
[code]

I created a new .clj file and opened it while connected to iced. Messages shows:

[code]

Do I need to activate it?

[2019-04-12 08:05] liquidz commented on #118
@devth I'm sorry for late reply!
Traced output will be displayed in stdout buffer.
Could you try [:IcedStdoutBufferOpen](https://liquidz.github.io/vim-iced/vim-iced.html#%3AIcedStdoutBufferOpen) command?

[2019-04-12 08:13] liquidz commented on #119
@devth I'm sorry for late reply!
vim-iced uses [BufNewFile](https://vim-jp.org/vimdoc-en/autocmd.html#BufNewFile) auto command for generating skeleton.
So you shouldn't create new `.clj` file beforehand.

Could you try following steps?
* Open existing *.clj file (such as core.clj)
* Execute `:IcedConnect`
* Execute `:e non_existing_new.clj` for creating new `.clj` file in vim

[2019-04-14 23:39] devth commented on #118
Thanks! What does it do when tracing is on? Does it just capture stdout / logs? Or results from executing functions? I wasn't sure what to expect.

[2019-04-15 03:07] liquidz commented on #118
@devth Sorry for less documents.

cider's document is easy to understand.
https://cider.readthedocs.io/en/latest/miscellaneous_features/#tracing-function-execution

[2019-04-15 14:03] devth commented on #118
@liquidz thanks for the docs! I didn't realize I should look in CIDER's docs. Now I know :)

Tracing looks amazing but I'm definitely not seeing it in the stoud buffer. I will try again today.

[2019-04-16 16:50] matthias-margush opened #121 "Project misidentified as clojurescript"
This line in my deps.edn is causing `iced repl` to misidentify it as a clojurescript file:

[code]

[2019-04-16 21:00] devth commented on #119
I will try this out! Thank you for the explanation. I am happy to help improve the docs on this project as I go, if you'd like.

And thank you for this amazing plugin! I've switched completely from fireplace to vim-iced and love it. I even used it for a livecoding session a few weeks ago, and will be using it again at Clojure/north this week! The CIDER capabilities are magic 🎇

[2019-04-16 23:24] liquidz commented on #119
I'm glad to hear that!
PR is very welcomed!!

[2019-04-16 23:40] liquidz commented on #121
@matthias-margush I'm also think that is a problem.
I'm adding `--without-cljs` option to `dev` branch as a workaround.
https://github.com/liquidz/vim-iced/pull/120/commits/674591bccd64a934eba75f8653faadb3a5ccf10f

But this is not a permanent solution, so I'll seek a better solution.

[2019-04-24 13:55] liquidz commented on #108
I'm working with following projects.
* https://github.com/liquidz/kaocha-nrepl
* https://github.com/liquidz/vim-iced-kaocha

[2019-04-30 15:54] devth commented on #108
I'd love to test it out when ready.

[2019-05-02 19:19] devth commented on #117
Is `neovim-detect-disconnection` ready to merge?

[2019-05-02 21:09] devth commented on #113
Would it be possible to eval motion and also print the result to stdout buffer?

[2019-05-03 00:10] liquidz commented on #113
@devth How about the combination of eval motion and `:IcedPrintLast` command?
https://liquidz.github.io/vim-iced/vim-iced.html#%3AIcedPrintLast
Default key mapping is `<Leader>ep`.

[2019-05-03 00:26] liquidz commented on #117
@devth Yes, I'm ready. But because I'm on parental leave, I may not provide rapid support even if I release next version.
https://github.com/liquidz/vim-iced/pull/120

So I wonder if I should release it...

[2019-05-03 00:42] devth commented on #117
Enjoy your leave and little one! For what it’s worth I’ve been using this branch since you created it without any problems.

[2019-05-03 02:33] Fedreg opened #122 "Split stdout window vertically"
Hi, can't seem to get the stdout window feature (<Leader>ss) to ever split vertically instead of horizontally.  Have tried several ways to make this default behavior but have failed. Can get my normal splits to default to vertical but not the `vim-iced-stdout-buffer`.

Admittedly, I'm a vim noob and have been working in Emacs for years so if anyone can point me in the right direction I would reall

[2019-05-03 03:59] liquidz commented on #122
@Fedreg Could you try to add `let g:iced#buffer#stdout#mods = 'vertical'` to your config file such as `~/.config/nvim/init.vim`?
https://liquidz.github.io/vim-iced/vim-iced.html#g%3Aiced%23buffer%23stdout%23mods

[2019-05-03 05:50] Fedreg commented on #122
@liquidz That did it.  Works great.  Thank you!!!

[2019-05-03 05:50] #122 closed

[2019-05-03 14:42] devth commented on #113
That's what I was thinking but I'm not sure how to combine them. Here was one attempt:

[code]

I think `<Plug>` can't be combined this way. Do you know what it would look like?

[2019-05-05 11:29] liquidz commented on #113
@devth Sorry!
Because eval motion works asynchronously, the combination won't work well.
I'm considering to add a motion for evaluating and printing.

[2019-05-12 13:27] liquidz commented on #113
@devth I added `<Plug>(iced_eval_and_print)` to `dev` branch.
https://vim-iced-nightly.netlify.com/vim-iced.html#%3CPlug%3E%28iced_eval_and_print%29

Could you try this motion?
If it works, I'll release 0.10.4!

[2019-05-13 17:04] devth commented on #113
@liquidz works great! Thanks!

[2019-05-13 21:47] liquidz commented on #113
@devth Thanks!
I released `0.10.4` ! #120

[2019-05-13 21:47] #113 closed

[2019-05-13 21:48] liquidz commented on #117
Closed by #120

[2019-05-13 21:48] #117 closed

[2019-05-15 09:55] liquidz opened #123 "Use xref middleware"
https://github.com/clojure-emacs/cider-nrepl/blob/420974b7ff9aaf11f202fc42dfa055f482101041/CHANGELOG.md#new-features

[2019-05-15 17:03] devth opened #124 "Tab-local scoped iced REPL connection"
I'd like to have multiple REPLs and projects open inside a single vim instance, each in their own tab. Currently it appears the REPL connection is global.

Sometimes global is nice when I want a single REPL across projects, but other times I want each tab to have its own connection.

[2019-05-17 01:00] liquidz commented on #124
@devth First, thank you for your feedback!

I have no plan to support managing multiple connections.
This is based on the personal idea that Vim tends not to keep running single instance like Emacs.
(I sometimes restart vim, and start multiple vim also.)

Using tab-local scope variables is seemingly easy in VimScript.
However it make codes so complex in managing caches, nREPL messages, stdout buff

[2019-05-17 14:53] devth commented on #124
That makes sense, thank you for explaining.

I used to heavily rely on tmux but found it reduced the performance of my terminal on macOS too much, so I've been experimenting with replacing tmux with neovim terminal + tabs the past few months. I'll consider some other alternatives.

[2019-05-17 14:53] #124 closed

[2019-05-27 08:26] liquidz commented on #108
@devth I'm ready!
Could you try to test vim-iced-kaocha?
https://github.com/liquidz/vim-iced-kaocha

As an attention, kaocha-midje 0.0-5 will run facts every loading facts part in kaocha.
This behavior may fix next version of kaocha-midje.
https://github.com/lambdaisland/kaocha-midje/pull/1

[2019-05-27 08:33] liquidz opened #126 "Support popup window in Vim8"
https://github.com/vim/vim/blob/master/runtime/doc/popup.txt

This may support virtual text and floating window in Vim8.

[2019-05-28 17:46] devth commented on #108
I followed the instructions but when I try commands like `:IcedKaochaTestNs` I get this in my status bar:

[code]

`IcedKaochaTestUnderCursor` gives me:

[code]

🤔

[2019-05-29 02:02] liquidz commented on #108
@devth Thanks for your testing!

kaocha has a `ns-patterns` configuration, and its default value is `.*-test`.
So you should specify `ns-patterns` to your tests.edn.

I added sample configuration to README
https://github.com/liquidz/vim-iced-kaocha/commit/eff2786ad40714a096fc709ed192fd0d7fad70ea

Sorry! I fixed the problem!
https://github.com/liquidz/vim-iced-kaocha/commit/7966f332bc0bd5e58fe25fb7

[2019-05-29 02:39] devth commented on #108
Thanks! It's working now. In stdout buffer I see:

[code]

1. I noticed it's a little slow. To run `:IcedKaochaTestUnderCursor` takes several seconds, but if I simply evaluate the `fact` form it's only a few 100ms.
2. I wonder how I can improve the output. I'll investigate Midje's reporting features.

[2019-05-29 03:01] liquidz commented on #108
@devth

kaocha-midje 0.0-5 reloads target namespace every testing, and this may be the cause.
https://github.com/lambdaisland/kaocha-midje/pull/1/files#diff-0431c434b89da394419452f13f8d40c3L34
The next version of kaocha-midje may improve speed.

Currently output format is fixed.
If you have a customization idea, please open a issue to vim-iced-kaocha repository.

[2019-05-31 16:03] Fedreg opened #127 "Auto document popup window takes several seconds to appear"
Thanks for pushing up this feature to the Dev branch to play around with!!  Works great.  Only issue is that it takes about 4 seconds for the popup to appear.  I see there is the `g:iced#popup#time` setting for how long before closing (and I even tried toggling that in case it affected the opening behavior) but is there a value I can toggle to make the popup open faster?  General neovim setting ma

[2019-05-31 23:41] liquidz commented on #127
@Fedreg Thanks for your testing!
Displaying popup document is using `CursorHold` and `CursorHoldI` auto command, so its speed is depended on `updatetime` option.
https://vim-jp.org/vimdoc-en/options.html#'updatetime'

Could you try to add `set updatetime=500` to your config file?

[2019-06-02 01:10] Fedreg commented on #127
perfect, thank you!!

[2019-06-02 01:10] #127 closed

[2019-06-16 15:53] knubie opened #128 "Shadow-cljs watch hangs when connected with vim-iced"
liquidzさん　こんにちは
残念ながらもう一つshadow-cljsについて問題は見つかりました。

Hi liquidz!
I'm sorry to say that I've found another bug related to shadow-cljs. The steps to reproduce are below:
1. Clone [minimal-shadow-cljs-browser](https://github.com/minimal-xyz/minimal-shadow-cljs-browser)
1. Install/watch
[code]
1. Open browser to connect; localhost:8080
1. Open `src/main.cljs` in vim
1. Run `:IcedStartCljsRepl shadow-c

[2019-06-16 23:02] liquidz commented on #128
@knubie Thanks for your reporting!
I confirmed the behavior.

[2019-06-17 18:00] liquidz commented on #128
The prosess to set cljs session may be the cause of this behavior.
https://github.com/liquidz/vim-iced/blob/0.10.4/autoload/iced/nrepl/cljs.vim#L4

In normal clj session, shadow-cljs watch does not hang.

I'll test more.

[2019-06-18 04:28] liquidz commented on #128
@knubie I fixed the bug in `bugfix/shadow-cljs` branch.
https://github.com/liquidz/vim-iced/tree/bugfix/shadow-cljs

Could you try this branch?

[2019-06-19 01:32] knubie commented on #128
@liquidz I tested that branch on the minimal-shadow-cljs-browser repo, as well as on my own large cljs project, and everything seems good now! 👍

[2019-06-19 01:53] liquidz commented on #128
@knubie Thanks for your testing!
I merged `bugfix/shadow-cljs` branch to master, and released it.
https://github.com/liquidz/vim-iced/pull/129

[2019-06-19 01:53] #128 closed

[2019-06-21 11:58] Fedreg opened #131 "Error running iced repl on clojure cli projects"
Hi, `iced repl` works great on Lein projects but when I'm trying to run it on clj projects I get the following error:
[code]
This happens on both clojure and clojurescript projects.  Have tried passing `--force-clojure-cli`.

Using latest master vim-iced on neovim 0.4.0-dev
I'm sure there is some configuration issue on my side but if you can think of any pointers I would appreciate it!

As always,

[2019-06-21 16:06] liquidz commented on #131
@Fedreg Are you sure that 'iced' command file is **copied** to '/usr/local/bin' ?

If you are using `~/.vim/plugged` directory as a plugin directory, you should add `~/.vim/plugged/vim-iced/bin` to your `$PATH`.
* https://github.com/Fedreg/.vimrc/blob/master/vimrc#L11
* https://liquidz.github.io/vim-iced/vim-iced.html#vim-iced-install-command

In clojure cli project, iced command references deps.e

[2019-06-22 06:07] Fedreg commented on #131
@liquidz Thanks!  Yes, `iced` is definitely in `usr/local/bin` and I definitely have `~/.vim/plugged/vim-iced/bin` on my $PATH.   Still get the error though... I'll play around with it a bit this weekend.

[2019-06-22 06:57] liquidz commented on #131
@Fedreg Could you delete your `usr/local/bin/iced` while remaining your `$PATH` ?

[2019-06-22 07:15] Fedreg commented on #131
@liquidz Not sure I'm understanding... if I delete my `usr/local/bin/iced` I'll get a `command not found: iced` error.   What did you mean by

thx for the help!

[2019-06-22 08:09] liquidz commented on #131
@Fedreg Sorry for my ugly English.

You have `~/.vim/plugged/vim-iced/bin` in your `$PATH`, and there should be `~/.vim/plugged/vim-iced/bin/iced`.
So you should not get `command not found`  error even if you delete `/usr/local/bin/iced`.

For example, I have `PATH=$PATH:~/src/github.com/liquidz/vim-iced/bin` in my shell config, and `which` command can detect `iced` command file.
[code]

[2019-06-22 08:18] Fedreg commented on #131
ahhh... I see what you mean... thanks for clarifying.  I'll see what is going on with my path.   Closing issue.  thanks again!

[2019-06-22 08:18] #131 closed

[2019-06-24 11:19] knubie commented on #126
Displaying the definition of a function in a popup/floating window would be neat.

[2019-06-24 14:59] liquidz commented on #126
@knubie Thanks for your feedback!
Is it like this? https://twitter.com/uochan/status/1143170332078985216

In my opinion, this is useful for short functions, while long functions may be hard to see on popup/floating window.

[2019-06-24 15:06] liquidz commented on #109
@devth It may be better to find source  by oneself instead of `clojure.repl/source` like this tweet.
https://twitter.com/uochan/status/1143170332078985216

[2019-06-24 15:24] knubie commented on #126
Yeah! That looks great.

I agree with short vs long functions. Maybe there could be a setting like

[code]

If the function is longer than 25 lines, it’s opened in a new split window instead. What do you think?

[2019-06-24 16:15] liquidz commented on #126
@knubie I think it is not intuitive that we couldn't know whether it will appear in popup or splitted window until executed.
And also users should be able to select the behavior. (Some people may want to show the source in splitted window always)

In current `dev` branch, vim-iced has two commands to open a function document.
* [IcedDocumentOpen](https://vim-iced-nightly.netlify.com/vim-iced.html#

[2019-06-25 13:55] liquidz commented on #109
@devth I tried to fix `IcedSourceShow` command in `dev` branch.

[2019-07-16 15:37] liquidz opened #132 "Support adding an arity to a function"
https://github.com/clojure-emacs/clojure-mode/issues/410
https://github.com/clojure-emacs/clojure-mode/releases/tag/5.11.0

[2019-07-26 08:21] liquidz commented on #132
Enhanced
https://github.com/clojure-emacs/clojure-mode/pull/541

[2019-07-28 17:28] devth commented on #109
@liquidz I tried `dev` branch but looks like it's not working. I also can't seem to lookup docstrings or navigate to namespaces either:

`S-K`:

![image](https://user-images.githubusercontent.com/86107/62010626-7a4b2a80-b12a-11e9-9555-20073d5c9813.png)

`gf`:

![image](https://user-images.githubusercontent.com/86107/62010631-8afba080-b12a-11e9-8959-87d2fc8ac158.png)

`IcedSourceShow`:

![image](ht

[2019-07-29 01:46] liquidz commented on #109
@devth Thanks for your reporting!
I tested [master branch's yetibot/core/parser.clj](https://github.com/yetibot/yetibot.core/blob/master/src/yetibot/core/parser.clj) with `vim 8.1.1662` and `nvim 0.3.8(stable)`, but I could not reproduce the problem.

I tested with following steps.
* Run `iced repl`  to launch REPL
* Open `src/yetibot/core/parser.clj`
* Execute `:IcedConnect`
* Test `S-k`, `C-]`,

[2019-07-29 18:48] devth commented on #109
I'm on `NVIM v0.4.0-1281-g969618e`. Sorry for the false alarm - it looks like I had started a regular `lein repl` instead of `iced repl`.

I re-tested on latest `dev` branch. Everything's working, including `:IcedSourceShow`!

[2019-07-29 23:59] liquidz commented on #109
@devth Great!

Oh, it seems necessary to check if nREPL middleware is enabled.
I'll implement it!

[2019-07-30 01:00] liquidz opened #133 "Check if nREPL middlewares are enabled"
See https://github.com/liquidz/vim-iced/issues/109#issuecomment-516205993

[2019-08-03 20:42] liquidz commented on #133
Fixed by #125

[2019-08-03 20:42] #133 closed

[2019-08-03 20:42] liquidz commented on #132
Fixed by #125

[2019-08-03 20:42] #132 closed

[2019-08-03 20:49] liquidz commented on #126
@knubie I added [IcedPopupSourceShow](https://liquidz.github.io/vim-iced/vim-iced.html#%3AIcedPopupSourceShow) command to show source code in popup window.
This command will fallback [IcedSourceShow](https://liquidz.github.io/vim-iced/vim-iced.html#%3AIcedSourceShow) if source code is longer than [&lines](https://vim-jp.org/vimdoc-en/options.html#'lines').

[2019-08-03 20:50] liquidz commented on #126
Fixed by #125

[2019-08-03 20:50] #126 closed

[2019-08-03 20:50] liquidz commented on #123
Fixed by #125

[2019-08-03 20:50] #123 closed

[2019-08-03 20:51] liquidz commented on #109
Fixed by #125

[2019-08-03 20:51] #109 closed

[2019-08-03 21:06] liquidz opened #134 "Does not work with nvim 0.4.0(nightly)"
It worked with current stable(0.3.8) and past 0.4.0(nightly), but does not work with current nightly(v0.4.0-1544-g0bb1008e7).

Waiting messages from nREPL will be timed out.
It seems to me that the receiving process from `channel` is not working during `sleep`.

[2019-08-04 15:10] knubie commented on #126
@liquidz The changes sound great!

Unfortunately I wasn't able to get either working. When using `:IcedDocumentOpen` or `:IcedPopupDocumentOpen` on a function it returns "Not found." even when the function is defined in the same namespace.

Using Neovim 0.3.7 and shadow-cljs.

[2019-08-05 04:38] liquidz opened #135 "Does not work IcedDocumentOpen with shadow-cljs"
Branched from https://github.com/liquidz/vim-iced/issues/126#issuecomment-518011429

[2019-08-05 04:40] liquidz commented on #126
@knubie Thank you for your reporting!
It seems a bug from verion 0.10.5 or earlier.
I created another issue #135

[2019-08-05 21:42] liquidz commented on #135
It works `:IcedDocumentOpen` for `cljs.core/defn` and `cljs.core/println` with shadow-cljs.
So this may be a problem in cider-nrepl(orchard) or shadow-cljs.

[2019-08-06 01:48] liquidz commented on #135
spacemacs + shadow-cljs works well for user defined functions..
hmm..

[2019-08-07 10:50] liquidz commented on #135
I got it! `iced#nrepl#ns#eval` is the cause.
In shadow-cljs, evaluating only `(ns foo.core ...)` form will clear all vars evaluated before.

[2019-08-07 10:52] liquidz commented on #135
@knubie I fixed `:IcedDocumentOpen` to work with shadow-cljs.
Could you try `dev` branch?

[2019-08-07 10:54] liquidz commented on #134
Waiting response in `on_data` callback may block calling the next `on_data` callback.
I fixed the first calling `clone` op to be sync.

[2019-08-07 12:19] knubie commented on #135
It works now!

[2019-08-07 15:37] knubie commented on #135
I'm seeing a similar issue with `:IcedClojureDocsOpen any?` returns "Note found."

nvim 0.3.8
iced-nrepl 0.6.0
cider/cider-nrepl 0.22.0-beta9

[2019-08-07 20:25] liquidz commented on #135
@knubie Are you sure that you executed `:IcedClojureDocsOpen` in cljs file?
clojuredocs.org has no documents about `cljs.core`, so `cljs.core/any?` will not be found.

* https://clojuredocs.org/core-library
* https://cljs.github.io/api/cljs.core/anyQMARK

[2019-08-07 20:37] knubie commented on #135
@liquidz Does `:IcedClojureDocsOpen` only work in `clj` files?

I tried `:IcedClojureDocsOpen clojure.core/any?` as well, and got the same result.

[2019-08-07 21:20] liquidz commented on #135
@knubie

Currently, yes.
It will work in cljs file if clojuredocs supports cljs core libraries.

Oh sorry!
`:IcedClojureDocsOpen` command does not support qualified symbol yet.
So you need to execute `:IcedClojureDocsOpen any?` in clj session.

I'll fix to support qualified symbol for `:IcedClojureDocsOpen` command.

[2019-08-08 10:59] liquidz commented on #135
@knubie I fixed `:IcedClojureDocsOpen` command to work with qualified symbol in `dev` branch.

[2019-08-17 06:09] Fedreg opened #137 "Keep getting "Session error: You should be in clj(s) session""
Hi, recently set up a new machine and started getting this error:

<img width="364" alt="image" src="https://user-images.githubusercontent.com/17401067/63207413-fc27d700-c08a-11e9-9f9b-f37640015371.png">

It happens on both clj and cljs sessions.  With clj sometimes I see that error but then can continue using the repl with no issues.  With cljs, can never get past this error.

Looks like my `curr

[2019-08-17 09:49] liquidz commented on #137
@Fedreg Thank you for your reporting!
I could not reproduce the problem with NVIM v0.3.8 and vim-iced master branch.
I tested following steps.

* Start REPL with GraalJS
  * https://liquidz.github.io/vim-iced/vim-iced.html#vim-iced-graaljs
* Open `*.clj` file and execute `:IcedConnect` to connect nREPL
  * `clj` session
    * Evaluate some codes.
* Open `*.cljs` file and execute `:IcedStartCljsRep

[2019-08-17 14:25] Fedreg commented on #137
Thanks for the quick reply!

mvim 0.4.0-dev
<img width="635" alt="image" src="https://user-images.githubusercontent.com/17401067/63212946-c1489200-c0d0-11e9-9c67-47dd60d774ee.png">
 Let me create a minimal project that I can reproduce on and I'll send it to you.  Thx!

[2019-08-17 16:21] Fedreg commented on #137
To reproduce.
1. `$ lein new iced-test`
2. `$ iced repl`
3. Open `*.clj` file
4. `:IcedConnect` -> ..connects fine
5.  eval any expression -> "Session error. You should be in cli session.

Same thing if I do a cljs project

Cider 21.0, cider/nrepl 21.1 if that helps.

Can you tell me what `current_session_key` is looking for to connect?

thx!

[2019-08-17 21:32] liquidz commented on #137
@Fedreg

Oh, it may relate to #134
I'm working on `dev` branch, so could you try `dev` branch?

Thanks!
In my environment, `:IcedConnect` failed like #134 , and I could reproduce `Session error. You should be in clj session.` error.

`current_session_key` must be `'clj'` or `'cljs'` . ([c.f. 1](https://github.com/liquidz/vim-iced/blob/0.11.0/autoload/iced/nrepl.vim#L76-L82))
And initial `current_s

[2019-08-17 22:35] Fedreg commented on #137
Thanks!!

I pulled in dev and error is gone on clojure, so thank you for the quick fix!!

Still getting the error on cljs but I'll take a look at the notes you added and see if I can do anything.

In the meantime, If this is related to nvim 0.4.0 I can revert to 3.8 until that's resolve, no big deal.

I'll go ahead and close this issue but if I can send any more info to help, let me know.

Thx aga

[2019-08-17 22:35] #137 closed

[2019-08-20 19:08] knubie commented on #135
@liquidz Sorry for the late reply. Just tried `:IcedClojureDocsOpen clojure.core/any?` in dev and got the following error:
[code]

[2019-08-20 20:30] liquidz commented on #135
@knubie Oh sorry! Could you pull latest dev branch and execute IcedClojureDocsRefresh command?
https://vim-iced-nightly.netlify.com/vim-iced.html#%3AIcedClojureDocsRefresh

We tweaked data structure.
https://github.com/clojure-emacs/cider/issues/2663#issuecomment-520302332

[2019-08-21 13:12] knubie commented on #135
@liquidz Tried refreshing the docs, but got the same error with command `:IcedClojureDocsOpen clojure.core/any?`.
[code]

[2019-08-21 22:07] liquidz commented on #135
@knubie OK. I could reproduce the problem.
I guess your `shadow-cljs.edn` contains `[cider/cider-nrepl "0.21.1"]`.

Current `dev` branch requires `[cider/cider-nrepl "0.22.0-beta11"]` and some additional middlewares.
Could you update your `shadow-cljs.edn` like the following?
https://vim-iced-nightly.netlify.com/vim-iced.html#vim-iced-manual-shadow-cljs

[2019-08-21 23:06] knubie commented on #135
Thanks @liquidz it works now!

I updated

`[cider/cider-nrepl]` `0.21.1` → `0.22.0-beta11`
`[iced-nrepl]` `0.4.1` → `0.6.0`

and added `cider.nrepl/wrap-clojuredocs` to `[:nrepl :middleware]` list in `shadow-cljs.edn`.

Is it possible for vim-iced to detect missing dependencies, or mismatched dependency versions? That would make it easier to debug in the future.

---

Another suggestion;

When exe

[2019-08-22 00:16] liquidz commented on #135
@knubie Great!

It seems good to me too.
I'll try to do it!

Currently vim-iced shows fully qualified symbol like follows. (c.f. https://github.com/liquidz/vim-iced/pull/136/commits/838d0d786c9b4f02ce4bb1f3c073812f050a5edf)
`Not found "cljs.core/any?" in ClojureDocs.`
Your `dev` branch in your computer may not be latest.

This message is kind and nice!
I'll update to detect `cljs` namespace!

[2019-08-23 23:21] liquidz commented on #134
Fixed by #136

[2019-08-23 23:21] #134 closed

[2019-08-23 23:23] liquidz opened #140 "Validate dependencies and middlewares in shadow-cljs.edn"
Branched by https://github.com/liquidz/vim-iced/issues/135#issuecomment-523682874

[2019-08-23 23:25] liquidz commented on #135
@knubie

I updated in #136
And detecting missing dependencies and middlewares in shadow-cljs.edn will support in #140

[2019-08-23 23:25] #135 closed

[2019-08-27 10:53] liquidz commented on #140
@knubie I added shadow-cljs.edn validation on starting cljs repl via #143 !

[2019-08-27 10:53] #140 closed

[2019-08-27 10:59] liquidz commented on #137
@Fedreg Currently vim-iced and cljs works well for me in nvim 0.4.0.
If you have any problems with latest vim-iced yet, please open a new issue :)

[2019-09-07 03:12] FongHou opened #146 "auto-completion and signature do not show up !?"
Does vim-iced support auto-completion out of the box (ie, what's showed here https://twitter.com/uochan/status/1154792252167741440)? I don't see auto-completion mentioned in the manual at all.

btw, I use nvim-v0.4 with coc.nvim installed, but no clojure feature enabled there.

Thanks!

[2019-09-07 04:16] liquidz commented on #146
@FongHou vim-iced does not provide functionality for auto-completion. Only omni-completion is provided.

But you're lucky!
I created a source for coc.nvim recently.
https://github.com/liquidz/vim-iced-coc-source
With this plugin, you can get auto-completion functionality.

Did you connect to nrepl?
If not, please follow this steps.
https://liquidz.github.io/vim-iced/vim-iced.html#vim-iced-nrepl-co

[2019-09-07 04:38] FongHou commented on #146
Hi @liquidz, it works great. Thanks a lot for the quick response!

[2019-09-07 04:38] #146 closed

[2019-09-09 16:23] devth commented on #113
Hi @liquidz, what do you think about a command similar to `<Plug>(iced_eval_and_print)` but instead of printing it `tap>`s it? This would be nice in combination with https://github.com/Lokeh/punk, which I'm starting to use.

[2019-09-09 20:58] liquidz commented on #113
@devth That's a nice idea!
It may go well with browsing tapped value in vim-iced too.

https://liquidz.github.io/vim-iced/vim-iced.html#vim-iced-debugging-browsing-tapped-values
https://twitter.com/uochan/status/1146982101662572544?s=19

[2019-09-10 09:51] liquidz commented on #113
@devth I added `<Plug>(iced_eval_and_tap)`.
https://vim-iced-nightly.netlify.com/vim-iced.html#%3CPlug%3E%28iced_eval_and_tap%29
Could you try `dev` branch?

[2019-09-10 21:09] devth commented on #113
@liquidz thanks! I'm using it now - works great so far.

[2019-09-14 20:24] liquidz commented on #60
Grimoire is deprecated.
Use [IcedClojureDocsOpen](https://liquidz.github.io/vim-iced/vim-iced.html#%3AIcedClojureDocsOpen) instead.

[2019-09-14 20:24] #60 closed

[2019-09-18 20:53] knubie commented on #135
Hi @liquidz I'm seeing a regression with `:IcedDocumentOpen` where I'm getting "Not found." for a symbol in my project.

Just checkout out the latest `master` branch of vim-iced and updated my dependencies `cider-nrepl` and `iced-nrepl` to `0.22.3` and `0.6.4`

[2019-09-18 21:01] liquidz commented on #135
@knubie
Thanks for your reporting.
I'll have a look later.

BTW I saw this cider's issue.
https://github.com/clojure-emacs/cider/issues/2713#issuecomment-532555001

According to this issue, there seems to be a problem with latest shadow-cljs, so could you try shadow-cljs 2.8.40?

[2019-09-18 21:10] knubie commented on #135
Thanks for the quick reply @liquidz , just tried downgrading `shadow-cljs` to 2.8.40, but still getting the same result.

[2019-09-18 21:16] liquidz commented on #135
Oh it may be a regression, sorry.
I'll have a look it.

[2019-09-18 21:22] knubie commented on #135
No problem! Just noticed it because I was testing the new floating windows in neovim 0.4.0 and saw that it was no longer working.

[2019-09-18 22:20] liquidz commented on #135
@knubie I could reproduce the problem.
But when I switched shadow-cljs version to 2.8.40, it works for me.

Could you confirm your shadow-cljs's version is exactly 2.8.40 ?
Following is my output when I ran `shadow-cljs watch app`.
[code]

[2019-09-18 22:54] knubie commented on #135
@liquidz

🤦‍♂ I accidentally changed `package.json` to `^2.8.40`, so it was still using `2.8.52`.

But after I downgrade **for real** this time. I'm still getting the "Not found." ☹️

[code]

Should I use a specific version of `cider-nrepl` and `iced-nrepl`?

Is there a debug flag I can enable to help you figure out the issue?

[2019-09-18 23:28] liquidz commented on #135
@knubie

No. I'm using cider-nrepl 0.22.3 and iced-nrepl 0.6.4 too.

Could you execute `:let g:iced#debug = v:true` after nREPL connection?
Then executing `:IcedDocumentOpen` will output debug messages, so please copy&paste the result of `:messages` command.

[2019-09-19 01:16] knubie commented on #135
@liquidz

I know what the issue is now. I forgot to run `:IcedStartCljsRepl ...` first. 🤦‍♂️

Thanks for helping me work through the issue. Sorry for being a little slow.

Maybe `:IcedDocumentOpen` (and other commands that rely on a repl) should check if one is running first, and return a message like: `Please start a cljs repl first. :IcedStartCljsRepl`? Might help people that run into a similar

[2019-09-19 01:23] liquidz commented on #135
@knubie No problem!

OK! I already have a function to check session validity.
https://github.com/liquidz/vim-iced/blob/0.12.2/autoload/iced/nrepl.vim#L100-L110
So I'll fix to use this in `:IcedDocumentOpen`.

[2019-09-29 23:26] liquidz opened #152 "Support sideloader"
https://github.com/nrepl/nrepl/pull/162

[2019-10-15 12:36] liquidz opened #155 "Support path transformation"
c.f. https://metaredux.com/posts/2019/10/08/cider-0-23-lima.html

[2019-10-20 01:19] liquidz commented on #155
Fixed by #156 #157

[2019-10-20 01:19] #155 closed

[2019-10-22 02:27] liquidz opened #158 "Clear test error sign only if the test passes"
### Actual

Currently all test error signs are cleared when a test is finished.
If multiple error signs were placed and only one of them passed, rest error signs are cleared and user cannot recognize where to fix rest errors.

### Expected

vim-iced should clear only signs that pass tests.

[2019-10-22 20:27] liquidz commented on #158
Sign's group is introduced by vim `patch-8.1.0614` or nvim `0.4.0`.
https://github.com/vim/vim/commit/162b71479bd4dcdb3a2ef9198a1444f6f99e6843
So required version must be changed.

[2019-10-23 23:08] liquidz opened #159 "Remove linting functionality"
[clj-kondo](https://github.com/borkdude/clj-kondo) (+ [ale](https://github.com/dense-analysis/ale)) is good enough for me.

[2019-11-03 04:55] liquidz opened #163 "Use settagstack in iced#nrepl#navigate"
https://vim-jp.org/vimdoc-en/eval.html#settagstack()
https://github.com/liquidz/vim-iced/blob/master/autoload/iced/nrepl/navigate.vim

[2019-11-03 05:04] liquidz commented on #163
`settagstack` is introduced by vim `patch-8.1.0519`.

[2019-11-18 13:12] martinklepsch commented on #83
I can't seem to reproduce this, is this still happening for you @devth?

[2019-11-18 19:08] devth commented on #83
Nope! Works well now. Related to https://github.com/liquidz/vim-iced/issues/82

[2019-11-18 19:08] #83 closed

[2019-11-24 03:26] danielytics opened #165 "Can't get it working correctly in neovim, won't auto connect and can't eval"
Hi, I'm using Iced with Neovim and followed the instructions, but am having trouble getting it to work.

I run `iced repl` and this runs ok. I then open a clojure file in vim, but it doesn't automatically connect. I can use `:IcedConnect` and it says `connected`, but I can't eval anything, it just says `cannot resolve symbol` for everything. For example, if I type `(println "Hello, world")`, place

[2019-11-24 05:35] liquidz commented on #165
@danielytics Thanks for your reporting!

vim-iced will connect to REPL automatically when evaluating codes.
But it seems not to work correctly in current latest, so I'll fix it soon!

If you'd like to connect automatically when vim opend `*.clj` files, you can use `VimEnter` autocmd.

* `/path/to/your/.vim/ftplugin/clojure.vim`
[code]

This behavior may depend on your `init-ns` setting in project.

[2019-11-24 08:56] liquidz commented on #165
@danielytics I fixed in [dev](https://github.com/liquidz/vim-iced/tree/dev) branch.
Could you try `dev` branch?

[2019-11-24 16:11] danielytics commented on #165
@liquidz Yes, that works! Thank you very much :heart:

[2019-11-24 16:11] #165 closed

[2019-11-29 11:29] liquidz commented on #163
closed by #162

[2019-11-29 11:29] #163 closed

[2019-11-29 11:29] liquidz commented on #158
closed by #162

[2019-11-29 11:29] #158 closed

[2019-11-29 11:29] liquidz commented on #159
closed by #162

[2019-11-29 11:29] #159 closed

[2019-12-03 00:33] liquidz opened #166 "Failed to show document for protocol method"
[code]

`:IcedDocumentOpen say` will throw error.

[2019-12-10 22:11] liquidz opened #167 "support inspector"
* https://docs.cider.mx/cider/0.23/debugging/misc.html#_inspecting_values
* https://docs.cider.mx/cider-nrepl/nrepl-api/supplied_middleware.html

[2019-12-12 01:16] liquidz opened #168 "Failed to add resolved ns"
[code]

In this case, if you execute `:IcedAddMissing`, `foo.bar/hello` cannot be added to `require` form because "foo.bar" will match "foo.bar.baz".
https://github.com/liquidz/vim-iced/blob/master/autoload/iced/nrepl/ns/util.vim#L62-L64

[2019-12-30 03:24] liquidz opened #170 "Enable to work with `track-state` middleware"
Branched from #82

`track-state` middleware will send a huge data after requiring namespace, and it take times and lead vim-iced's hang-up.

Related issue at CIDER: https://github.com/clojure-emacs/cider/issues/2765

[2019-12-30 03:26] liquidz commented on #82
Closed by branching to #170
Feel free to reopen this issue 😃

[2019-12-30 03:26] #82 closed

[2019-12-30 03:28] liquidz commented on #100
I couldn't reproduce.

[2019-12-30 03:28] #100 closed

[2019-12-30 03:38] liquidz commented on #103
`User` autocmd couldn't pass custom event variable.

[2019-12-30 03:38] #103 closed

[2019-12-30 03:41] liquidz commented on #108
Closed by stale issue.
Feel free to reopen this issue 😃

[2019-12-30 03:41] #108 closed

[2019-12-30 03:42] liquidz commented on #118
I added a document for tracing function calls.
https://vim-iced-nightly.netlify.com/#_tracing_function_calls

[2019-12-30 03:42] #118 closed

[2019-12-30 03:46] liquidz commented on #119
I added a document for skeleton
https://vim-iced-nightly.netlify.com/#skeleton

[2019-12-30 03:46] #119 closed

[2020-01-02 09:10] devth commented on #119
New docs look amazing. Thanks @liquidz!!

[2020-01-03 23:41] liquidz opened #171 "IcedAddArity breaks indent"

[2020-01-10 12:28] uosl opened #172 "IcedFormatAll throws error"
Using `IcedFormat` works fine, but `IcedFormatAll` prints the following error.

[code]

Tested with neovim v0.4.3 in a CLJS file where I had previously `:IcedJackIn` and `:IcedStartCljsRepl figwheel-sidecar`.

[2020-01-10 13:01] liquidz commented on #172
@uosl Thanks for your reporting!
The problem is caused by the following sync process.
https://github.com/liquidz/vim-iced/blob/0.13.0/autoload/iced/format.vim#L30

I'll fix it tomorrow!

[2020-01-10 23:06] liquidz commented on #172
@uosl I fixed the problem at `dev` branch.
Could you try `dev` branch?

[2020-01-11 12:38] uosl commented on #172
Thanks for the quick fix!

Oddly enough, I wasn't able to reproduce the issue on my home computer. I'll try to reproduce it on the machine I experienced it on monday, so I can test the fix properly.

[2020-01-13 10:00] uosl commented on #172
I didn't manage to reproduce it where I experienced it earlier, so I guess a restart fixed whatever oddities in the environment that caused it. \\=

I did try the `dev` branch and `IcedFormatAll` worked there as well.

Thanks again for looking into this!

[2020-01-13 10:00] #172 closed

[2020-01-14 14:39] nbardiuk opened #174 "<Plug>(iced_eval_and_print) regression in 0.14.0"
`<Plug>(iced_eval_and_print)` does not print result to output buffer and to virtual text. I receive no feedback about evaluation result.

[2020-01-14 22:13] liquidz commented on #174
@nbardiuk Thanks for your reporting!
Sorry for regression. I fixed in on `master` branch.

[2020-01-14 22:34] liquidz commented on #171
Closed by #173

[2020-01-14 22:34] #171 closed

[2020-01-14 22:34] liquidz commented on #168
Closed by #173

[2020-01-14 22:34] #168 closed

[2020-01-14 22:35] liquidz commented on #166
Closed by #173

[2020-01-14 22:35] #166 closed

[2020-01-14 22:36] liquidz commented on #172
@uosl This fix has been released at #173

[2020-01-15 07:13] nbardiuk commented on #174
I've just tested, it works form me now. Thank you!

[2020-01-15 07:13] #174 closed

[2020-01-15 15:48] Deraen opened #175 "Use interactive Clojure wrapper"
Currently `iced` script calls `clojure` command for `deps.edn` projects.

This doesn't work well when trying to use the REPL directly, as `clojure` program doesn't support readline, i.e. command history, up/down arrows...

https://clojure.org/reference/deps_and_cli

I didn't check if the vim-iced also uses the command internally, for jackin or something. `clj` should be used always when running co

[2020-01-16 00:20] liquidz commented on #175
@Deraen Thanks for your suggestion!

Currently, running just `iced repl` won't start REPL for Clojure CLI project.
https://github.com/liquidz/vim-iced/blob/0.14.0/bin/iced#L310-L311

Are you sure that you are using `-r` or `--repl` option?
https://github.com/nrepl/nrepl/blob/master/src/clojure/nrepl/cmdline.clj#L115

If so, it is reasonable to use `clj` command instead of `clojure` command as you

[2020-01-16 01:44] liquidz opened #176 "Add mentions for `PlugInstall` and `set hidden` to ducments"
c.f. @sogaiu's steps for getting vim-iced to work (from scratch) with neovim and a socket repl
https://gist.github.com/sogaiu/268a331ddf294db3ed8796c8ee36c758

[2020-01-16 02:36] micheam commented on #175
I agree with this ✋!!!

Currently, I set alias below in my .bashrc 😔
[code]

[2020-01-16 08:04] Deraen commented on #175
Huh, what does the `--repl` option do? I've never used it and it isn't documented.

[2020-01-17 07:13] liquidz commented on #175
@Deraen Sorry, it seems `--interactive` is correct as a nREPL option for launching REPL.
I changed to use `clj` command and set `--interactive` option by default for `deps.edn` project.

Could you try `dev` branch?

[2020-01-17 07:47] Deraen commented on #175
Yep, REPL works now.

I guess I should create another issue, but: another issue with the wrapper is that the script adds local-root dependency to iced-repl. This breaks reloaded.repl/integrant-repl/clojure.tools.namespace refresh workflow, as it now tries to reload all files in source-paths, and this fails as `iced_jackin` file requires mokuhan.

[2020-01-17 09:18] liquidz commented on #175
@Deraen Thanks for your confirmation!
I could reproduce the problem with `clojure.tools.namespace.repl/refresh`.

I separated paths for `iced-repl` and `iced-jackin` and the problem was fixed in my environment.
Could you try the latest `dev` branch again?
NOTE: if you have a `.cpcache` directory on your project, please remove it at first.

[2020-01-17 21:02] liquidz opened #177 "Use `bufhidden` option instead of global `hidden` option."
Currently vim-iced requires `hidden` option for appending evaluation results to hidden stdout buffer.

But `hidden` option is global, and `bufhidden` option exists for each buffers.
https://vim-jp.org/vimdoc-en/options.html#'bufhidden'
It is better to use local options instead of global ones.

c.f. #176

[2020-01-20 08:36] nbardiuk opened #178 ":IcedFormatAll messes with marks and cursor"
Some annoyances with the `:IcedFormatAll` command related to marks and cursor:

 * `:IcedFormatAll` removes lowercase marks `[a-z]`

 * `:IcedFormatAll` changes marks related to selection `'< '>` such that the `gv` selects namespace declaration on top of the buffer instead of what user has selected previously.

 * The `undo` after `:IcedFormatAll` jumps the cursor to the top of the buffer.

[2020-01-20 11:57] liquidz commented on #178
@nbardiuk Thanks for your reporting!
I could reproduce those problems.
I'll fix them.

[2020-01-21 09:08] liquidz commented on #178
@nbardiuk I fixed reported problems in `dev` branch.
Could you try `dev` branch?

Other operations may have same problems.
I'll fix them when I find.

[2020-01-21 13:20] liquidz commented on #175
@Deraen Thanks!
I'll cut a new release this weekend!

[2020-01-21 13:22] liquidz commented on #175
@micheam Could you try `dev` branch too?
`iced repl` should start REPL without your alias setting.

[2020-01-21 13:54] micheam commented on #175
@liquidz
It works 🤩Thanks a lot !!

[2020-01-21 13:59] liquidz commented on #175
@micheam Thanks for your confirmation!

[2020-01-21 21:20] nbardiuk commented on #178
Tested on `dev` all issues are resolved :fireworks: :tada:

I've noticed one strange behavior:
 1. put cursor on line of code
 2. `:IcedFormatAll`
 3. `undo`
 4. goto 2.

each cycle of `:IcedFormatAll`+`undo` adds one space at the cursor position

[2020-01-21 23:29] liquidz commented on #178
@nbardiuk Thanks!

I couldn't reproduce the problem.
But the following code that set a undo point may be the cause.
https://github.com/liquidz/vim-iced/commit/df12dec31af0181599dc27a034d360bed08feeb0#diff-a9dfee86c7d0035e9466b1a77f1cb841R49

To set undo point, `IcedFormatAll` insert one space and delete it internally.
This process uses `:normal!` command, so it should not be affected any custom ma

[2020-01-22 03:04] micheam opened #179 "Enable to choose `cli` or `clojure` on Clojure CLI project"
Current iced command issues a fixed `clj` command when it detects a Clojure CLI project.

However, for certain use cases, it is desirable to launch without readline support.

For example, if I want to run [rebel-readline](https://github.com/bhauman/rebel-readline) in `iced repl`, it will interfere with readline of` clj` command. In this case, it is desirable that the iced command internally issue

[2020-01-22 07:30] nbardiuk commented on #178
Don't worry about this, the problem is in my config :

`autocmd TextChanged,InsertLeave * if &modified | :w | endif`

this autosave command writes file on `esc` when plugin executes `normal! i \<esc>x`

I knew this autosave should cause me troubles, but I was very curious where it will brake first.

[2020-01-22 11:56] liquidz commented on #178
OK😊
Thank you for notifying me!

[2020-01-23 09:46] liquidz commented on #175
Closed by #181

[2020-01-23 09:46] #175 closed

[2020-01-23 09:48] liquidz commented on #176
@sogaiu `set hidden` is no longer required by #177 👍
Closed by #181

[2020-01-23 09:48] #176 closed

[2020-01-23 09:49] liquidz commented on #177
Closed by #181

[2020-01-23 09:49] #177 closed

[2020-01-23 09:50] liquidz commented on #178
Closed by #181

[2020-01-23 09:50] #178 closed

[2020-01-23 09:50] liquidz commented on #179
Closed by #181

[2020-01-23 09:50] #179 closed

[2020-01-23 09:53] liquidz commented on #174
Released by #181

[2020-02-22 15:04] mwistrand opened #183 "`iced_test_ns` consistently "Interrupted""
When executing `iced_test_ns` in neovim 0.4.3, in either a leiningen or deps.edn project, the tests appear to hang before the message "Interrupted" is displayed. Running individual tests with `iced_test_under_cursor` works perfectly, however.

P.S. Thanks for your work on this project and for making it publicly available!

[2020-02-22 23:05] liquidz commented on #183
@mwistrand Thanks for your reporting!

I couldn't reproduce the problem in my project codes, but I could reproduce the problem with following steps.

* lein new foo && cd foo
* nvim test/foo/core_test.clj
* Execute `:IcedJackIn` command
* Execute `:IcedTestNs` command

I'll fix it!

[2020-02-22 23:27] liquidz commented on #183
@mwistrand I verified the problem has been fixed in my environment.
Could you try `dev` branch?

[2020-02-23 14:08] mwistrand commented on #183
@liquidz Everything seems to work fine on `dev`. Thanks for taking the time to fix this and for responding so quickly!

[2020-02-23 22:09] liquidz commented on #183
@mwistrand Thanks for your verification!
Closed by #184

[2020-02-23 22:09] #183 closed

[2020-03-12 08:02] Cnly opened #191 ":IcedSourcePopupShow and :IcedSourceShow throw errors in some cases"
In some cases, instead of showing the source, `:IcedSourcePopupShow` throws the following error:

[code]

and `:IcedSourceShow` throws:

[code]

Steps to reproduce:

1. Set up the minimal configuration as described at https://liquidz.github.io/vim-iced/#minimal_configuration
1. `lein new app test`
1. Open `src/test/core.clj` and run `:IcedJackIn`
1. Move the cursor to `defn` and run `:IcedSourcePo

[2020-03-12 12:51] liquidz commented on #191
@Cnly Thanks for your reporting!
I can't take time today, so I'll have a look tomorrow.

[2020-03-12 21:19] liquidz commented on #191
@Cnly I could reproduce the problem and fixed on `dev` branch.
Could you try `dev` branch?

I verified with `NVIM v0.5.0-416-g2b00d1d09`.

[2020-03-13 02:57] Cnly commented on #191
Can confirm this is fixed on `dev` now. Thanks!

[2020-03-13 05:49] liquidz commented on #191
Thanks! I'll cut a new release this weekend.

[2020-03-14 21:04] liquidz commented on #191
Closed by #192

[2020-03-14 21:04] #191 closed

[2020-03-29 07:14] lispyclouds opened #195 "Wrong boot configuration?"
Hello!

Firstly, thanks for the awesome work! 😄

I followed the install [guide](https://liquidz.github.io/vim-iced/#installation) and was trying to fire up the `iced repl` on my boot [project](https://github.com/bob-cd/bob). But I get this error instead:

[code]
I looked up cider.tasks and found its a part of cider-nrepl. I added it as a dep in my `~/.boot/profile.boot` but still get this error.
W

[2020-03-29 07:15] lispyclouds commented on #195
Also if this helps:
[code]

[2020-03-29 09:12] liquidz commented on #195
@lispyclouds Thanks for your reporting!
I could reproduce the problem. I'll fix it.

[2020-03-29 09:51] liquidz commented on #195
@lispyclouds Could you try `dev` branch which I fixed?

[2020-03-29 09:57] lispyclouds commented on #195
Yesss! this works! Awesome! Thanks a lot for the quick fix! 🎉
[code]

[2020-03-29 10:00] liquidz commented on #195
@lispyclouds Thanks!
I'll cut a patch release soon.

[2020-03-29 10:07] liquidz commented on #195
Closed by #196

[2020-03-29 10:07] #195 closed

[2020-04-02 17:12] Cnly opened #197 "Evaluation of last evaluated s-expr"
Is it possible to add a feature like `cider-eval-last-sexp` that evaluates the last evaluated s-expression again?

[2020-04-02 21:32] liquidz commented on #197
@Cnly Currently can't.
But I have a plan to import a [Conjure](https://github.com/Olical/conjure)'s feature that enables evaluating at [mark](https://vim-jp.org/vimdoc-en/motion.html#mark-motions).
This feature will enable evaluating last s-expression.

[2020-04-03 12:12] Cnly commented on #197
@liquidz Thank you, that sounds really exciting. Please feel free to close this issue if that's the case.

[2020-04-03 23:43] liquidz commented on #197
@Cnly  I just implemented `IcedEvalAtMark` and `IcedEvalLastOuterTopList` commands experimentally in `dev` branch. (Currently no documents)

If you have some marks, you can evaluate the code by `<Leader>ea` + any key.
E.g. Mark `m` on any position by typing `mm`, then `<Leader>eam` will evaluate it.

`IcedEvalLastOuterTopList` is a little bit limited.
When you use `:IcedEvalOuterTopList` or type `

[2020-04-04 04:36] Cnly commented on #197
@liquidz Thanks for your work! Just did some quick testing and found maybe this line in `iced#repl#eval_at_mark` is executing the wrong function?

https://github.com/liquidz/vim-iced/blob/cda423540fd328f5e0d51f000eb3d6c205ba5993/autoload/iced/repl.vim#L78

[2020-04-04 05:05] liquidz commented on #197
@Cnly Thanks for your testing!
It is right function because we would like to evaluate the form where the cursor is moved.

[2020-04-04 05:49] Cnly commented on #197
But doesn't that mean if I put a mark on a form that's not in the top level, `:IcedEvalAtMark` will still execute the top level form that encloses my mark instead?

[2020-04-04 06:06] liquidz commented on #197
@Cnly Ah, I see.
I only tested evaluation of top level form yet.
I'll have a look. Thanks!

[2020-04-04 14:56] jcpsantiago opened #199 "Can't use zprint"
I'm using Neovim v0.4.3 on MacOS Catalina. Changed the formatter to `zprint`, accepted to install it and then get an error when trying to use it wither `==` or `=G`:

`function <SNR>117__worker[12]..<SNR>116__publish, line 8`

this is my Neovim config:

[code]

I'm new to Vim. Let me how can I help you help me :)

[2020-04-04 20:44] liquidz commented on #199
@jcpsantiago Thanks for your reporting!

I couldn't reproduce the problem in my environment.

It may be the effect of other plugins,                                                                                                                                                                     so could you try to delete `~/.vim/plugged/vim-iced/bin/zprint-clj` and use [minimal configuration](htt

[2020-04-04 21:00] liquidz commented on #197
@Cnly I fixed in `dev` branch ;)

[2020-04-04 21:02] jcpsantiago commented on #199
Works fine with the minimal configuration. Which means it could be one of the plugins. I'll `PlugClean` everything and then add the plugins back one by one and report back ;)

[2020-04-04 21:55] jcpsantiago commented on #199
Seems I tracked it down to this `let g:iced_enable_default_key_mappings = v:true`
If I add it to the minimal configuration, I get the a prompt asking to install `zprint` after pressing `=G` that ends with `Press ENTER or type command to continue` followed by `function <SNR>45__worker[12]..<SNR>44__publish, line 8`.

If I remove that line and press `=G` all code is indendent, but neovim never asks

[2020-04-04 22:02] liquidz commented on #199
@jcpsantiago
vim-iced hooks `==` and `=G` for custom formatting.
https://github.com/liquidz/vim-iced/blob/master/ftplugin/clojure.vim#L545-L551

So when you disable default key mappings, `nvim` will use default a formatter or other plugin's one. (may be `vim-sexp`'s formatter)

[2020-04-05 07:15] Cnly commented on #197
@liquidz Great, I can confirm that. :) But--not sure if it's only my use case--now there seems to be no way to mark a single element (e.g. a variable) in a form and execute it repeatedly. Does that sound like a desirable feature?

[2020-04-05 08:41] liquidz commented on #197
@Cnly hmm, I couldn't imagine the use case.

It doesn't make sense to evaluate a single element in a form repeatedly unless it's a global and mutable variable.

Could you tell me the use case you would like to do?

[2020-04-06 06:41] Cnly commented on #197
@liquidz Okay, I reconsidered about this and it indeed seems the case is pretty rare except for what you've mentioned. Evaluating forms should be enough. Thanks :)

[2020-04-06 08:01] jcpsantiago commented on #199
I see. So yes it's probably using `vim-sexp` instead of whatever I choose for `vim-iced`.

BTW I just tested using `cljstyle` and the same thing happens, same error message: `function <SNR>131__worker[12]..<SNR>130__publish, line 8`

[2020-04-06 20:48] liquidz commented on #197
@Cnly Thanks for your confirmation!
I'll cut a new release this weekend :)

[2020-04-10 22:07] liquidz opened #202 "Unexpected behavior with coc.nvim completion"
c.f. https://github.com/liquidz/vim-iced-coc-source/issues/1

We must `<esc>` after yanking arround bracket.
https://github.com/liquidz/vim-iced/blob/1.3.2/autoload/iced/nrepl/complete.vim#L62

[2020-04-11 09:52] victorb opened #203 "Allow lookups in ClojureDocs for ClojureScript projects"
I have the symbol `defn` under my cursor and press `<Leader>hc` to trigger `IcedClojureDocsOpen` but instead of seeing the docs, I'm getting the following error:

[code]

Which makes sense and it's true. But I wish there was a way to read the docs for the Clojure function `defn` even if I'm in a ClojureScript context/session, maybe via additional parameter to `IcedClojureDocsOpen` that I could con

[2020-04-11 12:00] liquidz commented on #203
@victorb Thanks for your reporting!
Currently there is no way to use IcedClojureDocsOpen in cljs files.
So I added `g:iced#clojuredocs#use_clj_docs_on_cljs` option (default `v:false`) in `dev` branch for trial.

Could you try `dev` branch and enable this option?

[2020-04-13 18:07] uosl opened #206 "Pre-defined aliases not required when using babashka nrepl"
Thanks for adding support for babashka nrepl so quickly!

I'm using it like the following
[code]
and it works as expected, except that the aliases listed in the [babashka readme](https://github.com/borkdude/babashka/blob/master/README.md#usage) that are available through pre-defined aliases have to be required manually (ie. `(require '[clojure.string :as str])` and so on).

Would it be possible to

[2020-04-13 20:41] liquidz commented on #206
@uosl Thanks for your reporting!

I couldn't reproduce the problem with following steps:
* `echo '(comment (str/trim "  foo bar  "))' > foo.clj`
* `bb --nrepl-server 5555`
* `vim foo.clj -c 'IcedConnect 5555'`
* Evaluate the `comment` form

Are you sure that you have `ns` form in your file?

Babashka pre-defines some aliases to `user` namespace, and vim-iced will load current file when you connect

[2020-04-13 21:20] liquidz commented on #202
Closed by #204

[2020-04-13 21:20] #202 closed

[2020-04-13 21:24] liquidz commented on #203
Closed by #204

[2020-04-13 21:24] #203 closed

[2020-04-13 21:25] liquidz commented on #197
@Cnly It's a little late, but I just released!
Closed by #204

[2020-04-13 21:25] #197 closed

[2020-04-13 21:33] uosl commented on #206
You're right, I restarted nvim and everything and it's working fine.

I remember now that when I had this problem, evaluating defs would return `#'sci.core/,,,` or something along those lines, and I'm not sure how I managed to change into that namespace. (I checked the file history and I never called any ns functions.) I'm guessing I mistyped some hotkey.

Anyways, thanks for checking and sorry fo

[2020-04-13 21:33] #206 closed

[2020-04-13 22:15] liquidz commented on #152
Closed by https://github.com/liquidz/vim-iced/pull/194

[2020-04-13 22:15] #152 closed

[2020-04-14 07:03] liquidz opened #207 "Add support for `completions` op in nREPL 0.8"
https://github.com/nrepl/nrepl/issues/174

[2020-04-15 09:57] Fedreg opened #208 "Issue with debugger in Neovim"
Hi, loving iced but having an odd issue with the debugger...

The debugging values display correctly in the popup window but the highlighting is incorrect.  Instead of highlighting each form of the fn being debugged, the lowest function on the screen is constantly highlighted instead.   (See recording)

Most likely something with my setup...  any ideas?

nvim v 4.3
latest iced master
nrepl 0.6.0

[2020-04-15 10:10] Fedreg commented on #208
Apologies.. just saw your note on `minimal configuration` in another issue... Tried that and the debugger works fine with that config.   Must be another plugin interfering.   If you have any idea what might cause it, please let me know.. Otherwise I'll take the painful approach and figure it out.

My plugins:
[code]
thx!!!

[2020-04-15 10:21] liquidz commented on #208
@Fedreg Thanks for your reporting!
Hmm, I have no idea about other plugin's influences.

BTW, do you have the same problem when you evaluate `myfn` again?
`myfn`'s metadata may be outdated.

[2020-04-15 10:33] Fedreg commented on #208
@liquidz No prob, maybe someone else will find it useful...

Yes, same results on every `myfn` eval.

Thx!!

[2020-04-15 10:57] Fedreg commented on #208
Disabled all of my plugins except for `iced` and `sexp`.  Still had the issue.

Turns out it is this line causing the issue.
[code]
Some mapping must be interfering with another one of my settings.

Have a pretty minimal config but will see if an option is colliding

[2020-04-21 13:44] #208 closed

[2020-04-21 20:34] liquidz commented on #208
@Fedreg Sorry, I missed your last comment.
Is the problem solved?

[2020-04-22 01:38] Fedreg commented on #208
@liquidz no prob!  I still have the issue but just haven’t had a chance to look into it.   Disabling the keybindings makes it work fine so im sure i can find the cause once I get a sec to dig deeper.

Not a big deal.  Thx for checking though!

[2020-05-09 03:51] spieden opened #211 "Babashka REPL connection only works momentarily"
## Versions

* Babashka v0.0.93
* Iced v1.4.2
* nvim v0.4.3 (via homebrew)
* Debian 9.12 (inside crostini ChromeOS VM)

## Repro

* Open new buffer
* Run `:IcedInstantConnect babashka`
* Evaluate some forms and move around for 5-20 seconds
* Notice the error `Unexpected error: 'vital: Async.Promise: Timeout'` eventually appears and evaluations stop working

This is an awesome project!

## nvim ini

[2020-05-09 04:08] liquidz commented on #211
@spieden Thanks for your reporting!

I've never had any such problems in my daily use.
Could you tell me your detailed environments (OS, vim/nvim, its version) ?

[2020-05-09 05:27] liquidz commented on #211
@spieden I tested vim `8.2.717` and nvim `0.4.3` with the file below, and I couldn't reproduce the problem.
[code]
If possible, could you also show me the source file and your `.vimrc` ?

[2020-05-09 15:52] spieden commented on #211
I added my version info, but of course now I can't get a repro! It must have been specific to the file I was working with, which I didn't hold onto. 😞 I'll let you know if I hit it again.

[2020-05-09 15:52] #211 closed

[2020-05-09 21:02] liquidz commented on #211
Thanks! Feel free to reopen.

[2020-05-11 06:46] liquidz opened #214 "Support dynamic-loader"
https://github.com/nrepl/nrepl/pull/185

[2020-05-20 05:09] tomgeorge opened #219 "send large return values to Stdout buffer?"
First off, this plugin is amazing :grin:

I've been working on some code that returns pretty large amounts of data, more than enough to be cut off on the command line.  It also looks like the eval code in `iced#nrepl#eval#out` shortens the output and adds `...`.

Outside of `set cmdheight=100`, is there a way I can send that data to the Stdout buffer, or perhaps back to the `iced repl` process?  I

[2020-05-20 05:25] liquidz commented on #219
@tomgeorge I'm sure that stdout buffer is not good for displaying large data.

Could you try to use `tap>` and `IcedBrowseTapped` ?
https://liquidz.github.io/vim-iced/#_browsing_tapped_values

When I tried to evaluate the following code and run `IcedPrintLast`, it took too long time, but result is displayed 😓
[code]

[2020-05-20 05:34] liquidz commented on #219
It also may be useful to use vim-iced-fern-debugger.
https://github.com/liquidz/vim-iced-fern-debugger#tapped-values

[2020-05-22 01:30] frankitox commented on #140
Just something to keep in mind but you can have false positives of this warning if you use shadow-cljs with other tool. For example, if you use `deps.edn` to specify the [dependencies](https://liquidz.github.io/vim-iced/vim-iced.html#vim-iced-manual-shadow-cljs). Because the code only searches for the deps in `shadow-cljs.edn`.

[2020-05-22 01:42] liquidz commented on #140
@frankitox It's good to know. Thanks a lot!

Could you create a new issue?

[2020-05-22 02:07] frankitox commented on #140
Yes, sure. I'll create an issue with more details.

[2020-05-22 02:07] frankitox opened #220 "Warning checking for shadow-cljs deps can have false positives"
Just something to keep in mind. You can have false positives of this warning if you use shadow-cljs with other tool. For example, if you use `deps.edn` to specify the [dependencies](https://liquidz.github.io/vim-iced/vim-iced.html#vim-iced-manual-shadow-cljs). Because the code only searches for the deps in `shadow-cljs.edn`. For example:

deps.edn
[code]

shadow-cljs.edn
[code]
And to start the sh

[2020-05-22 02:09] liquidz commented on #220
Thanks!! I'll have a look.

[2020-05-22 03:29] tomgeorge commented on #219
I'm not sure what I was missing, but `IcedPrintLast` is working for me now.  Thanks, I will close.

[2020-05-22 03:30] #219 closed

[2020-05-23 00:38] liquidz commented on #220
@frankitox I rewrote a validation with babashka script.
Currently, only supports `deps.edn`.
https://shadow-cljs.github.io/docs/UsersGuide.html#deps-edn
`Leiningen` is a to-do.
https://shadow-cljs.github.io/docs/UsersGuide.html#Leiningen

Could you try `dev` branch?

[2020-05-24 13:13] frankitox commented on #220
Hi @liquidz !

Well, the problem is I'm using `:deps true` instead of `:deps {:aliases ..`. But if I do add `:aliases [:dev]` to my config, it works. I think it's good enough. I mean, this is already a ton of code just to show a goddam warning.

Thank you!

[2020-05-24 20:52] liquidz commented on #220
@frankitox Thanks for your confirmation!

vim-iced can't know what options are used when you start shadow-cljs.
So `:deps true` will only refer `:deps` values in your `deps.edn`.

[2020-05-25 21:18] liquidz commented on #220
closed by #221

[2020-05-25 21:18] #220 closed

[2020-06-11 07:22] liquidz opened #225 "Fix to use `ns` optional parameter in evaluating code"
https://nrepl.org/nrepl/ops.html#_eval

[2020-06-13 22:54] liquidz opened #226 "Remove nashorn and graaljs"
https://clojurescript.org/news/2020-04-24-release

[2020-06-18 22:32] evanriley opened #228 "Is it possible to use"

[2020-06-18 22:33] #228 closed

[2020-06-20 13:43] uosl opened #229 "Support defining mappings with LocalLeader"
I love the keybindings but many of them conflict with ones I've configured myself. What do you think about having a `g:iced_enable_default_key_mappings` you can set to enable the key mappings, just using `<LocalLeader>` instead of `<Leader>`?

[2020-06-20 14:20] sittim opened #230 "Is it possible to run Iced with Leiningen"
Is it possible to simply run Iced in nvim by simply using clj (deps.edn) and not Leiningen?

When I do not use the Leiningen to generate project, and I try to run any iced command I get `Not an editor command: xxxxx`

Can I setup my `deps.edn` to make it work.

[2020-06-20 15:02] sittim commented on #230
My fault, it works.  If you have a similar issue, here is what it take:

- Must be in a project folder
- Must have a clojure file open
- Must start repl by `iced repl` at the project root in the terminal
- Must enter VIM/NEOVIM and run `:IcedConnect`

[2020-06-20 15:02] #230 closed

[2020-06-27 22:08] liquidz commented on #226
Closed by #231

[2020-06-27 22:08] #226 closed

[2020-06-27 22:19] liquidz commented on #229
@uosl Oh, sorry for late reply.
I missed notification😓

I think that's a good option to have.
How about to have a `g:iced_default_key_mapping_prefix` option?
The default value is '<Leader>' and you could change any prefix.

[2020-06-27 22:57] liquidz commented on #229
`prefix` may be confusing on some mappings which is not containing `<Leader>`...
https://github.com/liquidz/vim-iced/blob/2.0.0/ftplugin/clojure.vim#L468

`g:iced_default_key_mapping_leader` ?

[2020-06-29 21:32] liquidz commented on #229
@uosl I'm working to support on `support-localleader` branch.
https://github.com/liquidz/vim-iced/tree/feature/support-localleader

Could you try to set `let g:iced_default_key_mapping_leader = '<LocalLeader>'`?

[2020-06-30 14:04] uosl commented on #229
I just tested your branch and `let g:iced_default_key_mapping_leader = '<LocalLeader>'` works.

Thank you so much for implementing this quickly! :tada:
I also think this approach and naming is great as well.

[2020-06-30 21:06] liquidz commented on #229
@uosl Thanks for your confirmation!

[2020-07-03 20:58] liquidz commented on #229
Closed by #233

[2020-07-03 20:58] #229 closed

[2020-07-09 21:32] liquidz opened #234 "Make sideloader stoppable"
nNepl does not provide the way to stop sideloader officially.
But sideloader is a session specific mode, so we can stop sideloading by stopping to use current session.

[2020-07-10 21:47] liquidz commented on #234
Closed by #235

[2020-07-10 21:47] #234 closed

[2020-07-10 21:48] liquidz commented on #104
Closed by #235
https://liquidz.github.io/vim-iced/#customizing_tonsky_formatting_rule

[2020-07-10 21:48] #104 closed

[2020-07-10 21:54] liquidz commented on #199
Feel free to reopen ☺️

[2020-07-10 21:54] #199 closed

[2020-07-10 21:58] liquidz opened #236 "Consider to use prabirshrestha/callbag.vim"
For now, vim-iced uses vital.vim's [Async.Promise](https://github.com/vim-jp/vital.vim/blob/master/doc/vital/Async/Promise.txt) for async manipulation.

https://github.com/prabirshrestha/callbag.vim

[2020-07-17 09:28] uosl opened #238 "Cycle clj/cljs session based on file extension"
When I'm connected to both CLJ and CLJS repl using `iced repl`, `<Plug>(iced_connect)` and `:IcedStartCljsRepl figwheel-sidecar`, and switching between evaluating forms in .clj and .cljs files, I have to call `:IcedCycleSession` to cycle between CLJ and CLJS and avoid the `Session error. You should be in clj(s) session.`

Is there a way to make this automated? What do you think about switching aut

[2020-07-17 09:35] uosl commented on #238
Nevermind, I did another search through the documentation and found `g:iced#nrepl#auto#does_switch_session` which works perfectly! :smile_cat:

[2020-07-17 09:35] #238 closed

[2020-07-18 22:08] liquidz opened #239 "Make map formattable"
`Failed to find code` for now

[2020-07-31 22:31] liquidz commented on #121
Closed by #241

@matthias-margush Sorry for late fixes.
I just added a more accurate check with Babashka.
Babashka is not mandatory,  and `iced` command will use it automatically when bb command exists.
(the accurate check is limited for Leiningen and Clojure CLI for now)
https://liquidz.github.io/vim-iced/#iced_usage

Feel free to reopen this issue if there are some problems :)

[2020-07-31 22:31] #121 closed

[2020-08-05 16:28] Cnly commented on #219
I also tried to evaluate a form that returns something really long recently, and neovim just stopped responding :/ It took me a long time to figure out what the problem was. Perhaps it'll be better to at least have a way to warn the user about what is going to happen?

[2020-08-05 20:39] liquidz commented on #219
@Cnly Thanks for your comment.

You are right. I should be.
I'll fix it!

[2020-08-05 21:23] liquidz opened #242 "Freeze vim/nvim when too large values are returned"
Branched from https://github.com/liquidz/vim-iced/issues/219#issuecomment-669295835

[2020-08-05 21:24] liquidz commented on #219
Branched to #242

[2020-08-05 21:32] liquidz commented on #242
@Cnly I'm fixing on `feature/warn-too-long` branch.

It's work in progress, but the warning should be displayed.

And I also added `g:iced#nrepl#skip_evaluation_when_buffer_size_is_exceeded` option to skip evaluation when the nREPL response length exceed `g:iced#nrepl#buffer_size`.
This option can avoid to freeze vim/nvim.

[2020-08-06 08:28] Cnly commented on #242
@liquidz Just had a quick test and they worked. Thanks!

PS: There's a typo in the warning message:

[2020-08-06 20:47] liquidz commented on #242
Oh! Thanks!

[2020-08-06 21:24] liquidz commented on #242
@Cnly Just released `2.1.3`. Thanks for your confirmation!

Closed by #243

[2020-08-06 21:24] #242 closed

[2020-08-15 00:12] liquidz commented on #239
Closed by #245

[2020-08-15 18:02] frankitox commented on #239
Nice, thanks :smile:! This one has been bothering me for quite some time.

[2020-08-15 21:18] frankitox commented on #239
Hi! I'm getting this error while loading vim

![image](https://user-images.githubusercontent.com/1985577/90321796-7f406f00-df23-11ea-9d93-b4aff3f756f2.png)

I fix it by adding `let g:iced_formatter = 'default'` to my `~/.vimrc`.

[2020-08-15 21:20] liquidz commented on #239
@frankitox Oh, I forgot to initialize the variable. Thanks!

I'll fix soon.

[2020-08-15 21:32] liquidz commented on #239
@frankitox I just fixed.
Could you try the latest version?

[2020-08-15 21:44] frankitox commented on #239
Just did, works correctly :+1:

[2020-08-15 21:45] liquidz commented on #239
Thanks for your confirmation!

[2020-08-15 21:45] #239 closed

[2020-08-15 21:50] liquidz commented on #225
It works good in clojure project.
However, in figwheel-main, evaluating with `ns` parameter will raise the following error.

[code]

I got no errors without `ns` parameter.
And also after evaluating `in-ns`, evaluating  some codes with `ns` parameter does not raise any errors.
weird.

[2020-08-15 21:55] liquidz opened #247 "Use clj-kondo's analysis"
It make developing with plain nREPL more useful.

- First target
  - `IcedBrowseReferences` / `IcedBrowseDependencies`
- Second target
  - `IcedAddNs` / `IcedAddMissing`

[2020-08-19 07:36] Risto-Stevcev opened #249 "Shadow-cljs setup instructions not working"
I followed the instructions in the docs to set up vim-iced with shadow-cljs that you outlined in issue #105 , but it's not working.

After following the steps:

1. Generate a test project
   - https://github.com/thheller/shadow-cljs#quick-start
2. Set up shadow-cljs.edn
   - https://liquidz.github.io/vim-iced/vim-iced.html#vim-iced-manual-shadow-cljs
3. Start to watch
   - `npx shadow-cljs watch f

[2020-08-19 08:23] liquidz commented on #249
@Risto-Stevcev Thanks for your reporting!
Which version are you using?

Similar problem is fixed at ver 2.1.4.
https://github.com/liquidz/vim-iced/blob/master/CHANGELOG.adoc#214-2020-08-15
Could you try latest version?

[2020-08-19 08:48] Risto-Stevcev commented on #249
Ah thanks. That fixed that warning about dependencies, but now it just fails sliently and returns `:cljs/quit`

[2020-08-19 09:13] Risto-Stevcev opened #250 "Can't set up vim-iced with clojurescript"
I can't set it up for figwheel-main or shadow-cljs (#249) 🙁

For figwheel-main, I'm going through these steps:

1.`lein new figwheel-main acme-figwheel-app`

And then:
2. `lein fig:build` -- browser shows it as 'Connected'
3. Tried `:IcedConnect` but it can't find `.nrepl-port`

Since that didn't work, then I tried:
2. ` ~/.local/share/nvim/plugged/vim-iced/bin/iced repl --with-cljs`
3. `:IcedConn

[2020-08-19 09:17] liquidz commented on #249
Oh, that's strange.
I'll have a look.

[2020-08-19 10:02] liquidz commented on #249
@Risto-Stevcev I confirmed.

https://github.com/liquidz/vim-iced/blob/2.1.6/autoload/iced/nrepl/cljs.vim#L23-L24
`:cljs/quit` is a display issue and does not affect actual operation. (I'll fix it)

 With nvim 0.4.4 and vim 8.2, I could confirm that evaluating `:IcedEval (js/alert "foo")` will show dialog on browser.

[2020-08-19 10:24] Risto-Stevcev commented on #249
Oh that's odd, it's working now. I'm not sure what happened, sorry about that  o_O
Maybe it was caching issue -- I ended up deleting all of the sample apps I was testing out with vim-iced and cider and went through this flow again

[2020-08-19 10:51] liquidz commented on #250
@Risto-Stevcev Thanks!

At first, `lein fig:build` will not launch nREPL server.

So the following steps are the right way.

And I could reproduce the problem (but I'm using figwheel-main at work, and didn't get such errors).
I'll try to fix it.

BTW current workaround is here.
* Execute `:IcedQuitCljsRepl` after WebSocket disconnected
* Execute  `:IcedStartCljsRepl figwheel-main dev` again

[2020-08-19 11:30] Risto-Stevcev commented on #249
Ah I figured out how to reproduce the problem I was running into,

If you follow all of the steps but you _don't_ visit `http://localhost:8080/`, then trying to evaluate anything will return `nil` and the following message:

`See https://shadow-cljs.github.io/docs/UsersGuide.html#repl-troubleshooting`

If it's a shadow-cljs specific behavior it might be worth mentioning that you have to visit the

[2020-08-19 21:27] liquidz commented on #249
@Risto-Stevcev Thanks!
I'll update documents soon.
Here is a document for `dev` branch.
- https://vim-iced-nightly.netlify.app/#clojurescript_shadow_cljs
- https://vim-iced-nightly.netlify.app/vim-iced.html#vim-iced-shadow-cljs

[2020-08-20 21:23] liquidz commented on #249
I've cut a new release, and documents are updated.
- https://liquidz.github.io/vim-iced/#clojurescript_shadow_cljs
- https://liquidz.github.io/vim-iced/vim-iced.html#vim-iced-shadow-cljs

[2020-08-20 21:23] #249 closed

[2020-08-29 12:43] uosl opened #253 "Unable to get working with figwheel-main and deps.edn"
You can reproduce with the following `deps.edn`
[code]
`dev.cljs.edn`
[code]
and `src/foo/core.cljs`
[code]
Using figwheel-main directly works as expected with `clj -A:dev -m figwheel.main -b dev -r`. But I haven't figure out how to evaluate ClojureScript code from vim-iced using this setup. I've tried
[code]
and it starts figwheel.main, opens a browser page and runs my code, but then it immediate

[2020-08-29 13:10] liquidz commented on #253
@uosl Is this similar to this issue?
https://github.com/liquidz/vim-iced/issues/250

How about this workaround?
https://github.com/liquidz/vim-iced/issues/250#issuecomment-676136350

[2020-08-29 14:02] uosl commented on #253
It might be similar, although that issue is with leiningen instead of deps.edn.

I tried the workaround, but nothing happens when running `:IcedStartCljsRepl figwheel-main dev` again.

[2020-08-29 20:34] liquidz commented on #253
@uosl Thanks!
I could reproduce the problem.

BTW, the following workaround worked well in my environment, so I assume that this is the same cause as #250.

1. Execute `:IcedStartCljsRepl figwheel-main dev` (first time)
   * Browser opens new tab, and alerts "hello".
   * Then disconnected suddenly.
1. Execute `:IcedQuitCljsRepl`
   * Opened tab in browser is still there.
1. Execute `:IcedStartClj

[2020-08-29 21:43] liquidz commented on #253
@uosl I tweaked starting cljs-repl steps with figwheel-main, and pushed codes to `dev` branch.
It seems work well in my environment.

Could you try `dev` branch?

[2020-08-29 21:44] uosl commented on #253
You are right! I managed to get it working like you described in the workaround now.

Thank you, this should keep me afloat until you get around to fixing it. [=

*Seems like you've already done it while I was typing this; I'll test the branch now!*

[2020-08-29 21:52] uosl commented on #253
I tested the dev branch and it works perfect now; no disconnection after the first IcedStartCljsRepl.

Thank you! :tada:

[2020-08-29 21:53] liquidz commented on #253
Thanks for your confirmation!

[2020-08-29 22:02] liquidz commented on #253
Merged to master https://github.com/liquidz/vim-iced/pull/254

[2020-08-29 22:04] liquidz commented on #250
@Risto-Stevcev I'm sorry it took so long.
This problem shoud be fixed in ver `2.1.9`.

Could you try the latest version?

[2020-08-30 16:58] #253 closed

[2020-09-04 23:02] liquidz commented on #214
need to rethink how to use it in which situations and what value it provides.

[2020-09-07 23:35] Risto-Stevcev commented on #250
@liquidz Nice it's working now :slightly_smiling_face:
Why does vim-iced use a custom repl? thinking in comparison to cider

[2020-09-07 23:37] Risto-Stevcev opened #258 "Add a way to inject dependencies at jack-in"
Cider has a cool feature to inject the nrepl deps at jack-in (`cider-inject-dependencies-at-jack-in`+`cider-jack-in-cljs`), it would be nice to have a similar feature for iced :slightly_smiling_face:

[2020-09-07 23:59] liquidz commented on #250
@Risto-Stevcev Thanks for your confirmation!

What "custom repl" mean?
In my recognition, CIDER starts customized REPL (injecting dependencies and middlewares) inside Emacs via cider-jack-in.

vim-iced provides the way to start REPL outside Vim, so what we are doing is basically the same.

[2020-09-08 00:35] liquidz commented on #258
Does this command help you?
https://liquidz.github.io/vim-iced/vim-iced.html#%3AIcedJackIn

[2020-09-08 08:11] Risto-Stevcev commented on #250
Ah ok, sorry I'm not too familiar with Cider -- I saw your comment about jack-in

[2020-09-08 08:12] Risto-Stevcev commented on #258
Ah thanks!

[2020-09-08 08:12] #258 closed

[2020-09-08 10:27] #250 closed

[2020-09-13 16:52] tami5 opened #259 "completion via completion-nvim?"
Hay there, I read somewhere that vim-iced support omnifunc, I don't know how to set it up or if it will work with completion framework such as completion-nvim. I use nvim_lsp and I set my omnifunc like this:

omnifunc=v:lua.vim.lsp.omnifunc

any thought will be extermlly helpful, thanks

[2020-09-13 20:31] tami5 opened #260 "syntax highlighting in markdown docs <leader>hc"
Hi there I'm consuming so much of hc feature, however, the syntax highlighting just won't work for me, I use tpope markdown plugin and I added:

[code]

Still it won't work, so I installed guns/vim-clojure-static, but still the issue isn't fixed.

BTW: It doesn't work for markdown files, so I understand if this issue isn't relative to vim-iced.

Thanks

[2020-09-13 21:04] liquidz commented on #259
Yes, vim-iced supports omnifunc.
- https://liquidz.github.io/vim-iced/#omni_completion
- https://github.com/liquidz/vim-iced/blob/2.2.0/ftplugin/clojure.vim#L296

I have never used completion-nvim, so I don't know how to set it up for now.
Maybe we need an external source as follows?
- https://github.com/liquidz/vim-iced-asyncomplete
- https://github.com/liquidz/vim-iced-coc-source

[2020-09-13 21:20] liquidz commented on #260
In my environment, it seems work well 🤔
<img width="691" alt="2020-09-14 6 15 44" src="https://user-images.githubusercontent.com/6941/93028890-06335500-f652-11ea-86ba-e4406a19f02f.png">

I confirmed with nvim 0.4.4 and following settings.

[code]

[2020-09-13 22:01] tami5 commented on #260
I guess its a problem with neovim 0.5, Thanks a lot for confirming that its an issue on my side.

[2020-09-13 22:01] #260 closed

[2020-09-13 22:18] tami5 commented on #259
Thanks a lot

[2020-09-13 22:18] #259 closed

[2020-09-14 12:56] nbardiuk opened #261 "Add RenameSymbol command"
A new command that prompts the user for a new name and replaces all occurrences of the symbol in the project.

Example from documentation in emacs https://github.com/clojure-emacs/clj-refactor.el/wiki/cljr-rename-symbol

[2020-09-14 13:03] nbardiuk commented on #261
I am willing to contribute the feature to the project.

Could you please give me some direction on where the functionality should be implemented?
My initial thought is to start hacking in iced-nrepl but there is also refactor-nrepl.

[2020-09-14 22:46] liquidz commented on #261
@nbardiuk I'm glad to hear that!
It may be a bit difficult to implement for the first contribution.
But you will understand vim-iced better when you implemented this feature.

First of all, I think it's better to have basically the same implementation as clj-refactor.el (because that's the feature we want).
https://github.com/clojure-emacs/clj-refactor.el/blob/v2.5.0/clj-refactor.el#L2650

1. refa

[2020-09-16 22:35] nbardiuk commented on #261
Thank you for such detailed directions! It would take me forever to figure out these details

[2020-09-17 21:21] b-ryan opened #263 "Slows down basic operations"
Hi there,

I love this plugin so far, thanks for working on it.

I have noticed that vim-iced appears to be responsible for slowing down some basic operations. For example, just using `o` to start a new line takes several seconds.

This appears to be related to vim-sexp, however I don't have this problem when I only use vim-sexp. If I disable the vim-sexp plugin, this problem goes away.

Steps to

[2020-09-17 21:32] liquidz commented on #263
vim-iced provides auto indentation feature by default.
https://liquidz.github.io/vim-iced/vim-iced.html#vim-iced-indenting

If you didn't customize formatters, `cljfmt` will be used and this is little bit slow.
https://liquidz.github.io/vim-iced/#formatting_customize

So you can do one of the following.
* Disable auto indentation
  * `let g:iced_enable_auto_indent = v:false`
* Use custom formatter

[2020-09-17 21:38] b-ryan commented on #263
Thanks for the quick reply! I disabled the auto indentation and that worked. It might help if the word "slow" or "delay" were in the help docs, I had searched there before opening the issue.

Thanks again

[2020-09-17 21:38] #263 closed

[2020-09-17 21:53] liquidz commented on #263
Thanks! I'll update documents.

[2020-09-19 09:22] nbardiuk opened #264 "CommandPalette hides command message"
When a command is called from Command Palette the echo message from the command is not visible to the user

Steps to reproduce:
 * :IcedCommandPalette
 * Connect

Expected:
 * a `Connected` message

Actual:
 * no message is displayed (although it is present in `:messages`)

I am using `fzf` for candidates selection

[2020-09-21 08:41] liquidz commented on #264
@nbardiuk Sorry for late reply, and thanks for your reporting!

It seems to depend on `cmdheight` setting.
when `set cmdheight=1` no messages is displayed, but `set cmdheight=2` will be displayed.

I'll try to fix.

[2020-09-21 08:58] liquidz commented on #264
@nbardiuk I tried to fix on `dev` branch.
Could you try `dev` branch?

[2020-09-21 09:14] nbardiuk commented on #264
@liquidz I've just tried dev branch and it works! Thanks for the fix

[2020-09-21 21:35] tami5 opened #265 "Option for opening docs in vsplit"
Hi there, I'd like to open up docs created by <leader>hc in vsplit, I know that the size is adjustable via `g:iced#buffer#document#height`, but is there a way to make it open in a v-split or better decide based on frame size whether to open in v or h split.

Thanks

[2020-09-21 22:07] liquidz commented on #265
Currently document buffer will be splited by `belowright` always.
https://github.com/liquidz/vim-iced/blob/2.2.0/autoload/iced/buffer/document.vim#L32

But it is possible to provide a modifier option  as well as stdout buffer.
https://github.com/liquidz/vim-iced/blob/2.2.0/autoload/iced/buffer/stdout.vim#L14

[2020-09-21 22:33] liquidz commented on #265
@tami5 I tried to add a modifier option.
Could you try [feature/document_buffer_mod](https://github.com/liquidz/vim-iced/tree/feature/document_buffer_mod) branch with following setting?
[code]

[2020-09-21 22:55] tami5 commented on #265
Sure one moment

[2020-09-21 23:00] tami5 commented on #265
Nice works very well, Now is it possible to choose whether it opens left or right?

[2020-09-21 23:02] tami5 commented on #265
What is the buffer name? I'd like to add an autocmd to open folds.

Also, Thanks so much for quickly adding the feature

[2020-09-21 23:08] liquidz commented on #265
Thanks for your confirmation!

You can choose it by vim side option.
https://vim-jp.org/vimdoc-en/options.html#'splitright'

Buffer name is `iced_document`.
https://github.com/liquidz/vim-iced/blob/2.2.0/autoload/iced/buffer/document.vim#L4

[2020-09-21 23:10] tami5 commented on #265
Oh I see, so its hard todo separately without changing built in option?

Thanks a lot. Will the changes be merged to dev or master soon?

[2020-09-21 23:10] #265 closed

[2020-09-21 23:25] liquidz commented on #265
It maybe not hard to do, but it's low priority because we can do it in the vim's settings.

Merged to `dev` branch.

[2020-09-21 23:27] tami5 commented on #265
Thanks a lot, It is low priority and perhaps would be unnecessary.

[2020-09-21 23:28] tami5 opened #267 "Buffer with evaluations forms and their output"
Hi, Is there a way to get buffer with all evaluation history?

Thanks.

[2020-09-21 23:32] liquidz commented on #267
Currently no.
What do you want to do in buffer with all evaluation history? Re-evaluation?

[2020-09-22 00:07] tami5 commented on #267
Its is extermlly helpful to see what is evaluated, to what value. Also, did the namespace file evaluate? is everything required?

Some other features in mind:
- Syntax highlighting for both evaluation form and evaluation result.
- Foldable based on evaluation forms
- Indentation foldmethod for nested data tree
- toggle with a mapping

[2020-09-22 08:20] #261 closed

[2020-09-22 08:21] #264 closed

[2020-09-22 08:43] nbardiuk opened #269 "<Plug>(iced_eval_and_replace) does not work with unnamed clipboard"
Steps to reproduce:
 * `:set clipboard=unnamedplus`
 * yank some text
 * `<Plug>(iced_eval_and_replace)<Plug>(sexp_outer_list)`

Expected
 * form is replaced with the evaluation result

Actual
 * form is replaced with previously yanked text

More context:
 * it is neovim v0.4.4
 * evaluation result is available in register "0
 * `silent normal! gv"0p` works for me  https://github.com/liquidz/vim-i

[2020-09-22 20:39] liquidz commented on #247
Closed by #257

[2020-09-22 20:39] #247 closed

[2020-09-22 20:40] liquidz commented on #207
Closed by #257

[2020-09-22 20:40] #207 closed

[2020-09-22 20:48] liquidz commented on #267
You can use `IcedEvalAtMark` if you just want to re-evaluate.
https://liquidz.github.io/vim-iced/#evaluation_marks
But there's no history, so it may not be what you want.

It seems better to extend `Hook` to provide it as an external plugin.
https://liquidz.github.io/vim-iced/#hook

[2020-09-22 21:09] liquidz commented on #269
@nbardiuk Thanks for your reporting!
I could reproduce the problem, and I also confirmed  evaluation result is yanked to `"0` register.

Very helpful. Thanks!!

`gvp` seems to be used in addition to `<Plug>(iced_eval_and_replace)`, so I'll fix them.

[2020-09-22 21:27] liquidz commented on #269
I released ver 2.3.1 since It was a wide area of influence.
Could you try latest version?

[2020-09-22 23:02] tami5 commented on #267
Hmmm, I'll try to play around with hooks and perhaps as part of learning process of scripting with vim, I can produce a plugin. Can you give somewhat compex hook that can be a starting point for me that involves vim-iced api?

Thanks

[2020-09-23 10:37] nbardiuk commented on #269
It works, thank you for the fix! 🎉

[2020-09-23 10:37] #269 closed

[2020-09-23 15:38] #267 closed

[2020-09-23 15:50] tami5 opened #271 "Error using IcedInstantConnect IcedJackIn"
I have an issue, using `IcedInstantConnect` and `IcedJackIn`.

![](https://i.imgur.com/3ujoINp.png)

Creating a external repl and hiting IcedConnect works well. Additionally, Using IcedInstantConnect babashka, Works okay, but . _DOC POPUP doesn't auto close when moving the cursor, or auto close by it self_

So its two issues, wrapped in one
1. `IcedInstantConnect` and `IcedJackIn` doesn't work wit

[2020-09-23 20:48] liquidz commented on #267
Currently, hooks do not fire on evaluation.
So we should start to update hooks to fire on evaluation at first.

Sorry, I'm using hooks only for notification for now, and I don't have complex examples.

[2020-09-23 21:17] liquidz commented on #271
@tami5 Thanks for your reporting!

I could reproduce the problem. I'll fix.

In my environment, I could not reproduce on vim 8.2.1665 / nvim 0.4.4.
Moving the cursor horizontally doesn't close the popup by specification, but moving vertically does.

What is your vim/nvim version?
Could you try minimal configuration?
https://liquidz.github.io/vim-iced/#minimal_configuration

[2020-09-23 21:35] tami5 commented on #271
Sure thing, My neovim version is 0.5. I'll try to reproduce with minimal configuration tonight popup not closing my it self tonight. Also is there I timer I can set?

Thanks

[2020-09-24 04:19] liquidz commented on #271
Currently auto closing feature is disabled for document popup.
https://github.com/liquidz/vim-iced/blob/2.3.1/autoload/iced/nrepl/document.vim#L150

Ah, I remember that the neovim popup relies on `CursorMoved` autocmd.
https://github.com/liquidz/vim-iced/blob/2.3.1/ftplugin/clojure.vim#L322-L329
Are you sure that the file you are opening have one of the following extentions?

[2020-09-24 21:36] liquidz commented on #271
@tami5 Ah, sorry, vim-iced was resetting the jackin job when connected.
https://github.com/liquidz/vim-iced/blob/2.3.1/autoload/iced/nrepl/connect.vim#L144

I fixed `IcedInstantConnect` and `IcedJackIn`.
Could you try `dev` branch?

[2020-09-25 20:47] tami5 commented on #271
https://github.com/liquidz/vim-iced/blob/2.3.1/ftplugin/clojure.vim#L322-L329
Are you sure that the file you are opening have one of the following extentions?

Moving vertically closes it, I'm sure after testing. However, horizontally does.

Unfortunately it didn't work, I get a message saying it found a lein project but nothing works.

[2020-09-25 21:07] liquidz commented on #271
As I said, moving the cursor horizontally doesn't close the popup by specification.
It's because popup will closes even when you enter text.

Umm, weird.
In my environment, I confirm to work `IcedInstantConnect` and `IcedJackIn` with vim 8.2.1522 and nvim 0.5.0-709.
Just to clarify: Are you sure you are using the latest `dev` branch?

[2020-09-25 21:30] tami5 commented on #271
Yes, commit a18f80 .

Also is it normal for bakasha to not have jump to def and docs. Thanks

[2020-09-25 21:51] liquidz commented on #271
Currently yes.
The nREPL connection basically relies on cider-nrepl, so there are still many things we can't do with babashka.nrepl.

But now that we have clj-kondo static analysis available, I have a plan to implement def jumps based on it.

[2020-09-30 21:36] liquidz commented on #271
@tami5 I added an `g:iced#nrepl#connect#auto_connect_timeout` option to try it out.
The default value is `5000` (5 seconds).

Try changing the settings as needed.

[2020-09-30 21:43] tami5 commented on #271
What does this option do exactly?
Thanks

[2020-09-30 21:59] liquidz commented on #271
vim-iced confirms that "nREPL server started" is output and then starts trying to connect to the nREPL.
This option is the number of seconds to time out when trying to connect.

[2020-09-30 23:33] tami5 commented on #271
I'll try it out hopefully tomorrow and report back, thanks so much!!

[2020-10-04 21:18] liquidz commented on #271
Renamed `g:iced#nrepl#connect#auto_connect_timeout` to `g:iced#nrepl#connect#auto_connect_timeout_ms`, and added help.
https://github.com/liquidz/vim-iced/blob/c6a58ebf8b2a54a3640f0b5a1fbfe6dabb4b31a6/doc/vim-iced.txt#L1578-L1583

[2020-10-06 20:40] liquidz commented on #271
I've cut a new release it in its current state for now. #272
Feel free to reopen this issue with any trouble.

[2020-10-06 20:40] #271 closed

[2020-10-07 03:38] tami5 commented on #271
Hay, @liquidz  I'm terribly sorry for not being able to test it out till now. Thanks so much for looking into it and I'm sure its now fixed for the next time I open a clojure project. Thanks again

[2020-10-07 03:40] liquidz commented on #271
@tami5 Thanks for your confirmation!

[2020-10-07 21:23] liquidz opened #274 "Support shadow-cljs in iced command"
https://liquidz.github.io/vim-iced/#iced_supports

use user-config
https://shadow-cljs.github.io/docs/UsersGuide.html#user-config

[2020-10-07 21:28] liquidz opened #275 "Support jumping to qualified keyword"
[code]

[2020-10-12 19:06] Fedreg opened #276 "Error while using `UseCaseOpen`"
Hello!

Just noticed an error while trying out the `UseCaseOpen` command:

<img width="1369" alt="image" src="https://user-images.githubusercontent.com/17401067/95781552-a8674c80-0c93-11eb-9ce3-076e19f1029e.png">

This happens either if I explicitly pass the symbol to the command or if I run while symbol is under cursor.

Running newovim 0.4.3 and here are my active plugins in case you spot anythi

[2020-10-12 21:30] liquidz commented on #276
@Fedreg Thanks for your reporting!

`UseCaseOpen` has some synchronous processing and seems to be timed out there.
I'll change to asynchronous processing and also allow to use clj-kondo's static analysis data.

[2020-10-13 07:13] liquidz opened #277 "Parentheses in comment breaks code finding"
Failed to evaluate the following code.

[code]

Without [matchit](https://github.com/vim/vim/tree/master/runtime/pack/dist/opt/matchit), `%` will move cursor to closing parentheses in comment.
Fix to use [sexp_move_to_next_bracket](https://github.com/guns/vim-sexp/blob/master/doc/vim-sexp.txt#L145).

[2020-10-14 00:15] Fedreg commented on #276
@liquidz Ya, it was on a pretty large codebase so that could definitely be it.  thx!!

[2020-10-17 05:58] liquidz commented on #276
@Fedreg Sorry for the delay.
I tried to fix the problem in `dev` branch.
Could you try `dev` branch?

[2020-10-17 14:50] Fedreg commented on #276
@liquidz  No prob!!!!

Yup, pulled in Dev and it works great!!!  Timeout is gone.
Thank you for fixing so quickly!!

[2020-10-17 21:31] liquidz commented on #276
@Fedreg Thanks for your confirmation!

[2020-10-18 21:54] liquidz commented on #277
Closed by #278

[2020-10-18 21:54] #277 closed

[2020-10-18 21:54] liquidz commented on #276
Closed by #278

[2020-10-18 21:54] #276 closed

[2020-10-18 21:55] liquidz commented on #275
Closed by #278

[2020-10-18 21:55] #275 closed

[2020-10-18 21:55] liquidz commented on #274
Closed by #278

[2020-10-18 21:55] #274 closed

[2020-10-24 22:14] Futurile opened #284 "Jet asks to install every time"
Each vim-iced session when I use the `IcedSourceShow` command it asks me if I want to install `jet`. I already have `jet` installed. If I say 'no' to the dialog then it will show the source. All subsequent calls to `IcedShowSource` show the source without asking me to install `jet`.

I would expect vim-iced to check if jet has already been installed and to only prompt to install it if it is not av

[2020-10-24 22:41] liquidz commented on #284
@Futurile Thanks for your reporting!

It's weird.
As you know, vim-iced will check the existence of jet for the first time of use.
https://github.com/liquidz/vim-iced/blob/2.4.0/autoload/iced/component/edn.vim#L39-L52

What is ouput as a result of executing `:echo executable('jet')` command?
If `0`, could you confirm that your `PATH` environmental variable contains the path for the `jet`?
c.f. htt

[2020-11-01 21:16] Futurile commented on #284
This was my error, I didn't have the location in my PATH where it was installing iced/jet etc.

[2020-11-01 21:16] #284 closed

[2020-11-08 06:30] tami5 opened #287 "No reader function for tag feature"
Hey @liquidz

I'm getting error message No reader function for tag feature  after connecting to the repl

[2020-11-08 06:33] liquidz commented on #287
@tami5 Thanks for your reporting!

Could you tell me minimal steps to reproduce?

[2020-11-08 06:37] tami5 commented on #287
Here you ho

nvim -Nu test.vim

[code]

[2020-11-08 06:38] tami5 commented on #287
I'm using nvim nightly btw

[2020-11-08 06:50] liquidz commented on #287
Hmm.. I could not reproduce the problem.

[code]

Then I did `:IcedConnect` and `:IcedEvalOuterTopList` commands, and got no errors.

I confirmed above steps with NVIM v0.5.0-812-gd17e50879.

[2020-11-08 06:55] tami5 commented on #287
Hmm so this maybe on lein level project level?

Let me recheck and reopen if the issue continue. Thanks a lot @liquidz

[2020-11-08 06:55] #287 closed

[2020-11-08 07:00] liquidz commented on #287
I think it maybe project level.
Is there an `#foo`-like description left somewhere in your code?

[2020-11-25 21:21] Fedreg opened #290 "Errors running debugger (found cause)"
# Error running debugger (found cause)

A few months ago I reported #208 showing that the debugger window was not displaying at the correct spot in the screen.
I determined that this happens when `"let g:iced_enable_default_key_mappings = v:true"`
if false, the debugger worked as expected.

I hadn't dug deeper on this since I usually have Emacs open as well and just jumped into that for Debugger u

[2020-11-25 21:27] liquidz commented on #290
@Fedreg Thank you for the information!
I'll have a look.

[2020-11-26 19:25] tami5 opened #291 "iced_stdout_buffer_toggle"
Hey @liquidz I think there should `iced_stdout_buffer_toggle` instead of close/open this way it would be one mapping for the user.

Also it would be cool if we can have a veration for opening the stdout buffer. like <leader>ss horizontal split, <leader>sv vertical split ..

Thanks

[2020-11-26 21:00] liquidz commented on #291
@tami5 Thanks for your suggestion!

`iced_stdout_buffer_toggle` is a good idea.

Currently `ss` depends on [g:iced#buffer#stdout#mods](https://liquidz.github.io/vim-iced/vim-iced.html#g%3Aiced%23buffer%23stdout%23mods).

[2020-11-26 21:11] liquidz commented on #291
I just added the `IcedStdoutBufferToggle` command to try it out.

[2020-11-26 21:13] tami5 commented on #291
Oh nice, thanks a lot @liquidz . For the  g:iced#buffer#stdout#mods I think I can get away with creating a mapping that will set the value of the g:iced#buffer#stdout#mods then run IcedStdoutBufferToggle for now.

Thanks a lot :heart:

[2020-11-26 21:13] #291 closed

[2020-11-26 21:15] liquidz commented on #291
Thanks for your confirmation!
I'll merge and release in this weekend.

[2020-11-28 11:32] Cnly opened #292 "IcedTestNs, IcedTestAll need manual require but IcedTestUnderCursor doesn't"
Let's say I'm working on a `deftest` form. After editing, if I run `IcedTestUnderCursor` immediately, the latest test code will be executed.

However, if I instead run `IcedTestNs` or `IcedTestAll`, vim-iced will run the old test code loaded when I previously ran `IcedRequire`. In other words, I need to manually `IcedRequire` in order to make `IcedTestNs` and `IcedTestAll` use the latest code.

I'

[2020-11-28 22:08] liquidz commented on #292
@Cnly Thanks for your reporting!

`IcedTestUnderCursor` evaluates the form under the cursor to identify the var for testing, thus it leads testing the latest code.
On the other hand, the ns name is not evaluated at present because it can be extracted without evaluation.

However, it is certain that the behavior is inconsistent, so I'll consider how to deal with it. (There are also `IcedTestRedo` a

[2020-11-28 23:06] liquidz commented on #291
@tami5 FYI, I just cut a new release #293

[2020-11-28 23:21] tami5 commented on #291
Nice thanks @liquidz , I'm looking into make help docs and stdout floating window in neovim. I'm going to share simple implementation if I succeeded

[2020-11-28 23:22] tami5 commented on #291
Also, I think toggling should be applied to document as well.

[2020-11-28 23:36] liquidz commented on #291
Do you mean toggling for IcedDocumentOpen?
https://liquidz.github.io/vim-iced/vim-iced.html#%3AIcedDocumentOpen

[2020-11-28 23:39] tami5 commented on #291
Yep

[2020-11-29 00:28] liquidz commented on #291
In IcedDocumentOpen, the content to be displayed differs depending on the symbol under the cursor, so when toggling, we need to consider when and what to display and when to close.

(E.g. if the symbol under the cursor is the same as the one currently displayed, close it, and if it is different, change the displayed content)

[2020-11-29 00:31] tami5 commented on #291
Oh makes sense

[2020-11-29 00:33] tami5 commented on #291
Also @liquidz https://camo.githubusercontent.com/27a104fdd1d4a52bedaa79bff3afbac6f8b0137339179b374828022060396e76/68747470733a2f2f61736369696e656d612e6f72672f612f3332353531372e737667 any plans to support such experience. Its could replace stdout. both the buffer and side popup is really useful. Please consider it

[2020-11-29 01:27] liquidz commented on #291
Currently I have no plan to support such feature, but now that I've recognized your request, so I'll consider what is the best way to do it.

[2020-11-29 01:38] tami5 commented on #291
:heart:

[2020-11-29 18:08] tami5 opened #294 "Indentation takes a while to execute"
Hey @liquidz , I don't know why iced does this but is there a way to disabling indentation by vim-iced. By the way this didn't happen for me before.

Thanks

[2020-11-29 20:53] liquidz commented on #294
See this comment
https://github.com/liquidz/vim-iced/issues/263#issuecomment-694510943

BTW I didn't change any operation about indenting in recent releases

[2020-11-30 10:01] tami5 commented on #294
Awesome thanks

[2020-11-30 10:01] #294 closed

[2020-11-30 16:04] tami5 opened #295 "Can't evaluate forms when they are folded"
Hey @liquidz, is it possible to fix this.
![iced-vim-issue](https://user-images.githubusercontent.com/65782666/100633097-af7b1480-333e-11eb-9a2e-fc6030b150cc.gif)

Thanks

[2020-11-30 20:30] liquidz commented on #295
@tami5 Oh, nice catch!
I'll have a look, but it may not be easy I think

[2020-12-01 13:25] tami5 opened #296 "Error when trying to disconnect then reconnecting to babashka repl"
Hey @liquidz

When running `InstantConnect babashka` then Doing `Disconnect` and   `InstantConnect babashka` I get the following error

[code]

Also does reconnect work also for babashka?

Thanks

[2020-12-01 20:26] liquidz commented on #296
@tami5 Thanks for your reporting!

It seems neovim specific problem. (reconnecting works with vim)

[2020-12-02 21:05] liquidz commented on #296
@tami5 I tried to fix.
Could you try `dev` branch?

[2020-12-02 21:11] liquidz commented on #295
It may be fixed by using `getline` instead of visual mode.

[2020-12-02 21:28] liquidz commented on #295
@tami5 Could you try `dev` branch?
It may be fixed (WIP)

[2020-12-03 02:45] liquidz commented on #295
Oh, had broken. sorry
I fixed but it may be buggy yet.

[2020-12-03 02:54] liquidz commented on #295
a45e9f1 is breaking `IcedFormat` command...

[2020-12-03 12:18] tami5 commented on #296
On it

[2020-12-03 12:30] tami5 commented on #295
Works well for me. I think that fixes this issue. Thanks so much @liquidz

[2020-12-03 12:42] tami5 commented on #296
Reconnect after doing instant connect with babashka and clojure :

[code]

[2020-12-03 12:49] liquidz commented on #296
Currently IcedReconnect will use same port number for reconnecting.
So IcedReconnect cannot use for instant connection for now.

[2020-12-03 12:57] tami5 commented on #296
Oh I see, so disconnecting and then InstantConnect should work? Let me try

[2020-12-03 12:59] tami5 commented on #296
Yep works well. Thanks

[2020-12-03 21:28] liquidz commented on #295
@tami5 Sorry a45e9f1 moves to `bugfix/eval-folded-code` branch once, and I reverted `dev` branch.

a45e9f1 breaks processes which depends on [gv](https://vim-jp.org/vimdoc-en/visual.html#gv),
so I'll look for another solution...

[2020-12-04 18:43] nbardiuk opened #297 "Store evaluation result in a register"
Some times I reach into stdout buffer to copy the result of last evaluation. I was wondering if it is in the scope of the plugin to store evaluation results in a register.

From the user perspective it could be set up in different ways:
* optional config to always store the last result in a specific register (like g:iced#eval#mark_at_last)
* a command that reads register letter and evals into it (

[2020-12-04 21:22] liquidz commented on #297
@nbardiuk Thanks for your suggestion!
It's very interesting.

I like this one the closest to the Vim way.
I tried to update `<Plug>(iced_eval)` operator experimentally.

Could you try `"x<Leader>ee` (default mapping) or custom mapping like below in [feature/register](https://github.com/liquidz/vim-iced/tree/feature/register) branch?
[code]

[2020-12-05 08:06] nbardiuk commented on #297
Great! I've tested diffferent scenarios

* `nmap ee <Plug>(iced_eval)` and call  `"eeeaf` - stores result in register `e` :+1:
*  `set clipboard=""` `nmap ee <Plug>(iced_eval)` and call  `eeaf`- does not store result in registers :+1:
* `set clipboard=unnamedplus` `nmap ee <Plug>(iced_eval)` and call it `eeaf`- stores result in register `+` :question:
* `nmap ee "e<Plug>(iced_eval)` and call `eeaf

[2020-12-05 21:43] liquidz commented on #297
@nbardiuk Thanks for your testing!

It seems to be Vim's specification.
https://vim-jp.org/vimdoc-en/eval.html#v:register

Nice catch! I fixed it in `feature/register` branch.

[2020-12-05 23:18] liquidz commented on #297
https://github.com/liquidz/vim-iced/blob/feature/register/autoload/iced/operation.vim#L33
For now, only `"` register is skipped.

[2020-12-06 10:23] nbardiuk commented on #297
Works great!

I am curious whether you will add register support to other eval operations.
It is not critical, having an eval with register, I can compose eval_and_print for myself .

[2020-12-09 10:32] liquidz commented on #297
@nbardiuk Sorry for late reply.
I have no plan to add register support to other operations for now.

[2020-12-09 21:32] liquidz commented on #297
I merged to `dev` branch.
I'll cut a new release in this weekend.

[2020-12-11 22:29] liquidz commented on #297
Closed by #299

[2020-12-11 22:29] #297 closed

[2020-12-11 22:30] liquidz commented on #296
Closed by #299

[2020-12-11 22:30] #296 closed

[2020-12-11 22:31] liquidz commented on #295
I'll try to use vim-sexp's `af` text object
https://github.com/guns/vim-sexp/blob/master/doc/vim-sexp.txt#L72

[2020-12-11 23:58] tami5 commented on #295
Thats nice. Thanks @liquidz

[2020-12-12 08:04] liquidz commented on #295
@tami5 I force updated `bugfix/eval-folded-code` branch.

It seems work well for now, but I'll continue to test more.

[2020-12-15 21:25] liquidz commented on #295
Hmm.. `af` text object is 4x slower than current process on large code base 😢
I cannot merge to `master` / `dev` with this performance.

Current workaround is to overwrite `<Leader>et` mapping as follows.
[code]

This mapping is using a feature as same as `af` text object, so as I said, it canbe slow on large code base.

[2020-12-16 20:49] liquidz opened #300 "Popup stdout"
Branched from https://github.com/liquidz/vim-iced/issues/291#issuecomment-735310376

[2020-12-16 21:03] tami5 commented on #300
:heart_eyes: :heart_eyes:  :heart_eyes:

[2020-12-18 22:29] liquidz commented on #300
prototype
![output](https://user-images.githubusercontent.com/6941/102667072-de610980-41cb-11eb-8b29-2fa245c6f51e.gif)

[2020-12-18 22:44] tami5 commented on #300
Oh wow very minimal I like it. Ideas:

- Syntax highlighting
- print hello world as a string like `"Hello world"`
- keep popup until user move cursor
- wrap long lines
- have one size (in terms of width)
- have a title like : `;; eval (println "hello\nworld)"`

Well done @liquidz great progress

[2020-12-18 23:18] liquidz commented on #300
@tami5

I think it isn't suitable for async output.

[code]

As a same reason, it isn't suitable for async output.
It's not impossible, but the process will be complicated.

[2020-12-19 00:18] tami5 commented on #300
@liquidz whats more important is that stdout buffer becomes interactive recording not println function but also the output of evaluating forms in general. As it can be a good place to test/evaluate things out without effects the main buffer.

[2020-12-22 21:22] liquidz commented on #300
@tami5 Sorry for late reply.

At first, we should consider the roles of "stdout buffer" and "popup stdout"(temporary) separately.
For me, the role of "popup stdout" is to notice that standard output was there.
In other words, a trigger to refer to "stdout buffer" as needed.

A small amount of output can be checked by "popup stdout".
However, the display area of "popup stdout" is limited, so "stdou

[2020-12-22 21:42] tami5 commented on #300
Oh sorry for mixing the two together.

Very good point, we need to direct our attention to the role of "popup stdout".

I think I begin to see what you are making the popup stdout role to be, and I belive it is to go hand in hand with the virtual text.

Looking forward for improvement on "stdout buffer" :D, it just sometime long maps with the virtual text isn't sufficient . Thanks @liquidz

[2020-12-23 00:30] tami5 opened #301 "Autoconnecting issue"
Hey @liquidz

Somehow I did something that might of resulted in a bug. To reporduce:

- iced repl
- IcedConnect
- Eval -main
- run -main
- runs okay, finishes, then here the issue I get autoconnecting message
- Any trials to connect again or eval again fail.

[code]

Thanks

[2020-12-23 12:06] liquidz commented on #301
@tami5 `(shutdown-agents)` should be the cause.
https://clojuredocs.org/clojure.core/shutdown-agents

`shutdown-agents` will affect `future`, `pmap`, etc.., and it also leads to shutdown nREPL server as follows.

[code]

So you should not evaluate `(shutdown-agents)` on nREPL.

[2020-12-23 13:58] tami5 commented on #301
😝 That was so dumb on my part. Thanks for clarifying.

[2020-12-23 13:58] #301 closed

[2020-12-24 05:40] tomgeorge opened #302 "Certain features don't work when connecting to a remote nrepl server"
I'm trying to run an iced repl and run my application in kubernetes via [skaffold](https://skaffold.dev/).  I have a patched version of `iced` that does not pass `--interactive` to `nrepl.cmdline`:

[code]

My dockerfile looks like this:

[code]

Then I set a static port in `.nrepl.edn`:

[code]

and do `kubectl port-forward svc/my-app 12345`, and an `:IcedConnect 12345`

This allows me to do eval

[2020-12-24 06:10] liquidz commented on #302
@tomgeorge Thanks for your reporting!

Did you read following documents?
* https://liquidz.github.io/vim-iced/#docker
* https://liquidz.github.io/vim-iced/#configuration_docker

[g:iced#nrepl#path_translation](https://liquidz.github.io/vim-iced/vim-iced.html#g:iced#nrepl#path_translation) option may help you.

[2020-12-24 14:58] tomgeorge commented on #302
I did not see those, thank you for showing me.

I'm not really sure from the docs what `g:iced#nrepl#path_translation` does.  It seems like in the example

[code]

All references to `/root` locally get translated to `$HOME`?  Does this only apply when you are bind-mounting files into a docker container with `-v`?  I'm using a kubernetes pod with no bind-mounting like in docker, `skaffold` is copyi

[2020-12-25 22:56] liquidz commented on #302
Ah, It may not be the path translation problem, sorry.
Are you sure that the var which you'd like to refer documents is evaluated?

If so, could you execute `:let g:iced#debug = v:true` command?
Then please try to do `:IcedDocumentOpen` again, and tell me the results of `:messages` command.

[2020-12-31 00:03] liquidz commented on #300
Closed by #304

[2020-12-31 00:03] #300 closed

[2020-12-31 00:05] liquidz commented on #236
vital.vim is more maintainable

[2020-12-31 00:05] #236 closed

[2021-01-13 05:00] tomgeorge commented on #302
I'm closing this, as it's not an issue for me anymore.  Thanks!

[2021-01-13 05:00] #302 closed

[2021-01-21 21:55] nbardiuk opened #309 "Wrap option for document popup"
Documentation for java symbols is long string without line breaks which get cut at the right endge of the popup.

![1611265110](https://user-images.githubusercontent.com/381992/105415870-39ee3f00-5c31-11eb-9e29-d7909af998a5.png)

As I understand cider/orchard [parses javadoc](https://github.com/clojure-emacs/orchard/blob/master/src/orchard/java/parser.clj#L144) from html content. Unfortunately htm

[2021-01-21 22:07] liquidz commented on #309
@nbardiuk Thanks for your reporting!

It seems `maxwidth` is not calculated correctly. I'll fix it.
https://github.com/liquidz/vim-iced/blob/2.7.4/autoload/iced/component/popup/vim.vim#L91

[2021-01-21 22:25] nbardiuk commented on #309
Great! Forgot to mention that I am using neovim 0.4.4

[2021-01-22 23:37] liquidz commented on #309
@nbardiuk I tried to fix in `dev` branch.

[2021-01-23 07:57] nbardiuk commented on #309
@liquidz I've tried the dev branch. It fixed the issue for me. Thank you 👍🏻

[2021-01-23 22:21] liquidz commented on #309
Thanks for your confirmation!
I just cut a new release.

[2021-01-23 22:21] #309 closed

[2021-02-18 09:37] hamann opened #313 "Code formatting doesn't work with babashka nrepl"
With default code formatting settings being connected to babashka nrepl just does nothing. As a workaround I constantly update vimrc to set `joker` when being in bb environment and change it again otherwise.

[2021-02-18 09:56] liquidz commented on #313
@hamann Default formatter does not support babashka nrepl for now.
Default formatter uses iced-nrepl which is a nrepl middleware and babashka nrepl does not support to use custom nrepl middleware.
https://github.com/liquidz/iced-nrepl

So you should use custom formatter. (I'm using cljstyle for all my/work projects)

[2021-02-18 10:46] hamann commented on #313
Ok, thanks for the answer. I'll have a look at cljstyle

[2021-02-18 10:46] #313 closed

[2021-02-20 17:05] Futurile opened #314 "Vim-iced alters yank with clipboard unnamedplus"
Vim-iced seems to be over-riding Vim's normal yank and paste functionality:

- If I yank or cut a part of a comment Vim-iced will select the whole comment.
- If I try and yank or cut a part of a function (single line) it will select the whole comment.
- If I try and paste something in from the system clipboard it pastes in the function that it previously yanked.

My clipboard is set to unamedplus,

[2021-02-20 21:33] liquidz commented on #314
@Futurile
vim-iced should not override yank and paste.
There are no default mappings about yank and paste.
https://github.com/liquidz/vim-iced/blob/2.3.2/ftplugin/clojure.vim#L345

Could you try that the problem can be reproduced or not with minimal configuration?
https://liquidz.github.io/vim-iced/#minimal_configuration

[2021-03-12 15:27] Deraen opened #318 "Option to choose selector"
Hi,

I have both FZF and Vim-clap installed and I'd prefer to use Clap for selector in Vim-iced.

Looking at autoload/iced/component/selector.vim there doesn't seem to be option to choose the selector currently.

[2021-03-12 20:34] liquidz commented on #318
@Deraen Indeed! I'll add the option.

[2021-03-12 22:17] liquidz commented on #318
@Deraen Just released v3.0.1
Please refer the following section
https://liquidz.github.io/vim-iced/vim-iced.html#g%3Aiced%23selector%23search_order

[2021-03-13 09:53] Deraen commented on #318
Thanks, I can confirm this works.

[2021-03-13 20:41] liquidz commented on #318
Thanks for your confirmation!

[2021-03-13 20:41] #318 closed

[2021-03-15 23:26] mizlan opened #322 "Command to evaluate entire buffer?"
Is there a command to evaluate the entire buffer? Something like `C-c C-k` in Emacs if that helps.

[2021-03-15 23:30] liquidz commented on #322
@mizlan `<Leader>eb` will evaluate the current buffer
https://liquidz.github.io/vim-iced/vim-iced.html#%3AIcedRequire
https://liquidz.github.io/vim-iced/#cheatsheet

[2021-03-15 23:33] mizlan commented on #322
Ah, I was confused by the word "require." Thanks for the lightning-fast response!

[2021-03-15 23:33] #322 closed

[2021-03-25 19:11] mizlan opened #325 "Possible to use this without a project?"
Is it possible to use vim-iced functionality without a project? I am editing some single-file Clojure files as scripts and don't want to build full project structure for it. I understand that some of the functionality may be limited, but is there anything that can be used? I cannot start a `iced repl` since there is no project.

[2021-03-25 19:45] nbardiuk commented on #325
As workaround, you can create a deps.edn file without dependencies as a simple "project"

[code]

[2021-03-25 21:54] liquidz commented on #325
@mizlan You can use [:IcedInstantConnect](https://liquidz.github.io/vim-iced/vim-iced.html#%3AIcedInstantConnect)

[2021-03-25 23:08] mizlan commented on #325
Thank you.

[2021-03-25 23:08] #325 closed

[2021-04-23 21:09] liquidz opened #331 "Replace UndefAll by cider-nrepl's op"
https://github.com/clojure-emacs/cider-nrepl/pull/698

[2021-04-27 14:06] NoahTheDuke opened #335 "Installation fails without specifying branch"
Hey all! I just realized I haven't been using the latest version because of the switch from "master" branch to "main", so I deleted `~/.vim/plugged/vim-iced` and then opened vim and ran `:PlugInstall` and got this error:

[code]

If I change the Plug invocation to `Plug 'liquidz/vim-iced', {'for': 'clojure', 'branch': 'main'}`, `:PlugInstall` works again.

Should this be mentioned in the installat

[2021-04-27 20:33] liquidz commented on #335
@NoahTheDuke Thanks for your reporting!

In my environment, I couldn't reproduce the problem.

Are you sure that your vim-plug is latest?
https://github.com/junegunn/vim-plug/pull/1007

[2021-04-28 13:58] NoahTheDuke commented on #335
You are correct, that was the issue! Thanks for pointing me in the right direction.

[2021-04-28 13:58] #335 closed

[2021-05-05 10:57] igrep opened #338 ""No available JS runtime." by shadow-cljs"
# Problem

Very similar to https://github.com/liquidz/vim-iced/issues/249#issuecomment-676190085, but isn't fixed even after accessing to `localhost:9630`.

# My Environment

OS: Linux 4.19.0-16-amd64 (Debian 10.9)
Neovim: NVIM v0.5.0-dev+1285-g0150cc416
shadow-cljs server: 2.12.5 (According to a line by `npx shadow-cljs browser-repl`. See below for details)

And I guess it's not related, but I'm

[2021-05-05 11:12] liquidz commented on #338
@igrep You are accessing to shadow-cljs management server(9630 port), but you should access to dev-http server.

Could you confirm the shadow-cljs's quick start steps?
https://github.com/thheller/shadow-cljs#quick-start

[2021-05-05 11:24] igrep commented on #338
Oh, sorry. I've followed the Quick Start in a wrong way!

[2021-05-05 11:24] #338 closed

[2021-05-31 23:05] liquidz opened #343 "Support more accurate jumping to def for keywords"
c.f. https://github.com/clj-kondo/clj-kondo/issues/1159

[2021-06-11 16:33] noahmoss opened #344 "Automatically connect to nREPL rather than presenting multiple choices"
Hi there, thanks for the great work on this plugin! Last night I tried installing it and learning the basics and it's very nice so far.

I've set up auto connection using the example ftplugin provided in the docs:
[code]

However, when I open Vim, I'm presented with a menu to choose between nREPL and shadow-cljs, and I have to press enter to choose the nREPL:
<img width="172" alt="image" src="http

[2021-06-11 21:18] liquidz commented on #344
@noahmoss Thank you opening a issue!

Currently no.
But indeed, it's tired sometimes, so I can add a option for it.

Since vim-iced uses `.shadow-cljs/nrepl.port` to determine if it can connect to shadow-cljs, so the front-end nREPL server should be up and running.

When you run `yarn build-watch`, `yarn build-watch:cljs` and `shadow-cljs watch app` are run, and `shadow-cljs watch app` should star

[2021-06-11 21:42] noahmoss commented on #344
That would be great if it's something you could add!

Awesome! Small world :)

[2021-06-11 21:45] liquidz commented on #344
@noahmoss I tried to add `g:iced#nrepl#connect#prefer` option in [dev](https://github.com/liquidz/vim-iced/tree/dev) branch. (Docs and help are not available yet)

With `let g:iced#nrepl#connect#prefer = 'nrepl'`, you can avoid selecting `nREPL` manually.
But this option may be differ from projects, so it should be good to use [vim-localrc](https://github.com/thinca/vim-localrc).

[2021-06-11 22:49] noahmoss commented on #344
Just tried it and it works great, thanks!

Another small feature request: would it be possible to have an option to add new namespaces in sorted order when using `IceAddNs`? It seems that currently it only inserts new namespaces at the bottom of the list. Alternatively, a separate command to sort the namespaces would be great. (I can open a new issue for this if you'd prefer)

[2021-06-12 06:51] liquidz commented on #344
@noahmoss
IcedCleanNs can be used to sort namespaces.
https://liquidz.github.io/vim-iced/vim-iced.html#%3AIcedCleanNs

Another way, I'm using cljstyle as a custom formatter, and it makes you possible to sort namespaces when executing  IceAddNs command.
https://liquidz.github.io/vim-iced/#formatting_customize

[2021-06-12 15:25] noahmoss commented on #344
@liquidz That makes sense, thanks!

[2021-06-14 21:23] liquidz commented on #343
closed by #345

[2021-06-14 21:23] #343 closed

[2021-06-14 21:25] liquidz commented on #344
@noahmoss Just released ver 3.5.0 #345

[2021-07-02 18:11] noahmoss opened #347 "Having trouble connecting to shadow-cljs nrepl"
Hi @liquidz!

I'm trying to setup vim-iced to work on some clojurescript in https://github.com/metabase/metabase, using shadow-cljs. I'm having trouble getting it to work since my knowledge of this area is currently very surface-level.

When I follow [the instructions in the docs](https://liquidz.github.io/vim-iced/#clojurescript_shadow_cljs), `iced repl app` (where `app` is my build id) gives me

[2021-07-02 21:57] liquidz commented on #347
@noahmoss Thanks for your reporting!

The `iced repl` command will automatically search project files (such as project.clj and shadow-cljs.edn) and launch the appropriate REPL for the project.

When multiple projects are found, `iced repl` command prefer project.clj.
So it seems to fail starting the shadow-cljs's nREPL.

Could you try the following command?
[code]

There is a lack of documentation

[2021-07-02 22:20] liquidz commented on #347
@noahmoss oh, thank you so much for your sponsoring!!

[2021-07-02 23:00] noahmoss commented on #347
@liquidz I ran `iced repl --force-shadow-cljs app` and it prompted me to create `.nrepl.edn`, then started up the nREPL successfully.

Then, I opened a cljs file. After a moment it printed `CLJS repl has started.` But then when I try to evaluate a form, this is printed to stdout:
[code]

[2021-07-02 23:06] liquidz commented on #347
@noahmoss Did you access your local metabase from browser before you connecting repl?

https://liquidz.github.io/vim-iced/#clojurescript_shadow_cljs

[2021-07-02 23:37] noahmoss commented on #347
@liquidz I'm a bit confused about this. We're currently not using shadow-cljs for the full frontend, just for a small amount of shared code. Here's the full output of `iced repl --force-shadow-cljs app` with nothing else running:

[code]

I see in the [shadow-cljs docs](https://shadow-cljs.github.io/docs/UsersGuide.html#nREPL) that it normally also starts an HTTP server, but that doesn't seem to b

[2021-07-03 00:03] liquidz commented on #347
@noahmoss ah sorry, I overlooked build target.
To be available JS runtime, you need to inspect as follows instead of accessing from browser.
https://github.com/liquidz/merr/blob/main/Makefile#L16

[2021-07-03 00:25] noahmoss commented on #347
@liquidz What path do I provide for `node --target`?

As far as I can tell, cljs code is compiled to a large number of different files in `metabase/frontend/src/cljs`. There's no `target/js/compiled/index.js`.

[2021-07-03 01:58] liquidz commented on #347
Hmm, I'll have a look

[2021-07-03 02:25] liquidz commented on #347
It seems a matter of shadow-cljs when targets `node-module`.

https://webcache.googleusercontent.com/search?q=cache:fatymZ-azcEJ:https://clojurians-log.clojureverse.org/shadow-cljs/2020-08-25+&cd=1&hl=ja&ct=clnk&gl=jp

thheller says:

[2021-07-03 03:33] liquidz commented on #347
Hmm... I have no idea...

@noahmoss It may be good to ask how to enable JS runtime with `npm-module` at `#shadow-cljs` channel in clojurians slack.

[2021-07-04 05:12] noahmoss commented on #347
Interesting, thanks for your help. I'll try to chase this thread and see if I can get anywhere.

[2021-07-12 18:57] smnplk opened #350 "Trouble with connecting to shadow-clj repl via clojure cli."
I am sorry I have to ask this here, but I don't think anyone could answer this one on StackOwerflow, because it's a niche project.

My version of iced is  3.5.2

So my setup is the following. I am using a  clojure cli tool, so I have a deps.edn project file

[code]

Although I am using shadow-cljs compiler from the clojure cli tool. So I can run a shadow-cljs watcher like this:

**clj -M:shadow-cl

[2021-07-12 21:24] liquidz commented on #350
@smnplk

You should have shadow-cljs.edn for `app` configuration.
So the easiest way is to start a REPL from shadow-cljs.edn like follows.

* shadow-cljs.edn
[code]
* deps.edn
[code]
* Start REPL
[code]
* Open your local server to enable JS runtime
  * c.f. https://github.com/thheller/shadow-cljs#quick-start
* Open your source file and execute `:IcedConnect`
  * CLJS repl should start automaticall

[2021-07-12 23:43] smnplk commented on #350
Starting REPL from clj directly will not inject them, and correct behaviros cannot be expected.

I was aware of that.  I didn't try to connect to REPL ran with that command.

   So the easiest way is to start a REPL from shadow-cljs.edn like follows.

I have it.  But the alias part in shadow-cljs.edn (referencing my :shadow-cljs alias in deps.edn) was missing.
In my shadow-cljs.edn i had **:deps t

[2021-07-12 23:49] liquidz commented on #350
@smnplk Good to hear that!

You can use `g:iced#nrepl#auto#does_switch_session` option to switch sessions automatically.
https://liquidz.github.io/vim-iced/vim-iced.html#g%3Aiced%23nrepl%23auto%23does_switch_session

[2021-07-14 17:51] noahmoss commented on #347
I didn't totally figure this out (don't actually need to edit cljs files right now) but I'll close this issue since I think the rest is related to `shadow-cljs` rather than `vim-iced`.

[2021-07-14 17:54] noahmoss opened #351 "Error when clearing stdout buffer in neovim"
If I open the stdout buffer, print some data to it, and then press `<leader>sl` to clear the buffer, I see the following error.

[code]

Pressing enter does clear the buffer, so it's not a huge deal, but a bit annoying that this pops up every time.

I'm on nvim 0.4.4

[2021-07-14 20:51] liquidz commented on #351
@noahmoss Thanks for your reporting!

Hmm, I've never seen such error in my daily usages.
With [minimal configuration](https://liquidz.github.io/vim-iced/#minimal_configuration), I cannot reproduce the problem.

But I can confirm the problem with [your dotfiles](https://github.com/noahmoss/dotfiles), so I'll try to examine it in detail.

[2021-07-14 20:58] noahmoss commented on #351
@liquidz Thank you! If it's a problem with my dotfiles I'll try to dig into it myself later today. :)

[2021-07-14 21:10] liquidz commented on #351
@noahmoss As far as I've tried, commenting out the following plugin will fix the problem.
https://github.com/noahmoss/dotfiles/blob/8fb5fab3aa4c531571c9267a72642c952556a398/.vim/vimrc#L191

This plugin affects any buffers, so It may be a problem.
https://github.com/axelf4/vim-strip-trailing-whitespace/blob/9a93dd653806ba3f886b2cf92111b663ce8d44bd/plugin/strip_trailing_whitespace.vim#L235-L239

[2021-07-14 21:25] #347 closed

[2021-07-14 21:36] noahmoss commented on #351
Brilliant, looks like that plugin was the issue, thank you!

[2021-07-14 21:36] #351 closed

[2021-07-18 05:20] bootleq opened #353 "Evaluating code breaks due to long popup output"
Currently the `iced#nrepl#eval#code` can break during its default callback `iced#nrepl#eval#out` throwing `'vim-iced: too long texts to show in popup'`. Seems we have no handling for this error and lead the workflow to be halted, hooks like `evaluated` won't trigger, though the eval is in fact successful.

### Steps to reproduce:
(Vim 8.2.3174, vim-iced 3.5.4)
Execute `:IcedEval (apply str (repeat

[2021-07-18 21:22] liquidz commented on #353
@bootleq Thanks for your reporting!

We are using the `throw` code in `IcedDocumentPopupOpen` and `IcedSourcePopupShow` as follows.
https://github.com/liquidz/vim-iced/blob/0116d293f607883c83ed7a53d0dbccf77ab287c7/autoload/iced/nrepl/document.vim#L141-L157

In this case, virtual text component which uses popup component is the problem.
And virtual text should be able to show texts of any length fo

[2021-07-19 00:33] bootleq commented on #353
Thank you very much!

I didn't notice the catch in those Popup functions, just tried the new version and confirmed fixed.

[2021-07-19 00:33] #353 closed

[2021-07-30 17:35] karolinepauls opened #355 "Does the scope of clj-kondo support include displaying linting results?"
I followed the steps in https://liquidz.github.io/vim-iced/vim-iced.html#g%3Aiced_enable_clj_kondo_analysis. I set:
[code]

I was expecting to see linting errors when saving Clojure files with syntax errors. That didn't happen. I could see the cached files though. It looks like clj-kondo is only used internally for better IcedDefJump, etc.

Is it true that running clj-kondo as a linter isn't and w

[2021-07-30 19:47] liquidz commented on #355
@karolinepauls

Right.
We had a linting functionality, but it is removed because linting is not a role of vim-iced I think. #159

I'm using coc.nvim for linting with clj-kondo.
https://github.com/clj-kondo/clj-kondo/blob/master/doc/editor-integration.md#cocnvim

[2021-07-31 06:53] bootleq opened #356 "Trouble getting correct testing filename"
Hi, I am not sure this is an vim-iced issue, but in some situation the `filename` reported after `iced#nrepl#op#cider#test_var_query` is incorrect.

1. With `IcedTestUnderCursor`, I always get `{vim's pwd}/NO_SOURCE_FILE`.
2. With `IcedTestNs`, it is good if vim's pwd is the project root, but if not, I get fullpath with *"vim pwd"* + *"path relate to vim pwd"* (i.e., the part between pwd and testi

[2021-07-31 21:56] liquidz commented on #356
@bootleq Thanks for your reporting!

Hmm.. It is no problem in my environment, and I have no idea about the cause.
Is it possible to tell me minimal steps to reproduce the problem with [minimal configuration](https://liquidz.github.io/vim-iced/#minimal_configuration)?

It's OK, but it is better to clarify that the number is a line number like `;; some-err-text (Line: 42)`
Colon separated message m

[2021-08-01 06:16] bootleq commented on #356
I've created a testing project https://github.com/bootleq/vim_iced_debug_boilerplate
Follow the README should be able to reproduce my situation.

Colon separated message may be confused in the followin case.

Agree, I am willing to try and prepare a PR later, thank you.

[2021-08-01 21:15] liquidz commented on #356
@bootleq Thanks! I confirmed to reproduce the problem.

In your testing project, there are 2 problems.
- `:paths` does not contain "test" directory
  - https://github.com/bootleq/vim_iced_debug_boilerplate/blob/cab4af6862666d6a6a1e955818609ef74f6a0dd9/clj/deps.edn#L1
  - You should add `"test"` to `:paths`
- The namespace `bootleq.iced-debug.core-test` does not match to the filename
  - https://gi

[2021-08-02 12:59] bootleq commented on #356
Thank you very much! I can confirm that is the real cause.

[2021-08-02 22:10] noahmoss opened #359 "Logs not showing up in repl when using Clojure CLI"
Hi @liquidz!

At [Metabase](https://github.com/metabase/metabase) we just switched from using Leiningen to using the Clojure CLI with deps.edn.

vim-iced is working pretty smoothly still, however I have one issue: logs are not showing up in the repl when I start it with `iced repl --without-cljs -A:dev`. Logs do work properly, however, when I start the repl with `clj -A:dev`, so it seems like migh

[2021-08-02 23:56] liquidz commented on #359
@noahmoss Thanks for your reporting!

As far as I tried, it seems [cider-nrepl](https://github.com/clojure-emacs/cider-nrepl)'s `wrap-debug` middleware is the cause.
I'll dig into the problem later.

As a workaround, editing `/your-iced-directory/bin/iced` like follows will show logs in your REPL (but you cannot use debugging feature of course)
[code]

[2021-08-03 00:06] noahmoss commented on #359
Awesome, thanks!

[2021-08-03 05:46] #356 closed

[2021-08-03 14:26] karolinepauls commented on #355
Thanks for your answer.

I must be a dino for still using Syntastic.

I'd like to add a note to the docs that the kondo integration is an internal thing and not a user-facing linter, for this reason the task is still valid after the question has been answered.

[2021-08-03 21:32] liquidz commented on #359
@noahmoss Instead of cider-nrepl 0.26.0, 0.25.11 seems work well.
So I downgraded cider-nrepl to 0.25.11 for now, and cut a new release #360
Could you try latest version?

I'll continue to dig into cider-nrepl's problem.

[2021-08-03 21:40] noahmoss commented on #359
@liquidz Yes, downgrading seems to have fixed it, thanks!

[2021-08-27 19:02] guilhermedallanol opened #362 "Evaluation result/return not showing in rEPL"
Hey everyone, I'm new to this so bare with me, please. 😅

When I evaluate something in any `. clj` file inside a Lein project, this is what get in return:

![image](https://user-images.githubusercontent.com/861870/131175964-831677a1-e47a-4323-9ddf-12071eb2d2a9.png)

I'm not sure if that's a problem in my end or what, but shouldn't I see the `42` in my repl as well?

This is a simple example, but t

[2021-09-02 13:24] #362 closed

[2021-09-02 13:43] guilhermedallanol opened #364 "Custom test form names for State Flow"
Hey everyone, me again.

The company that I'm currently working developed its own testing framework called [state-flow](https://github.com/nubank/state-flow). When I try to run one of those tests, I get this error:
[code]
After asking around, they told me that for `conjure`, they solve this problem with this:

`let g:conjure#client#clojure#nrepl#test#current_form_names = ['deftest', 'defflow']`

I

[2021-09-02 21:52] liquidz commented on #364
@guilhermedallanol In my environment, state-flow works.

[code]

vim-iced uses metadata to check the current form is test or not.
And `defflow` defines a var with `:test` metadata as same as `clojure.test/deftest`, so vim-iced can handle vars with `defflow` as test vars.

BTW, I found a bug in the handling of errors in the state-flow test, so I'll fix it.

[2021-09-02 22:23] liquidz commented on #364
More specifically, it was a bug about handling test results which does not contain file path information.
I've fixed it in dev branch for now.
https://github.com/liquidz/vim-iced/tree/dev

[2021-09-03 17:39] guilhermedallanol commented on #364
@liquidz I just noticed what I was doing wrong. The `:require` was only allowing `flow` insteade of `defflow`. When I added `defflow` it worked as expected.

Thank you again!

[2021-09-25 10:11] noomly opened #366 "Add split size customization option to stdout buffer"
First of all, thank you for the work you're doing with vim-iced, it's a neat tool and it fits almost perfectly in my workflow out of the box.

I have been reading the `vim-iced-customizing-stdout-buffer` section of the help page in an attempt to configure the way the stdout buffer is splitted. It seems that while it is possible to customize the position/direction of the new split, it's not possibl

[2021-09-25 21:39] liquidz commented on #366
@noomly Thanks for your suggestion!

Yeah, it's easy and the feature seems good to me too.
I just cut a new release(#367) and added the following option :)
https://liquidz.github.io/vim-iced/vim-iced.html#g%3Aiced%23buffer%23stdout%23size

Could you try the latest version?

[2021-09-27 22:01] noomly commented on #366
I just tried and it works perfectly for my use case, thank you for your reactivity!

I'm closing this issue. I just had another unrelated question, is there any reason why this split is designed to only display stdout? What about stderr? Should I open another issue about this?

[2021-09-27 22:01] #366 closed

[2021-09-27 22:07] liquidz commented on #366
@noomly Thanks for your confirmation!

Ah sorry, it's a naming problem.
stdout buffer also displays stderr outputs.

[code]

[2021-10-20 13:28] amalantony opened #369 "Getting "Error detected while processing function iced#repl#connect[7]" while running :IcedConnect on Neovim"
I've installed vim-iced, and started the iced repl. When I try to connect from inside Neovim with :IcedConnect I get the following error: (screenshot attached)
[code]

![Screenshot_2021-10-20-185131](https://user-images.githubusercontent.com/1932506/138101808-85e16376-8fa4-40ac-9161-6768a00f9503.png)

Any help is appreciated!

[2021-10-20 13:52] amalantony commented on #369
Fixed this error. This was happening since I did not have pynvim installed on my machine.

Running `pip3 install --user pynvim` fixed the issue for me.

[2021-10-20 13:52] #369 closed

[2021-11-10 17:24] b-ryan opened #370 "Popup window gets stuck when using babashka"
Hey there,

I'm trying to use vim-iced with babashka and the popup window gets stuck. For example, upon initial connection the stdout popup hangs around

![image](https://user-images.githubusercontent.com/1183997/141162240-5ad60df9-5ac4-42f6-a9da-5580b3709d76.png)

If I then open up docs with K, the stdout popup disappears and now the docstring popup stays there.

[2021-11-10 17:25] b-ryan commented on #370
Same behavior when using socket repl and nrepl.

[2021-11-10 21:09] liquidz commented on #370
@b-ryan Thanks for your report!
Hmm, I couldn't reproduce the problem with vim 8.2.3458 and nvim 0.6.0-dev+1483-g75f758b99.

Could you tell me
* Which version of vim/nvim are you using?
* Can you reproduce the problem with the minimal configuration?
  * https://liquidz.github.io/vim-iced/#minimal_configuration

[2021-12-07 09:27] Cnly commented on #370
I'm using a Clojure CLI repl and the floating window can get stuck if I press `K` in the stdout buffer. It won't go away until I switch to another window. File buffers seem to be fine: they close as soon as I press `j` or `k`.

This is on `NVIM v0.5.1` and it's reproducible with the minimal config.

[2021-12-08 08:41] liquidz commented on #370
@Cnly Thanks for your reporting!

I'll have a look this weekend.

[2021-12-10 08:40] pinealan opened #372 "Use of (in-ns) evals on BufEnter in nrepl connections"
By my uneducated guessed, the evaluation of `(in-ns <name-space>)`on the BufEnter hook is necessary for connections to socket repls to provide a smooth experience for when user initiated `eval` commands are triggered. However is it necessary for nREPL connections too?

With nREPL, it seems an `:ns` parameter can accompany  the [`:eval`](https://nrepl.org/nrepl/0.8/ops.html#eval) op achieve the sam

[2021-12-10 08:54] liquidz commented on #372
@pinealan Thanks for your suggestion!

I've tried to use `ns` parameter, and I got a problem with figwheel-main.
https://github.com/liquidz/vim-iced/issues/225#issuecomment-674450587

But I only checked it a year ago, so we should check it again.

[2021-12-10 20:58] liquidz commented on #370
@Cnly I could reproduced the problem and fixed.
Could you try [dev](https://github.com/liquidz/vim-iced/tree/dev) branch?

[2021-12-11 12:03] Cnly commented on #370
@liquidz I can confirm it's fixed. Thank you!

[2021-12-11 21:43] liquidz commented on #370
@Cnly Thanks for your confirmation! Just released v3.7.1 #373

[2021-12-14 07:37] vemv opened #374 "Bump refactor-nrepl"
Hi there!

the 3.X series of refactor-nrepl contains a lot of improvements and no breaking changes.

You might appreciate upgrading it.

https://metaredux.com/posts/2021/10/26/clj-refactor-3-0.html

https://github.com/clojure-emacs/refactor-nrepl/blob/master/CHANGELOG.md

Cheers - V

[2021-12-14 07:41] liquidz commented on #374
@vemv Thanks!
I have a plan to update it after currently fixing issues are over.

[2021-12-17 21:11] liquidz commented on #372
@pinealan Sorry for late action.

I re-enabled using `ns` parameter in [eval-ns-parameter-again](https://github.com/liquidz/vim-iced/tree/feature/eval-ns-parameter-again) branch, and it seems working well for me in normal nREPL, shadow-cljs, and figwheel-main.
In this branch, vim-iced does not use `in-ns`, so could you try [eval-ns-parameter-again](https://github.com/liquidz/vim-iced/tree/feature/

[2021-12-18 16:55] Cnly commented on #214
This will be a super useful feature! Especially when iced needs its own middleware in addition to cider-nrepl (which I expect to be found in most places with nrepl). Supporting dynamic middleware loading will make it possible for iced to connect to basically every running nREPL instances.

For the downsides, I learned from this article https://lambdaisland.com/blog/2021-11-24-making-nrepl-cider-mo

[2021-12-23 03:55] bootleq commented on #359
We should still consider upgrading cider-nrepl, recently I am suffering problem like https://github.com/clojure-emacs/cider-nrepl/issues/719, where re-throwed exception may block iced from reporting test error.

I am using aforementioned workaround editing `bin/iced` to specify cider-nrepl `0.27.3` currently.

[2021-12-23 04:04] liquidz commented on #359
@bootleq Sorry to bother you.
Yes, we should.
I'll test the latest cider-nrepl this weekend.

[2021-12-24 19:33] liquidz commented on #359
@bootleq
I just updated cider-nrepl to 0.27.4 in `dev` branch for now.

@noahmoss
Currently, logs seem to be shown on REPL in my environment.
Could you try `dev` branch?

[2021-12-24 19:50] liquidz commented on #372
@pinealan Hi! If you have a time, could you try [eval-ns-parameter-again](https://github.com/liquidz/vim-iced/tree/feature/eval-ns-parameter-again) branch?

[2021-12-28 16:02] noahmoss commented on #359
@liquidz Just tried the `dev` branch and logging seems to be working!

[2021-12-28 21:06] liquidz commented on #359
@noahmoss Thanks for your confirmation!

[2021-12-28 21:38] liquidz commented on #374
Just released v3.7.3 #377

[2021-12-28 21:38] #374 closed

[2021-12-28 21:39] liquidz commented on #359
@noahmoss @bootleq Just released v3.7.3 #377

[2021-12-28 21:39] #359 closed

[2021-12-28 21:41] liquidz commented on #355
Feel free to reopen this issue :)

[2021-12-28 21:49] vemv commented on #374
Cheers, hope it keeps being of use!

[2021-12-29 13:40] pinealan commented on #372
@liquidz sorry for the delay and thanks for the update! The branch works perfectly for me on Vimr 0.35 + Neovim 0.5.1 + nREPL 0.8.3 on both JVM clojure and figwheel-main.

[2021-12-29 21:31] liquidz commented on #372
@pinealan Thanks for your confirmation!

[2022-01-04 16:33] b-ryan commented on #370
Sorry for the poor bug report and radio silence. I finally got around to trying to find out more info here. My version of nvim is v0.4.3

I discovered this behavior only happens when I am editing a file that doesn't have the `.clj` file extension, for example if you make a file named `test-it` with these contents:

[code]

For now I can rename my file to get around the issue.

[2022-01-04 22:10] liquidz commented on #370
@b-ryan Thanks!
Ah, this is the cause.
https://github.com/liquidz/vim-iced/blob/d65495122c95b8c1bf447c6c5d2c00e745269e5e/ftplugin/clojure.vim#L343-L351

Hmm, I'll find the way to work with it.

[2022-01-08 22:52] liquidz opened #379 "Fix document nightly deploy"
netlify cli fails

[2022-01-08 23:07] liquidz commented on #225
Closed by #380

[2022-01-08 23:07] #225 closed

[2022-01-08 23:07] liquidz commented on #372
@pinealan Just released v3.7.4 #380

[2022-01-08 23:07] #372 closed

[2022-01-09 23:02] liquidz commented on #370
@b-ryan Fixed.
Could you try [dev](https://github.com/liquidz/vim-iced/tree/dev) branch?

[2022-01-10 16:07] b-ryan commented on #370
Yep, it's fixed on the dev branch.

[2022-01-10 21:03] liquidz commented on #379
colors may be the cause
https://github.com/netlify/cli/releases/tag/v8.6.17

[2022-01-11 21:25] liquidz commented on #370
@b-ryan Thanks for your confirmation!
I just released v3.7.5 #381

[2022-01-11 21:25] #370 closed

[2022-01-11 21:26] liquidz commented on #379
Fixed
https://github.com/liquidz/vim-iced/runs/4781519304?check_suite_focus=true

[2022-01-11 21:26] #379 closed

[2022-01-11 21:26] #364 closed

[2022-01-11 21:28] #350 closed

[2022-01-15 12:07] sittim opened #382 "How to disable LSP in iced_stdout - QUESTION"
My iced_stdout window gets lots of errors any way to disable clojure-ls/vim-lsp in the iced_stdout window?

![image](https://user-images.githubusercontent.com/8825037/149621150-991388d3-2641-4ad4-ac21-332f8a216bdc.png)

[2022-01-15 21:58] liquidz commented on #382
@sittim Thanks for your reporting!

Are you sure that you are using vim-iced v3.7.0 or earlier?
This problem should have been fixed with v3.7.1.
https://github.com/liquidz/vim-iced/blob/main/CHANGELOG.adoc#371-2021-12-12

[2022-01-17 03:38] sittim commented on #382
@liquidz, here is my version:
![image](https://user-images.githubusercontent.com/8825037/149704371-ed0ef18e-6868-4ef8-9072-05ad489e55e2.png)

It gets upgraded through `:PlugUpdate` command.

[2022-01-17 03:54] liquidz commented on #382
@sittim Thanks!
Hmm.. just to clarify, is vim-lsp the latest?
vim-iced is using this flag.
https://github.com/prabirshrestha/vim-lsp/pull/983

[2022-01-17 03:59] sittim commented on #382
OK, per installation instruction, the executable folder for vim-iced is in `~/.vim/plugged` folder.  I had both VIM and NeoVIM installed.  Both installations had vim-iced.  I was not updating the `~/.vim/plugged` folder, but instead I was updating the `~/.config/neovim/plugged` folder.  I removed the older installation, the `~/.vim/plugged/vim-iced` folder and now it looks better except the first

[2022-01-17 04:01] sittim commented on #382
As far as LSP, I keep it fresh, almost daily.

[2022-01-17 04:44] liquidz commented on #382
@sittim Thanks for your confirmation!
I couldn't reproduce the problem vim(8.2.4118) and nvim(0.6.1) in my environment...

But may this hook help you?
[code]

[2022-01-20 11:48] sittim commented on #382
I get this when I use these lines:

[code]

[2022-01-20 22:20] liquidz commented on #382
What lines? The following lines?
[code]

The above code don't affect to REPL, so the exception should be another problem.
Please open another issue with concrete steps to reproduce.

[2022-02-09 21:10] liquidz opened #383 "Support clj-kondo's protocol-impls analysis"
https://github.com/clj-kondo/clj-kondo/tree/master/analysis

[2022-02-15 14:28] formsandlines opened #384 "After connect, vim.highlight.on_yank seems to be triggered automatically (Neovim)"
After connecting to an nREPL, as soon as I type any character that is not either one of `(){}[]'\` (probably some others too), the top-level form (with all its nested forms) gets highlighted as if a yank has occurred.

I have tried to disable all the other plugins that might cause a conflict (even coc, treesitter and my theme), but this seems to be an issue with vim-iced. It also doesn't matter wh

[2022-02-15 21:26] liquidz commented on #384
@formsandlines Thanks for your reporting!

Hmm, weird..
`g:iced_enable_auto_document` can yank the current form on every input (We do have some delays), but it is only up to the current form, not the top-level form.
https://liquidz.github.io/vim-iced/vim-iced.html#g%3Aiced_enable_auto_document

Otherwise, there should be no process that yanks on every input.

I'll have a look some more.

[2022-02-16 21:14] liquidz commented on #383
Closed by #385

[2022-02-16 21:14] #383 closed

[2022-02-16 21:36] liquidz commented on #384
@formsandlines I've tested with minimal configuration + `vim.highlight.on_yank`.
https://liquidz.github.io/vim-iced/#minimal_configuration

Auto indenting may be the cause.
https://liquidz.github.io/vim-iced/#auto_indenting

With the minimal configuration, top level form will be highlighted when `<CR>` entered.
So I think there is another plugin that is trying to indent every time you type.

[2022-02-18 18:27] formsandlines commented on #384
Yeah, this makes sense. I tried to disable all my plugins that involve indentation:
- lukas-reineke/indent-blankline.nvim
- michaeljsmith/vim-indent-object
and have also set "let g:iced_enable_auto_indent = v:false", but the problem still remains.

I'll also try the minimal configuration when I have some time, maybe I missed something.

Is there something else I could try?

[2022-03-02 22:48] liquidz opened #387 "Treat metadata when evaluating"
Currently [evaluating outer list and outer top list](https://liquidz.github.io/vim-iced/#evaluation_ranges) does not treat metadata.

`^:abcd [1|]` ( `|` is the cursor position)

cf. https://github.com/BetterThanTomorrow/calva/issues/1551

[2022-03-16 02:24] mars0i commented on #80
Thanks for this--I wanted to turnoff paredit, too.  Runnijng `let g:sexp_filetypes=''` does disable it.

I'm a little bit confused, though.  It looks like setting `g:sexp_filetypes` to an empty string means that vim-sexp won't provide anything in Clojure source files, as if vim-sexp was not there.  Is paredit the only thing that vim-sexp provides? Will `let g:sexp_filetypes=''` affect the operatio

[2022-03-16 02:39] liquidz commented on #80
@mars0i
As far as I saw [vim-sexp's help](https://github.com/guns/vim-sexp/blob/12292941903d9ac8151513189d2007e1ccfc95f0/doc/vim-sexp.txt#L655-L656), `let g:sexp_filetypes=''` leads disabling **only mappings**.
So vim-sexp is there without default mappings, and you can add mappings by yourself explicitly.

vim-iced uses vim-sexp via function, so `let g:sexp_filetypes=''` should not affect to vim-i

[2022-03-16 03:49] mars0i commented on #80
Thanks @liquidz.  I see.  Great--that's good to know that it won't affect vim-iced.  Thanks very much for responding quickly.

Ah, I understand now: The help file shows how to define all of the mappings that are normally enabled.  So I can copy and edit that example if I want.  Or leave it without the mappings.  OK, good.

(Do you think it would be worth including a line in the docs about disablin

[2022-03-16 03:55] liquidz commented on #80
@mars0i It would be nice to have documentation.
PR is very welcomed! (Tips section may be good)

[2022-03-16 04:25] mars0i commented on #80
OK, good.  I've written a draft but it's late here and I will look at it again tomorrow.  I should set up github pages site so I can see how it looks.

[2022-03-16 04:32] mars0i opened #389 "Change color of temporary evaluation result?"
When evaluating code with `<Leader>ei`, `<Leader>et`, etc., the result is temporarily displayed to the right of the line after "=> ".  The displayed result is in the the `Comment` color from the user's color scheme.

Is there a way to change this color to make it different from the `Comment` color?  Since comments are static parts of a source file, and the evaluation result is temporary, for me it

[2022-03-16 04:43] liquidz commented on #389
@mars0i Thanks for your reporting!
Currently, the highlight setting for popuped results are fixed.

You can change it at below:
https://github.com/liquidz/vim-iced/blob/a28cd81990d46816b599f10cafe69ea7e4898f9f/autoload/iced/nrepl/eval.vim#L57

But it may be good to add option for modifing the highlight setting.

[2022-03-16 15:50] mars0i commented on #389
Thanks @liquidz!  I've changed it now.

I like the idea of adding an option for changing the highlight setting for the evaluation results.  I suppose that some people might want to be able to configure other colors, such as the stdout popup.  (I don't need to change the stdout popup colors.)

[2022-03-16 19:02] mars0i opened #390 "Documentation functions work intermittently"
I'm experiencing a strange error, and I can't report it properly because I can't localize the problem yet.    I can point to specific files that illustrate the problem in the repo I'm working on, but I don't know what is different about them.  I'm reporting the issue now because maybe you will have some suggestions about experiments to perform.    Thank you!

The problem seems to be this:

1. When

[2022-03-16 22:28] liquidz commented on #390
@mars0i Thanks for your reporting!
I'll have a look later.
If you have a minimal project to reproduce, please let me know.

[2022-03-17 04:28] mars0i commented on #390
Thanks @liquidz .

Here is an example  project that is not very minimal, but it illustrate the problem--if the problem shows up on your system.  (It's so strange that I will not be surprised if you can't reproduce it easily.)

The attached zip file contains a tar file with a Leiningen repo.  You won't be able to run the source files under src/clj, but that's not necessary to see the problem.  (I c

[2022-03-17 05:26] mars0i commented on #390
I forgot to say that now the problem's occurring consistently in the same way (i.e. in walks.clj) whether I use `--instant` or not.  Except that in the original repo, if I start the repl with `IcedJackIn`, sometimes the problem occurs in fileio.clj.  I don't know.  It is weird.

(I found two timeout variables in vim-iced.  At one point I tried increasing both of them to 10000 to see if that made a

[2022-03-18 22:02] liquidz commented on #390
@mars0i Sorry for late reply.

In my environment, `[mason "20"]` in project.clj could not be found, and I failed to run `iced repl`
[code]

If successful, `walks.clj` requires `utils.math` and `utils.random` these are not contained to attached file, so I can't evaluate the file.

When I removed `[mason "20"]`, `utils.math` and `utils.random` to **force** to run `iced repl`, I can get documentation

[2022-03-18 23:18] mars0i commented on #390
Sorry about the MASON dependency.  I should have removed that.  And I didn't realize that you had to be able to evaluate the file--I was trying not to burden you by sending a whole repo.   But now I understand:

OK!  So what I didn't realize is that each file has to be `require`d by `IcedRequire` before vim-iced will know about the definitions.  (hat is also why I thought I could give you a partia

[2022-03-18 23:18] #390 closed

[2022-03-18 23:25] liquidz commented on #389
@mars0i I added `g:iced#eval#popup_highlight` option to change the highlight setting to `dev` branch.
https://vim-iced-nightly.netlify.app/vim-iced.html#g%3Aiced%23eval%23popup_highlight

Could you try [dev](https://github.com/liquidz/vim-iced/tree/dev) branch?

[2022-03-19 03:31] mars0i commented on #389
Yes, works perfectly for me.  Thank you!

[2022-03-19 21:21] liquidz commented on #389
@mars0i Just released v3.8.3 #392

[2022-03-19 21:42] mars0i commented on #389
Excellent--thanks.  I just updated.

[2022-03-31 10:05] Liverm0r opened #393 "Notifications (for stdout results) fold, so I can't see the result."
I gues I have to put an `autocmd` for `set nofoldenable`, but can't figure out what event for autocmd should be. Or may be there is another solution for this.

![image](https://user-images.githubusercontent.com/14236531/161032845-fca4f820-6b12-493c-8b52-74d92b13f14e.png)

[2022-03-31 10:13] Liverm0r commented on #393
Or may be the problem is in that the notification reasult is shown in one line...

[2022-03-31 12:31] liquidz commented on #393
@Liverm0r Thanks for your reporting!

Hmm, I've never seen such a behavior.

Could you tell me a minimal configuration to reproduce your problem?
cf. https://liquidz.github.io/vim-iced/#minimal_configuration

[2022-03-31 12:57] Liverm0r commented on #393
The only line I've found on my vimrc that matters (withtout it works fine) is this one
[code]

Interesting part. I can reproduce the problem on my linux manjaro pc with this line and I can't reproduce it on my osx m1. Same dotfiles, same plugins.
My dotfiles ([vimrc_common](https://github.com/Liverm0r/dotfiles/blob/76278d9d85286228748ceabc3e20eaa51ef1af7b/.vimrc_common#L121)).

[2022-03-31 13:29] Liverm0r commented on #393
![Screenshot_20220331_162733](https://user-images.githubusercontent.com/14236531/161065967-ff06a568-28a2-4cea-abec-d8a9546ebcbf.png)

[code]

[2022-03-31 21:15] liquidz commented on #393
@Liverm0r Thanks!
I could reproduce the problem with non M1 mac and nvim (couldn't with vim interestingly)
I'll try to fix it :)

[2022-04-01 21:31] #389 closed

[2022-04-01 22:13] liquidz commented on #393
@Liverm0r Just released v3.8.4 #394
It should fix this problem ☺️

[2022-04-02 03:56] mars0i opened #395 "IcedJackIn overwrites .lein-repl-history"
I'm still experimenting with how I want to use vim-iced, but often I have been using `IcedJackIn` (via `<leader>"`) instead of connecting to `iced repl`.  I'm running `lein repl` with special profiles, and running computations that take a long time.  So it's made more sense to run vim-iced's REPL separately using `IcedJackIn`.  I run experiments  with `vim-iced`, but then for the long-running comp

[2022-04-02 06:24] Liverm0r commented on #393
Thank you!

[2022-04-02 20:47] liquidz commented on #395
@mars0i Thanks for your reporting!

Agreed.

Hmm, I have no idea for now.
I'll have to take a look at Leiningen's code.

[2022-04-02 23:22] mars0i commented on #395
Thanks @liquidz!  I'll try to figure out whether there's configuration setting for rlwrap that can be set.  Maybe it's possible to pass something to Leiningen that modify that.

[2022-04-03 22:26] noahmoss opened #396 "IcedAddNs errors"
Hi @liquidz!

When I run `IcedAddNs` I get the following errors:

[code]

It then prompts me to enter an alias for the namespace but the default value is `-1`. If I enter an alias and continue hitting enter, it eventually adds the namespace to the file, but with no indentation, so it's not actually in the `require` form.

[2022-04-03 23:19] liquidz commented on #396
@noahmoss Thanks for your reporting!
Hmm, it may be the cause that nREPL returned unexpected values.

Cound you execute the following command to enable debug mode, and reproduce the same errors?
[code]

With debug mode, requests and responses are outputted to `:message`, so please tell me the result of `:message` result if you can.

[2022-04-03 23:35] noahmoss commented on #396
@liquidz Just did that, the results are here: https://gist.github.com/noahmoss/7ecbcf8a427ec11150085d23fd4b062a

Maybe this has something to do with `ns-list` returning a large number of namespaces? I'm running into this while working in the Metabase codebase which is a very large project.

[2022-04-03 23:59] liquidz commented on #396
@noahmoss Thanks!
I'll try to find the cause.

[2022-04-04 03:16] liquidz commented on #396
@noahmoss The response form from refactor-nrepl seems to be unexpected.
I've fix the problem in `dev` branch, so could you try?

[2022-04-04 12:41] Liverm0r commented on #355
May be it should be mirrored to the [docs](https://liquidz.github.io/vim-iced/) because it wasn't obvious.
I set up clj-kondo with [this](https://github.com/clj-kondo/clj-kondo/blob/master/doc/editor-integration.md#ale) instruction from clj-kondo, but before I spend like 15 minutes trying to figure it out with vim-iced only.

[2022-04-04 17:42] noahmoss commented on #396
@liquidz That fixed it, thank you!

I have another somewhat related issue, though I'm not sure if you would consider it a bug or not. When I run `IcedCleanNs` it totally reformats the `ns` form.

For example if I start with this:
[code]

After running `IcedCleanNs` it changes it to this:
[code]

I don't think it did this in the past, so maybe there was a recent change that affected this? My expect

[2022-04-04 21:19] liquidz commented on #396
@noahmoss Thanks for your confirmation!

refactor-nrepl seems to return reformatted ns form since v3.0.0
- https://github.com/clojure-emacs/refactor-nrepl/blob/master/CHANGELOG.md#bugs-fixed
  - > clean-ns should conform to the style guide: (:require in the ns form should be followed by a newline.

and vim-iced start to use refactor-nrepl v3.1.0 since v3.7.3
- https://github.com/liquidz/vim-iced/b

[2022-04-04 21:27] liquidz commented on #396
@noahmoss I added g:iced#refactor#insert_newline_after_require option for trial.

Could you try the following setting in the latest `dev` branch?
[code]

[2022-04-04 21:55] liquidz commented on #355
@Liverm0r Thanks for your suggestion!

Indeed. I'll add documents for this.
If you have a time, you can submit a PR if you like :)

[2022-04-05 00:17] liquidz opened #397 "Support unix socket connections"
- vim can open a channel on a Unix domain socket
  - https://github.com/vim/vim/commit/cc766a85f460ebb7f8c915508447548b5f5b99bc
- nrepl already supports unix domain socket
  - https://github.com/nrepl/nrepl/pull/204

[2022-04-05 00:43] noahmoss commented on #396
@liquidz Nice, that solved it, thanks! 👍

[2022-04-05 03:41] stevejmp opened #398 "Docs: `g:iced#nrepl#ns#refresh_after_fn` example uses `refresh_before_fn` var name"
The [example usage](https://github.com/liquidz/vim-iced/blob/f9c7281e8b0b925560c8d529482f757ce6564714/doc/vim-iced.txt#L2095) for `g:iced#nrepl#ns#refresh_after_fn` uses the wrong variable name:

[code]

It should be
[code]

[2022-04-05 03:49] #398 closed

[2022-04-05 22:49] liquidz commented on #396
@noahmoss Just released v3.8.5 #400

[2022-04-05 22:49] #396 closed

[2022-04-05 22:49] #393 closed

[2022-04-08 19:46] mars0i commented on #395
Here's more info.  I'm not certain about everything, but the following seems correct to me.

The history file name for a project or for running lein outside of a project are coded here:
https://github.com/technomancy/leiningen/blob/master/src/leiningen/repl.clj#L123

The filename is passed to `reply` as the value of `:history-filename`, which seems to be what actually writes the history file. http

[2022-04-09 03:24] mars0i opened #401 "Is IcedJackIn isolated from other repls?"
I'm not sure whether I'm thinking about this correctly, or whether I understand what is happening.

I'm running exploratory simulations in a repl that take a long time to run.  I run `lein repl` (not `iced repl`) in a terminal, and then I use `IcedJackIn` so that vim-iced still works, and so that I can do quick experiments with my code while the long process is running.  So I end up with two repl

[2022-04-09 22:08] liquidz commented on #401
@mars0i Thanks for your reporting!

Ah, I think I may have found the cause.
`IcedJackIn` waits for a successful auto connection from the `.nrepl-port` file after starting a REPL internally.
https://github.com/liquidz/vim-iced/blob/ecb65532a1b8a91df86ac7b3240fd11a4b08c185/autoload/iced/nrepl/connect.vim#L110-L115

If vim-iced detects an existing `.nrepl-port` file and auto connects to it before the

[2022-04-09 22:43] liquidz commented on #401
@mars0i In `dev` branch, I fixed to check the last modification time for `.nrepl-port` file for trial.
Could you try?

[2022-04-10 05:13] mars0i commented on #401
@liquidz, thanks for responding so quickly!  Yes, deleting the .nrepl-port file makes the problem go away, and the new dev branch seems to fix it.  (I don't know where the SLF4J messages go, but I don't care.  I don't want to see them anyway!)  Thank you.  Excellent.

(Yes, `IcedConnect` says "iced-nrepl is not enabled. Please launch repl with the `iced repl` command." as expected when I run `lein

[2022-04-11 21:19] liquidz commented on #401
@mars0i Just released v3.8.6 #402
`.nrepl-port` files no longer need to be deleted :)

[2022-04-11 21:19] #401 closed

[2022-04-11 21:21] liquidz commented on #395
Could this problem be related to #401 ?

[2022-04-11 23:12] mars0i commented on #395
Good question.  I'll check.